<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Effect_ChouKaShenWuJianChuXian_flare01.png</key>
			<dict>
				<key>width</key>
				<integer>256</integer>
				<key>height</key>
				<integer>256</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Effect_ChouKaShenWuJianChuXian_Ring01.png</key>
			<dict>
				<key>width</key>
				<integer>256</integer>
				<key>height</key>
				<integer>256</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>258</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Effect_ChouKaShenWuJianChuXian_Ring02.png</key>
			<dict>
				<key>width</key>
				<integer>256</integer>
				<key>height</key>
				<integer>256</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>516</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Effect_ChouKaShenWuJianChuXian_00004.png</key>
			<dict>
				<key>width</key>
				<integer>126</integer>
				<key>height</key>
				<integer>125</integer>
				<key>originalWidth</key>
				<integer>126</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>774</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Effect_ChouKaShenWuJianChuXian_00005.png</key>
			<dict>
				<key>width</key>
				<integer>126</integer>
				<key>height</key>
				<integer>125</integer>
				<key>originalWidth</key>
				<integer>126</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>258</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Effect_ChouKaShenWuJianChuXian_00006.png</key>
			<dict>
				<key>width</key>
				<integer>126</integer>
				<key>height</key>
				<integer>125</integer>
				<key>originalWidth</key>
				<integer>126</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>128</integer>
				<key>y</key>
				<integer>258</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Effect_ChouKaShenWuJianChuXian_00007.png</key>
			<dict>
				<key>width</key>
				<integer>126</integer>
				<key>height</key>
				<integer>125</integer>
				<key>originalWidth</key>
				<integer>126</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>256</integer>
				<key>y</key>
				<integer>258</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Effect_ChouKaShenWuJianChuXian_00008.png</key>
			<dict>
				<key>width</key>
				<integer>126</integer>
				<key>height</key>
				<integer>125</integer>
				<key>originalWidth</key>
				<integer>126</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>384</integer>
				<key>y</key>
				<integer>258</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Effect_ChouKaShenWuJianChuXian_00009.png</key>
			<dict>
				<key>width</key>
				<integer>126</integer>
				<key>height</key>
				<integer>125</integer>
				<key>originalWidth</key>
				<integer>126</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>512</integer>
				<key>y</key>
				<integer>258</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Effect_ChouKaShenWuJianChuXian_00010.png</key>
			<dict>
				<key>width</key>
				<integer>126</integer>
				<key>height</key>
				<integer>125</integer>
				<key>originalWidth</key>
				<integer>126</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>640</integer>
				<key>y</key>
				<integer>258</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Effect_ChouKaShenWuJianChuXian_BaoDian.png</key>
			<dict>
				<key>width</key>
				<integer>64</integer>
				<key>height</key>
				<integer>64</integer>
				<key>originalWidth</key>
				<integer>64</integer>
				<key>originalHeight</key>
				<integer>64</integer>
				<key>x</key>
				<integer>768</integer>
				<key>y</key>
				<integer>258</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Effect_ChouKaShenWuJianChuXian_light01.png</key>
			<dict>
				<key>width</key>
				<integer>256</integer>
				<key>height</key>
				<integer>90</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>90</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>385</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Effect_ChouKaShenWuJianChuXian_Mask.png</key>
			<dict>
				<key>width</key>
				<integer>10</integer>
				<key>height</key>
				<integer>10</integer>
				<key>originalWidth</key>
				<integer>10</integer>
				<key>originalHeight</key>
				<integer>10</integer>
				<key>x</key>
				<integer>258</integer>
				<key>y</key>
				<integer>385</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>Effect_ChouKaShenWuJianChuXian0.png</string>
			<key>realTextureFileName</key>
			<string>Effect_ChouKaShenWuJianChuXian0.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>