<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2/Effect_RenWuLoading-mao2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1125,1126},{290,236}}</string>
                <key>offset</key>
                <string>{12,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,24},{290,236}}</string>
                <key>sourceSize</key>
                <string>{320,260}</string>
            </dict>
            <key>2/Effect_RenWuLoading-mao2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,1284},{288,240}}</string>
                <key>offset</key>
                <string>{13,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,20},{288,240}}</string>
                <key>sourceSize</key>
                <string>{320,260}</string>
            </dict>
            <key>2/Effect_RenWuLoading-mao2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1119,1364},{284,246}}</string>
                <key>offset</key>
                <string>{15,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,14},{284,246}}</string>
                <key>sourceSize</key>
                <string>{320,260}</string>
            </dict>
            <key>2/Effect_RenWuLoading-mao2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,1526},{282,250}}</string>
                <key>offset</key>
                <string>{16,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,10},{282,250}}</string>
                <key>sourceSize</key>
                <string>{320,260}</string>
            </dict>
            <key>2/Effect_RenWuLoading-mao2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1109,1778},{280,254}}</string>
                <key>offset</key>
                <string>{17,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,6},{280,254}}</string>
                <key>sourceSize</key>
                <string>{320,260}</string>
            </dict>
            <key>2/Effect_RenWuLoading-mao2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,1778},{278,260}}</string>
                <key>offset</key>
                <string>{18,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,0},{278,260}}</string>
                <key>sourceSize</key>
                <string>{320,260}</string>
            </dict>
            <key>2/Effect_RenWuLoading-mao2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1139,438},{308,224}}</string>
                <key>offset</key>
                <string>{3,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,36},{308,224}}</string>
                <key>sourceSize</key>
                <string>{320,260}</string>
            </dict>
            <key>2/Effect_RenWuLoading-mao2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,360},{308,226}}</string>
                <key>offset</key>
                <string>{3,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,34},{308,226}}</string>
                <key>sourceSize</key>
                <string>{320,260}</string>
            </dict>
            <key>2/Effect_RenWuLoading-mao2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,588},{306,228}}</string>
                <key>offset</key>
                <string>{4,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,32},{306,228}}</string>
                <key>sourceSize</key>
                <string>{320,260}</string>
            </dict>
            <key>2/Effect_RenWuLoading-mao2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1137,664},{304,228}}</string>
                <key>offset</key>
                <string>{5,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,32},{304,228}}</string>
                <key>sourceSize</key>
                <string>{320,260}</string>
            </dict>
            <key>2/Effect_RenWuLoading-mao2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,818},{302,230}}</string>
                <key>offset</key>
                <string>{6,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,30},{302,230}}</string>
                <key>sourceSize</key>
                <string>{320,260}</string>
            </dict>
            <key>2/Effect_RenWuLoading-mao2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1133,894},{298,230}}</string>
                <key>offset</key>
                <string>{8,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,30},{298,230}}</string>
                <key>sourceSize</key>
                <string>{320,260}</string>
            </dict>
            <key>2/Effect_RenWuLoading-mao2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,1050},{294,232}}</string>
                <key>offset</key>
                <string>{10,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,28},{294,232}}</string>
                <key>sourceSize</key>
                <string>{320,260}</string>
            </dict>
            <key>Effect_RenWuLoading_HX_C__000435.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,360},{1685,825}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1685,825}}</string>
                <key>sourceSize</key>
                <string>{1685,825}</string>
            </dict>
            <key>Effect_RenWuLoading_Ma.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1280,356}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,356}}</string>
                <key>sourceSize</key>
                <string>{1280,368}</string>
            </dict>
            <key>Effect_RenWuLoading_Smoken_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1230,1612},{146,115}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,4},{146,115}}</string>
                <key>sourceSize</key>
                <string>{158,127}</string>
            </dict>
            <key>Effect_RenWuLoading_Smoken_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,200},{148,117}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{148,117}}</string>
                <key>sourceSize</key>
                <string>{158,127}</string>
            </dict>
            <key>Effect_RenWuLoading_Smoken_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,319},{148,117}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,1},{148,117}}</string>
                <key>sourceSize</key>
                <string>{158,127}</string>
            </dict>
            <key>Effect_RenWuLoading_Smoken_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1347,1612},{146,115}}</string>
                <key>offset</key>
                <string>{6,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{146,115}}</string>
                <key>sourceSize</key>
                <string>{158,127}</string>
            </dict>
            <key>Effect_RenWuLoading_Smoken_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1113,1612},{148,115}}</string>
                <key>offset</key>
                <string>{5,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{148,115}}</string>
                <key>sourceSize</key>
                <string>{158,127}</string>
            </dict>
            <key>Effect_RenWuLoading_Smoken_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,2},{150,97}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,17},{150,97}}</string>
                <key>sourceSize</key>
                <string>{158,127}</string>
            </dict>
            <key>Effect_RenWuLoading_Smoken_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,101},{150,97}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,17},{150,97}}</string>
                <key>sourceSize</key>
                <string>{158,127}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Effect_RenWuLoading2.png</string>
            <key>size</key>
            <string>{1464,2047}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9ecb7bed4440b598d9ef4219e7ca5416:c39c9cba594d2fe3c68b0eb26c1037ea:b7b3a1e3036bbf4c3a9cc0da0bae9eb5$</string>
            <key>textureFileName</key>
            <string>Effect_RenWuLoading2.png</string>
        </dict>
    </dict>
</plist>
