<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1/Effect_RenWuLoading-mao1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{489,258}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,42},{489,258}}</string>
                <key>sourceSize</key>
                <string>{489,300}</string>
            </dict>
            <key>1/Effect_RenWuLoading-mao1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{487,258}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,40},{487,258}}</string>
                <key>sourceSize</key>
                <string>{489,300}</string>
            </dict>
            <key>1/Effect_RenWuLoading-mao1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,270},{459,268}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,16},{459,268}}</string>
                <key>sourceSize</key>
                <string>{489,300}</string>
            </dict>
            <key>1/Effect_RenWuLoading-mao1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,538},{457,268}}</string>
                <key>offset</key>
                <string>{15,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,14},{457,268}}</string>
                <key>sourceSize</key>
                <string>{489,300}</string>
            </dict>
            <key>1/Effect_RenWuLoading-mao1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,540},{453,270}}</string>
                <key>offset</key>
                <string>{17,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,10},{453,270}}</string>
                <key>sourceSize</key>
                <string>{489,300}</string>
            </dict>
            <key>1/Effect_RenWuLoading-mao1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,808},{449,270}}</string>
                <key>offset</key>
                <string>{19,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,9},{449,270}}</string>
                <key>sourceSize</key>
                <string>{489,300}</string>
            </dict>
            <key>1/Effect_RenWuLoading-mao1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,812},{445,270}}</string>
                <key>offset</key>
                <string>{21,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,7},{445,270}}</string>
                <key>sourceSize</key>
                <string>{489,300}</string>
            </dict>
            <key>1/Effect_RenWuLoading-mao1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,1080},{441,270}}</string>
                <key>offset</key>
                <string>{23,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,5},{441,270}}</string>
                <key>sourceSize</key>
                <string>{489,300}</string>
            </dict>
            <key>1/Effect_RenWuLoading-mao1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,522},{483,260}}</string>
                <key>offset</key>
                <string>{2,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,37},{483,260}}</string>
                <key>sourceSize</key>
                <string>{489,300}</string>
            </dict>
            <key>1/Effect_RenWuLoading-mao1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,784},{481,262}}</string>
                <key>offset</key>
                <string>{3,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,33},{481,262}}</string>
                <key>sourceSize</key>
                <string>{489,300}</string>
            </dict>
            <key>1/Effect_RenWuLoading-mao1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1048},{479,262}}</string>
                <key>offset</key>
                <string>{4,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,32},{479,262}}</string>
                <key>sourceSize</key>
                <string>{489,300}</string>
            </dict>
            <key>1/Effect_RenWuLoading-mao1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1312},{475,264}}</string>
                <key>offset</key>
                <string>{6,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,28},{475,264}}</string>
                <key>sourceSize</key>
                <string>{489,300}</string>
            </dict>
            <key>1/Effect_RenWuLoading-mao1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1578},{473,264}}</string>
                <key>offset</key>
                <string>{7,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,26},{473,264}}</string>
                <key>sourceSize</key>
                <string>{489,300}</string>
            </dict>
            <key>1/Effect_RenWuLoading-mao1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,2},{469,266}}</string>
                <key>offset</key>
                <string>{9,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,23},{469,266}}</string>
                <key>sourceSize</key>
                <string>{489,300}</string>
            </dict>
            <key>1/Effect_RenWuLoading-mao1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,2},{467,266}}</string>
                <key>offset</key>
                <string>{10,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,21},{467,266}}</string>
                <key>sourceSize</key>
                <string>{489,300}</string>
            </dict>
            <key>1/Effect_RenWuLoading-mao1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,270},{463,266}}</string>
                <key>offset</key>
                <string>{12,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,19},{463,266}}</string>
                <key>sourceSize</key>
                <string>{489,300}</string>
            </dict>
            <key>2/Effect_RenWuLoading-mao2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,1352},{314,220}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,40},{314,220}}</string>
                <key>sourceSize</key>
                <string>{320,260}</string>
            </dict>
            <key>2/Effect_RenWuLoading-mao2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1417,314},{312,222}}</string>
                <key>offset</key>
                <string>{1,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,38},{312,222}}</string>
                <key>sourceSize</key>
                <string>{320,260}</string>
            </dict>
            <key>2/Effect_RenWuLoading-mao2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1433,2},{310,224}}</string>
                <key>offset</key>
                <string>{2,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,36},{310,224}}</string>
                <key>sourceSize</key>
                <string>{320,260}</string>
            </dict>
            <key>3/Effect_RenWuLoading-mao3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,1084},{278,303}}</string>
                <key>offset</key>
                <string>{12,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,5},{278,303}}</string>
                <key>sourceSize</key>
                <string>{322,309}</string>
            </dict>
            <key>3/Effect_RenWuLoading-mao3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1383,812},{276,303}}</string>
                <key>offset</key>
                <string>{14,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,5},{276,303}}</string>
                <key>sourceSize</key>
                <string>{322,309}</string>
            </dict>
            <key>3/Effect_RenWuLoading-mao3_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1231,1117},{276,303}}</string>
                <key>offset</key>
                <string>{15,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,5},{276,303}}</string>
                <key>sourceSize</key>
                <string>{322,309}</string>
            </dict>
            <key>3/Effect_RenWuLoading-mao3_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,1364},{274,303}}</string>
                <key>offset</key>
                <string>{17,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,5},{274,303}}</string>
                <key>sourceSize</key>
                <string>{322,309}</string>
            </dict>
            <key>3/Effect_RenWuLoading-mao3_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1100,1395},{272,303}}</string>
                <key>offset</key>
                <string>{19,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,5},{272,303}}</string>
                <key>sourceSize</key>
                <string>{322,309}</string>
            </dict>
            <key>3/Effect_RenWuLoading-mao3_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,1574},{272,303}}</string>
                <key>offset</key>
                <string>{20,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,5},{272,303}}</string>
                <key>sourceSize</key>
                <string>{322,309}</string>
            </dict>
            <key>3/Effect_RenWuLoading-mao3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,1640},{280,303}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,5},{280,303}}</string>
                <key>sourceSize</key>
                <string>{322,309}</string>
            </dict>
            <key>3/Effect_RenWuLoading-mao3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1089,1669},{278,303}}</string>
                <key>offset</key>
                <string>{11,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,5},{278,303}}</string>
                <key>sourceSize</key>
                <string>{322,309}</string>
            </dict>
            <key>Effect_RenWuLoading_Smoken_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1401,628},{152,99}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,15},{152,99}}</string>
                <key>sourceSize</key>
                <string>{158,127}</string>
            </dict>
            <key>Effect_RenWuLoading_Smoken_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,1848},{152,99}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,16},{152,99}}</string>
                <key>sourceSize</key>
                <string>{158,127}</string>
            </dict>
            <key>Effect_RenWuLoading_Smoken_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,1848},{148,101}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,15},{148,101}}</string>
                <key>sourceSize</key>
                <string>{158,127}</string>
            </dict>
            <key>Effect_RenWuLoading_Smoken_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,1844},{150,103}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,14},{150,103}}</string>
                <key>sourceSize</key>
                <string>{158,127}</string>
            </dict>
            <key>Effect_RenWuLoading_Smoken_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,1844},{150,107}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{150,107}}</string>
                <key>sourceSize</key>
                <string>{158,127}</string>
            </dict>
            <key>Effect_RenWuLoading_Smoken_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1536,1117},{152,109}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,11},{152,109}}</string>
                <key>sourceSize</key>
                <string>{158,127}</string>
            </dict>
            <key>Effect_RenWuLoading_Smoken_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1405,1395},{148,111}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,10},{148,111}}</string>
                <key>sourceSize</key>
                <string>{158,127}</string>
            </dict>
            <key>Effect_RenWuLoading_Smoken_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1844},{146,113}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,9},{146,113}}</string>
                <key>sourceSize</key>
                <string>{158,127}</string>
            </dict>
            <key>Effect_RenWuLoading_YunGuangOne_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,1951},{170,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{170,73}}</string>
                <key>sourceSize</key>
                <string>{170,81}</string>
            </dict>
            <key>Effect_RenWuLoading_YunGuangOne_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,1951},{170,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{170,73}}</string>
                <key>sourceSize</key>
                <string>{170,81}</string>
            </dict>
            <key>Effect_RenWuLoading_YunGuangOne_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,1951},{170,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{170,73}}</string>
                <key>sourceSize</key>
                <string>{170,81}</string>
            </dict>
            <key>Effect_RenWuLoading_YunGuangOne_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,1953},{170,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{170,71}}</string>
                <key>sourceSize</key>
                <string>{170,81}</string>
            </dict>
            <key>Effect_RenWuLoading_YunGuangOne_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1394,1717},{170,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{170,71}}</string>
                <key>sourceSize</key>
                <string>{170,81}</string>
            </dict>
            <key>Effect_RenWuLoading_YunGuangOne_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1480,1545},{170,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{170,71}}</string>
                <key>sourceSize</key>
                <string>{170,81}</string>
            </dict>
            <key>Effect_RenWuLoading_YunGuangOne_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1467,1717},{170,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{170,71}}</string>
                <key>sourceSize</key>
                <string>{170,81}</string>
            </dict>
            <key>Effect_RenWuLoading_YunGuangOne_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1394,1889},{170,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{170,71}}</string>
                <key>sourceSize</key>
                <string>{170,81}</string>
            </dict>
            <key>Effect_RenWuLoading_YunGuangOne_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1401,729},{170,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{170,73}}</string>
                <key>sourceSize</key>
                <string>{170,81}</string>
            </dict>
            <key>Effect_RenWuLoading_YunGuangOne_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,1922},{170,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{170,73}}</string>
                <key>sourceSize</key>
                <string>{170,81}</string>
            </dict>
            <key>Effect_RenWuLoading_YunGuangOne_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1536,1271},{170,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{170,73}}</string>
                <key>sourceSize</key>
                <string>{170,81}</string>
            </dict>
            <key>Effect_RenWuLoading_YunGuangOne_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1540,1717},{170,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{170,71}}</string>
                <key>sourceSize</key>
                <string>{170,81}</string>
            </dict>
            <key>Effect_RenWuLoading_YunGuangOne_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,1949},{170,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{170,71}}</string>
                <key>sourceSize</key>
                <string>{170,81}</string>
            </dict>
            <key>Effect_RenWuLoading_YunGuangOne_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1182,1949},{170,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{170,71}}</string>
                <key>sourceSize</key>
                <string>{170,81}</string>
            </dict>
            <key>Effect_RenWuLoading_YunGuangOne_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1405,1545},{170,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{170,73}}</string>
                <key>sourceSize</key>
                <string>{170,81}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Effect_RenWuLoading1.png</string>
            <key>size</key>
            <string>{1661,2026}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b91bc425edca2ef36234f14b4605ea01:2ee1e7b6dcd0336719396ddcb7465ef2:60c542b2f0a0a0acdcda7e2d1fbcb49d$</string>
            <key>textureFileName</key>
            <string>Effect_RenWuLoading1.png</string>
        </dict>
    </dict>
</plist>
