<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>city_archer_walk_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,206},{113,81}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{113,81}}</string>
                <key>sourceSize</key>
                <string>{115,85}</string>
            </dict>
            <key>city_archer_walk_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,759},{115,79}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{115,79}}</string>
                <key>sourceSize</key>
                <string>{115,85}</string>
            </dict>
            <key>city_archer_walk_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,383},{115,79}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{115,79}}</string>
                <key>sourceSize</key>
                <string>{115,85}</string>
            </dict>
            <key>city_archer_walk_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,488},{115,81}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,81}}</string>
                <key>sourceSize</key>
                <string>{115,85}</string>
            </dict>
            <key>city_archer_walk_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,300},{115,81}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,81}}</string>
                <key>sourceSize</key>
                <string>{115,85}</string>
            </dict>
            <key>city_archer_walk_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,464},{113,81}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{113,81}}</string>
                <key>sourceSize</key>
                <string>{115,85}</string>
            </dict>
            <key>city_archer_walk_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,547},{113,81}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{113,81}}</string>
                <key>sourceSize</key>
                <string>{115,85}</string>
            </dict>
            <key>city_archer_walk_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,206},{115,81}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,81}}</string>
                <key>sourceSize</key>
                <string>{115,85}</string>
            </dict>
            <key>city_archer_walk_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,630},{113,79}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{113,79}}</string>
                <key>sourceSize</key>
                <string>{115,85}</string>
            </dict>
            <key>city_archer_walk_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,711},{113,79}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{113,79}}</string>
                <key>sourceSize</key>
                <string>{115,85}</string>
            </dict>
            <key>city_archer_walk_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,792},{113,79}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{113,79}}</string>
                <key>sourceSize</key>
                <string>{115,85}</string>
            </dict>
            <key>city_archer_walk_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,733},{113,81}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{113,81}}</string>
                <key>sourceSize</key>
                <string>{115,85}</string>
            </dict>
            <key>city_archer_walk_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,289},{113,79}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{113,79}}</string>
                <key>sourceSize</key>
                <string>{115,85}</string>
            </dict>
            <key>city_archer_walk_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,289},{113,79}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{113,79}}</string>
                <key>sourceSize</key>
                <string>{115,85}</string>
            </dict>
            <key>city_archer_walk_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,453},{113,79}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{113,79}}</string>
                <key>sourceSize</key>
                <string>{115,85}</string>
            </dict>
            <key>city_archer_walk_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,370},{113,81}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{113,81}}</string>
                <key>sourceSize</key>
                <string>{115,85}</string>
            </dict>
            <key>city_archer_walk_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,370},{113,81}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{113,81}}</string>
                <key>sourceSize</key>
                <string>{115,85}</string>
            </dict>
            <key>city_archer_walk_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,676},{115,81}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,81}}</string>
                <key>sourceSize</key>
                <string>{115,85}</string>
            </dict>
            <key>city_archer_walk_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,571},{115,79}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{115,79}}</string>
                <key>sourceSize</key>
                <string>{115,85}</string>
            </dict>
            <key>city_archer_walk_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,652},{115,79}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{115,79}}</string>
                <key>sourceSize</key>
                <string>{115,85}</string>
            </dict>
            <key>city_archer_walk_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,655},{115,79}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{115,79}}</string>
                <key>sourceSize</key>
                <string>{115,85}</string>
            </dict>
            <key>city_archer_walk_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,736},{115,79}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{115,79}}</string>
                <key>sourceSize</key>
                <string>{115,85}</string>
            </dict>
            <key>city_car_walk_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,660},{105,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,100}}</string>
                <key>sourceSize</key>
                <string>{105,100}</string>
            </dict>
            <key>city_car_walk_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,762},{105,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,100}}</string>
                <key>sourceSize</key>
                <string>{105,100}</string>
            </dict>
            <key>city_car_walk_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,284},{105,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,100}}</string>
                <key>sourceSize</key>
                <string>{105,100}</string>
            </dict>
            <key>city_car_walk_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,190},{105,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,100}}</string>
                <key>sourceSize</key>
                <string>{105,100}</string>
            </dict>
            <key>city_car_walk_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,96},{105,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,100}}</string>
                <key>sourceSize</key>
                <string>{105,100}</string>
            </dict>
            <key>city_car_walk_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,2},{105,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,100}}</string>
                <key>sourceSize</key>
                <string>{105,100}</string>
            </dict>
            <key>city_car_walk_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,2},{105,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,100}}</string>
                <key>sourceSize</key>
                <string>{105,100}</string>
            </dict>
            <key>city_car_walk_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,566},{105,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,100}}</string>
                <key>sourceSize</key>
                <string>{105,100}</string>
            </dict>
            <key>city_car_walk_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,472},{105,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,100}}</string>
                <key>sourceSize</key>
                <string>{105,100}</string>
            </dict>
            <key>city_car_walk_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,668},{105,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,100}}</string>
                <key>sourceSize</key>
                <string>{105,100}</string>
            </dict>
            <key>city_car_walk_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,770},{105,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,100}}</string>
                <key>sourceSize</key>
                <string>{105,100}</string>
            </dict>
            <key>city_car_walk_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,386},{105,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,100}}</string>
                <key>sourceSize</key>
                <string>{105,100}</string>
            </dict>
            <key>city_car_walk_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,292},{105,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,100}}</string>
                <key>sourceSize</key>
                <string>{105,100}</string>
            </dict>
            <key>city_car_walk_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,198},{105,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,100}}</string>
                <key>sourceSize</key>
                <string>{105,100}</string>
            </dict>
            <key>city_car_walk_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,104},{105,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,100}}</string>
                <key>sourceSize</key>
                <string>{105,100}</string>
            </dict>
            <key>city_car_walk_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,104},{105,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,100}}</string>
                <key>sourceSize</key>
                <string>{105,100}</string>
            </dict>
            <key>city_car_walk_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,574},{105,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,100}}</string>
                <key>sourceSize</key>
                <string>{105,100}</string>
            </dict>
            <key>city_cavalry_walk_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{116,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{116,92}}</string>
                <key>sourceSize</key>
                <string>{118,92}</string>
            </dict>
            <key>city_cavalry_walk_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,96},{116,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{116,92}}</string>
                <key>sourceSize</key>
                <string>{118,92}</string>
            </dict>
            <key>city_cavalry_walk_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,2},{116,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{116,92}}</string>
                <key>sourceSize</key>
                <string>{118,92}</string>
            </dict>
            <key>city_cavalry_walk_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,378},{114,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{114,92}}</string>
                <key>sourceSize</key>
                <string>{118,92}</string>
            </dict>
            <key>city_cavalry_walk_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{116,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{116,92}}</string>
                <key>sourceSize</key>
                <string>{118,92}</string>
            </dict>
            <key>city_cavalry_walk_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,96},{116,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{116,92}}</string>
                <key>sourceSize</key>
                <string>{118,92}</string>
            </dict>
            <key>city_cavalry_walk_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{116,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{116,92}}</string>
                <key>sourceSize</key>
                <string>{118,92}</string>
            </dict>
            <key>city_cavalry_walk_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{116,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{116,92}}</string>
                <key>sourceSize</key>
                <string>{118,92}</string>
            </dict>
            <key>city_cavalry_walk_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,190},{116,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{116,92}}</string>
                <key>sourceSize</key>
                <string>{118,92}</string>
            </dict>
            <key>city_cavalry_walk_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,96},{116,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{116,92}}</string>
                <key>sourceSize</key>
                <string>{118,92}</string>
            </dict>
            <key>city_cavalry_walk_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,2},{116,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{116,92}}</string>
                <key>sourceSize</key>
                <string>{118,92}</string>
            </dict>
            <key>city_cavalry_walk_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{116,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{116,92}}</string>
                <key>sourceSize</key>
                <string>{118,92}</string>
            </dict>
            <key>city_cavalry_walk_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,284},{116,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{116,92}}</string>
                <key>sourceSize</key>
                <string>{118,92}</string>
            </dict>
            <key>city_cavalry_walk_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,190},{116,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{116,92}}</string>
                <key>sourceSize</key>
                <string>{118,92}</string>
            </dict>
            <key>city_cavalry_walk_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,96},{116,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{116,92}}</string>
                <key>sourceSize</key>
                <string>{118,92}</string>
            </dict>
            <key>city_cavalry_walk_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,2},{116,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{116,92}}</string>
                <key>sourceSize</key>
                <string>{118,92}</string>
            </dict>
            <key>city_cavalry_walk_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,472},{116,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{116,92}}</string>
                <key>sourceSize</key>
                <string>{118,92}</string>
            </dict>
            <key>city_cavalry_walk_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,378},{116,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{116,92}}</string>
                <key>sourceSize</key>
                <string>{118,92}</string>
            </dict>
            <key>city_cavalry_walk_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,284},{116,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{116,92}}</string>
                <key>sourceSize</key>
                <string>{118,92}</string>
            </dict>
            <key>city_cavalry_walk_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,190},{116,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{116,92}}</string>
                <key>sourceSize</key>
                <string>{118,92}</string>
            </dict>
            <key>city_cavalry_walk_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,96},{116,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{116,92}}</string>
                <key>sourceSize</key>
                <string>{118,92}</string>
            </dict>
            <key>city_cavalry_walk_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,2},{116,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{116,92}}</string>
                <key>sourceSize</key>
                <string>{118,92}</string>
            </dict>
            <key>city_cavalry_walk_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,566},{116,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{116,92}}</string>
                <key>sourceSize</key>
                <string>{118,92}</string>
            </dict>
            <key>city_cavalry_walk_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,472},{116,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{116,92}}</string>
                <key>sourceSize</key>
                <string>{118,92}</string>
            </dict>
            <key>city_infantry_walk_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,394},{104,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{104,85}}</string>
                <key>sourceSize</key>
                <string>{108,85}</string>
            </dict>
            <key>city_infantry_walk_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,2},{104,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{104,85}}</string>
                <key>sourceSize</key>
                <string>{108,85}</string>
            </dict>
            <key>city_infantry_walk_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,481},{104,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{104,85}}</string>
                <key>sourceSize</key>
                <string>{108,85}</string>
            </dict>
            <key>city_infantry_walk_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,108},{104,85}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{104,85}}</string>
                <key>sourceSize</key>
                <string>{108,85}</string>
            </dict>
            <key>city_infantry_walk_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,568},{104,85}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{104,85}}</string>
                <key>sourceSize</key>
                <string>{108,85}</string>
            </dict>
            <key>city_infantry_walk_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,369},{104,85}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{104,85}}</string>
                <key>sourceSize</key>
                <string>{108,85}</string>
            </dict>
            <key>city_infantry_walk_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,534},{104,85}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{104,85}}</string>
                <key>sourceSize</key>
                <string>{108,85}</string>
            </dict>
            <key>city_infantry_walk_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,621},{104,85}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{104,85}}</string>
                <key>sourceSize</key>
                <string>{108,85}</string>
            </dict>
            <key>city_infantry_walk_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,708},{104,85}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{104,85}}</string>
                <key>sourceSize</key>
                <string>{108,85}</string>
            </dict>
            <key>city_infantry_walk_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,453},{104,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{104,85}}</string>
                <key>sourceSize</key>
                <string>{108,85}</string>
            </dict>
            <key>city_infantry_walk_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,795},{104,85}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{104,85}}</string>
                <key>sourceSize</key>
                <string>{108,85}</string>
            </dict>
            <key>city_infantry_walk_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,456},{104,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{104,85}}</string>
                <key>sourceSize</key>
                <string>{108,85}</string>
            </dict>
            <key>city_infantry_walk_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,540},{104,85}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{104,85}}</string>
                <key>sourceSize</key>
                <string>{108,85}</string>
            </dict>
            <key>city_infantry_walk_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,627},{104,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{104,85}}</string>
                <key>sourceSize</key>
                <string>{108,85}</string>
            </dict>
            <key>city_infantry_walk_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,714},{104,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{104,85}}</string>
                <key>sourceSize</key>
                <string>{108,85}</string>
            </dict>
            <key>city_infantry_walk_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,195},{102,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{102,85}}</string>
                <key>sourceSize</key>
                <string>{108,85}</string>
            </dict>
            <key>city_infantry_walk_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,282},{102,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{102,85}}</string>
                <key>sourceSize</key>
                <string>{108,85}</string>
            </dict>
            <key>city_infantry_walk_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,801},{104,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{104,85}}</string>
                <key>sourceSize</key>
                <string>{108,85}</string>
            </dict>
            <key>city_infantry_walk_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,543},{104,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{104,85}}</string>
                <key>sourceSize</key>
                <string>{108,85}</string>
            </dict>
            <key>city_infantry_walk_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,630},{104,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{104,85}}</string>
                <key>sourceSize</key>
                <string>{108,85}</string>
            </dict>
            <key>city_infantry_walk_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,717},{104,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{104,85}}</string>
                <key>sourceSize</key>
                <string>{108,85}</string>
            </dict>
            <key>city_infantry_walk_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,804},{104,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{104,85}}</string>
                <key>sourceSize</key>
                <string>{108,85}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>city.png</string>
            <key>size</key>
            <string>{1024,891}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9a6fa7cddb9f6ec1e96d3d40d2e16f91:5d5e6bd0414d72bf431b7a54a7c98968:39e36121e34d88ee9f5e38e7ee6d9b8e$</string>
            <key>textureFileName</key>
            <string>city.png</string>
        </dict>
    </dict>
</plist>
