<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>anim_cg_WJXL_Z0016.png</key>
			<dict>
				<key>width</key>
				<integer>290</integer>
				<key>height</key>
				<integer>200</integer>
				<key>originalWidth</key>
				<integer>290</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>anim_cg_WJXL_Z0017.png</key>
			<dict>
				<key>width</key>
				<integer>290</integer>
				<key>height</key>
				<integer>200</integer>
				<key>originalWidth</key>
				<integer>290</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>292</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>anim_cg_WJXL_Z0018.png</key>
			<dict>
				<key>width</key>
				<integer>290</integer>
				<key>height</key>
				<integer>200</integer>
				<key>originalWidth</key>
				<integer>290</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>584</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>anim_cg_WJXL_Z0019.png</key>
			<dict>
				<key>width</key>
				<integer>290</integer>
				<key>height</key>
				<integer>200</integer>
				<key>originalWidth</key>
				<integer>290</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>202</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>anim_cg_WJXL_Z0020.png</key>
			<dict>
				<key>width</key>
				<integer>290</integer>
				<key>height</key>
				<integer>200</integer>
				<key>originalWidth</key>
				<integer>290</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>292</integer>
				<key>y</key>
				<integer>202</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>anim_cg_WJXL_Z0021.png</key>
			<dict>
				<key>width</key>
				<integer>290</integer>
				<key>height</key>
				<integer>200</integer>
				<key>originalWidth</key>
				<integer>290</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>584</integer>
				<key>y</key>
				<integer>202</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>anim_cg_WJXL_Z0022.png</key>
			<dict>
				<key>width</key>
				<integer>290</integer>
				<key>height</key>
				<integer>200</integer>
				<key>originalWidth</key>
				<integer>290</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>404</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>anim_cg_WJXL_Z0023.png</key>
			<dict>
				<key>width</key>
				<integer>290</integer>
				<key>height</key>
				<integer>200</integer>
				<key>originalWidth</key>
				<integer>290</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>292</integer>
				<key>y</key>
				<integer>404</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>anim_cg_WJXL_Z0024.png</key>
			<dict>
				<key>width</key>
				<integer>290</integer>
				<key>height</key>
				<integer>200</integer>
				<key>originalWidth</key>
				<integer>290</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>584</integer>
				<key>y</key>
				<integer>404</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>anim_cg_WJXL_Z0025.png</key>
			<dict>
				<key>width</key>
				<integer>290</integer>
				<key>height</key>
				<integer>200</integer>
				<key>originalWidth</key>
				<integer>290</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>606</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>anim_cg_WJXL_Z0026.png</key>
			<dict>
				<key>width</key>
				<integer>290</integer>
				<key>height</key>
				<integer>200</integer>
				<key>originalWidth</key>
				<integer>290</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>292</integer>
				<key>y</key>
				<integer>606</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>anim_cg_WJXL_Z0027.png</key>
			<dict>
				<key>width</key>
				<integer>290</integer>
				<key>height</key>
				<integer>200</integer>
				<key>originalWidth</key>
				<integer>290</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>584</integer>
				<key>y</key>
				<integer>606</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>anim_cg_WJXL_Z0028.png</key>
			<dict>
				<key>width</key>
				<integer>290</integer>
				<key>height</key>
				<integer>200</integer>
				<key>originalWidth</key>
				<integer>290</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>808</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>anim_cg_WJXL_Z0029.png</key>
			<dict>
				<key>width</key>
				<integer>290</integer>
				<key>height</key>
				<integer>200</integer>
				<key>originalWidth</key>
				<integer>290</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>292</integer>
				<key>y</key>
				<integer>808</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>anim_cg_WJXL_Z0030.png</key>
			<dict>
				<key>width</key>
				<integer>290</integer>
				<key>height</key>
				<integer>200</integer>
				<key>originalWidth</key>
				<integer>290</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>584</integer>
				<key>y</key>
				<integer>808</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>anim_cg_WJXL1.png</string>
			<key>realTextureFileName</key>
			<string>anim_cg_WJXL1.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>