<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>WD_Skill_TongYongShouJi_Dst_Two_00000.png</key>
			<dict>
				<key>width</key>
				<integer>170</integer>
				<key>height</key>
				<integer>128</integer>
				<key>originalWidth</key>
				<integer>170</integer>
				<key>originalHeight</key>
				<integer>128</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>WD_Skill_TongYongShouJi_Dst_Two_00002.png</key>
			<dict>
				<key>width</key>
				<integer>170</integer>
				<key>height</key>
				<integer>128</integer>
				<key>originalWidth</key>
				<integer>170</integer>
				<key>originalHeight</key>
				<integer>128</integer>
				<key>x</key>
				<integer>172</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>WD_Skill_TongYongShouJi_Dst_Two_00003.png</key>
			<dict>
				<key>width</key>
				<integer>170</integer>
				<key>height</key>
				<integer>128</integer>
				<key>originalWidth</key>
				<integer>170</integer>
				<key>originalHeight</key>
				<integer>128</integer>
				<key>x</key>
				<integer>344</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>WD_Skill_TongYongShouJi_Dst_Two_00004.png</key>
			<dict>
				<key>width</key>
				<integer>170</integer>
				<key>height</key>
				<integer>128</integer>
				<key>originalWidth</key>
				<integer>170</integer>
				<key>originalHeight</key>
				<integer>128</integer>
				<key>x</key>
				<integer>516</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>WD_Skill_TongYongShouJi_Dst_Two_00005.png</key>
			<dict>
				<key>width</key>
				<integer>170</integer>
				<key>height</key>
				<integer>128</integer>
				<key>originalWidth</key>
				<integer>170</integer>
				<key>originalHeight</key>
				<integer>128</integer>
				<key>x</key>
				<integer>688</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>WD_Skill_TongYongShouJi_Dst_Two_00006.png</key>
			<dict>
				<key>width</key>
				<integer>170</integer>
				<key>height</key>
				<integer>128</integer>
				<key>originalWidth</key>
				<integer>170</integer>
				<key>originalHeight</key>
				<integer>128</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>130</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>WD_Skill_TongYongShouJi_Dst_Three_00000.png</key>
			<dict>
				<key>width</key>
				<integer>129</integer>
				<key>height</key>
				<integer>107</integer>
				<key>originalWidth</key>
				<integer>129</integer>
				<key>originalHeight</key>
				<integer>107</integer>
				<key>x</key>
				<integer>172</integer>
				<key>y</key>
				<integer>130</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>WD_Skill_TongYongShouJi_Dst_Three_00001.png</key>
			<dict>
				<key>width</key>
				<integer>129</integer>
				<key>height</key>
				<integer>107</integer>
				<key>originalWidth</key>
				<integer>129</integer>
				<key>originalHeight</key>
				<integer>107</integer>
				<key>x</key>
				<integer>303</integer>
				<key>y</key>
				<integer>130</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>WD_Skill_TongYongShouJi_Dst_Three_00002.png</key>
			<dict>
				<key>width</key>
				<integer>129</integer>
				<key>height</key>
				<integer>107</integer>
				<key>originalWidth</key>
				<integer>129</integer>
				<key>originalHeight</key>
				<integer>107</integer>
				<key>x</key>
				<integer>434</integer>
				<key>y</key>
				<integer>130</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>WD_Skill_TongYongShouJi_Dst_Three_00003.png</key>
			<dict>
				<key>width</key>
				<integer>129</integer>
				<key>height</key>
				<integer>107</integer>
				<key>originalWidth</key>
				<integer>129</integer>
				<key>originalHeight</key>
				<integer>107</integer>
				<key>x</key>
				<integer>565</integer>
				<key>y</key>
				<integer>130</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>WD_Skill_TongYongShouJi_Dst_Three_00004.png</key>
			<dict>
				<key>width</key>
				<integer>129</integer>
				<key>height</key>
				<integer>107</integer>
				<key>originalWidth</key>
				<integer>129</integer>
				<key>originalHeight</key>
				<integer>107</integer>
				<key>x</key>
				<integer>696</integer>
				<key>y</key>
				<integer>130</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>WD_Skill_TongYongShouJi_Dst_Three_00005.png</key>
			<dict>
				<key>width</key>
				<integer>129</integer>
				<key>height</key>
				<integer>107</integer>
				<key>originalWidth</key>
				<integer>129</integer>
				<key>originalHeight</key>
				<integer>107</integer>
				<key>x</key>
				<integer>827</integer>
				<key>y</key>
				<integer>130</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>WD_Skill_TongYongShouJi_Dst_Three_00006.png</key>
			<dict>
				<key>width</key>
				<integer>129</integer>
				<key>height</key>
				<integer>107</integer>
				<key>originalWidth</key>
				<integer>129</integer>
				<key>originalHeight</key>
				<integer>107</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>260</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>WD_Skill_TongYongShouJi_Dst_One_00000.png</key>
			<dict>
				<key>width</key>
				<integer>70</integer>
				<key>height</key>
				<integer>70</integer>
				<key>originalWidth</key>
				<integer>70</integer>
				<key>originalHeight</key>
				<integer>70</integer>
				<key>x</key>
				<integer>131</integer>
				<key>y</key>
				<integer>260</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>WD_Skill_TongYongShouJi_Dst_One_00001.png</key>
			<dict>
				<key>width</key>
				<integer>70</integer>
				<key>height</key>
				<integer>70</integer>
				<key>originalWidth</key>
				<integer>70</integer>
				<key>originalHeight</key>
				<integer>70</integer>
				<key>x</key>
				<integer>203</integer>
				<key>y</key>
				<integer>260</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>WD_Skill_TongYongShouJi_Dst_One_00002.png</key>
			<dict>
				<key>width</key>
				<integer>70</integer>
				<key>height</key>
				<integer>70</integer>
				<key>originalWidth</key>
				<integer>70</integer>
				<key>originalHeight</key>
				<integer>70</integer>
				<key>x</key>
				<integer>275</integer>
				<key>y</key>
				<integer>260</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>WD_Skill_TongYongShouJi_Dst_One_00003.png</key>
			<dict>
				<key>width</key>
				<integer>70</integer>
				<key>height</key>
				<integer>70</integer>
				<key>originalWidth</key>
				<integer>70</integer>
				<key>originalHeight</key>
				<integer>70</integer>
				<key>x</key>
				<integer>347</integer>
				<key>y</key>
				<integer>260</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>WD_Skill_TongYongShouJi_Dst_One_00004.png</key>
			<dict>
				<key>width</key>
				<integer>70</integer>
				<key>height</key>
				<integer>70</integer>
				<key>originalWidth</key>
				<integer>70</integer>
				<key>originalHeight</key>
				<integer>70</integer>
				<key>x</key>
				<integer>419</integer>
				<key>y</key>
				<integer>260</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>WD_Skill_TongYongShouJi_Dst_One_00005.png</key>
			<dict>
				<key>width</key>
				<integer>70</integer>
				<key>height</key>
				<integer>70</integer>
				<key>originalWidth</key>
				<integer>70</integer>
				<key>originalHeight</key>
				<integer>70</integer>
				<key>x</key>
				<integer>491</integer>
				<key>y</key>
				<integer>260</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>WD_Skill_TongYongShouJi_Dst_Two_00001.png</key>
			<dict>
				<key>width</key>
				<integer>170</integer>
				<key>height</key>
				<integer>128</integer>
				<key>originalWidth</key>
				<integer>170</integer>
				<key>originalHeight</key>
				<integer>128</integer>
				<key>x</key>
				<integer>563</integer>
				<key>y</key>
				<integer>260</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>WD_Skill_TongYongShouJi_Dst_Four_00000.png</key>
			<dict>
				<key>width</key>
				<integer>88</integer>
				<key>height</key>
				<integer>74</integer>
				<key>originalWidth</key>
				<integer>88</integer>
				<key>originalHeight</key>
				<integer>74</integer>
				<key>x</key>
				<integer>735</integer>
				<key>y</key>
				<integer>260</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>WD_Skill_TongYongShouJi_Dst_Four_00001.png</key>
			<dict>
				<key>width</key>
				<integer>88</integer>
				<key>height</key>
				<integer>74</integer>
				<key>originalWidth</key>
				<integer>88</integer>
				<key>originalHeight</key>
				<integer>74</integer>
				<key>x</key>
				<integer>825</integer>
				<key>y</key>
				<integer>260</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>WD_Skill_TongYongShouJi_Dst_Four_00002.png</key>
			<dict>
				<key>width</key>
				<integer>88</integer>
				<key>height</key>
				<integer>74</integer>
				<key>originalWidth</key>
				<integer>88</integer>
				<key>originalHeight</key>
				<integer>74</integer>
				<key>x</key>
				<integer>915</integer>
				<key>y</key>
				<integer>260</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>WD_Skill_TongYongShouJi_Dst_Four_00003.png</key>
			<dict>
				<key>width</key>
				<integer>88</integer>
				<key>height</key>
				<integer>74</integer>
				<key>originalWidth</key>
				<integer>88</integer>
				<key>originalHeight</key>
				<integer>74</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>390</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>WD_Skill_TongYongShouJi_Dst_Four_00004.png</key>
			<dict>
				<key>width</key>
				<integer>88</integer>
				<key>height</key>
				<integer>74</integer>
				<key>originalWidth</key>
				<integer>88</integer>
				<key>originalHeight</key>
				<integer>74</integer>
				<key>x</key>
				<integer>90</integer>
				<key>y</key>
				<integer>390</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>WD_Skill_TongYongShouJi_Dst_Four_00005.png</key>
			<dict>
				<key>width</key>
				<integer>88</integer>
				<key>height</key>
				<integer>74</integer>
				<key>originalWidth</key>
				<integer>88</integer>
				<key>originalHeight</key>
				<integer>74</integer>
				<key>x</key>
				<integer>180</integer>
				<key>y</key>
				<integer>390</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>WD_Skill_TongYongShouJi_Dst_Four_00006.png</key>
			<dict>
				<key>width</key>
				<integer>88</integer>
				<key>height</key>
				<integer>74</integer>
				<key>originalWidth</key>
				<integer>88</integer>
				<key>originalHeight</key>
				<integer>74</integer>
				<key>x</key>
				<integer>270</integer>
				<key>y</key>
				<integer>390</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>WD_Skill_TongYongShouJi_Dst_Four_00007.png</key>
			<dict>
				<key>width</key>
				<integer>88</integer>
				<key>height</key>
				<integer>74</integer>
				<key>originalWidth</key>
				<integer>88</integer>
				<key>originalHeight</key>
				<integer>74</integer>
				<key>x</key>
				<integer>360</integer>
				<key>y</key>
				<integer>390</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>WD_Skill_TongYongShouJi_Dst0.png</string>
			<key>realTextureFileName</key>
			<string>WD_Skill_TongYongShouJi_Dst0.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>