<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>anim_ssz_001SZZ_A0013.png</key>
			<dict>
				<key>width</key>
				<integer>360</integer>
				<key>height</key>
				<integer>160</integer>
				<key>originalWidth</key>
				<integer>360</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>anim_ssz_001SZZ_A0014.png</key>
			<dict>
				<key>width</key>
				<integer>360</integer>
				<key>height</key>
				<integer>160</integer>
				<key>originalWidth</key>
				<integer>360</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>362</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>anim_ssz_001SZZ_A0015.png</key>
			<dict>
				<key>width</key>
				<integer>360</integer>
				<key>height</key>
				<integer>160</integer>
				<key>originalWidth</key>
				<integer>360</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>162</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>anim_ssz_001SZZ_A0016.png</key>
			<dict>
				<key>width</key>
				<integer>360</integer>
				<key>height</key>
				<integer>160</integer>
				<key>originalWidth</key>
				<integer>360</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>362</integer>
				<key>y</key>
				<integer>162</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>anim_ssz_001SZZ_A0017.png</key>
			<dict>
				<key>width</key>
				<integer>360</integer>
				<key>height</key>
				<integer>160</integer>
				<key>originalWidth</key>
				<integer>360</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>324</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>anim_ssz_001SZZ_A0018.png</key>
			<dict>
				<key>width</key>
				<integer>360</integer>
				<key>height</key>
				<integer>160</integer>
				<key>originalWidth</key>
				<integer>360</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>362</integer>
				<key>y</key>
				<integer>324</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>anim_ssz_001SZZ_A0019.png</key>
			<dict>
				<key>width</key>
				<integer>360</integer>
				<key>height</key>
				<integer>160</integer>
				<key>originalWidth</key>
				<integer>360</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>486</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>anim_ssz_001SZZ_A0020.png</key>
			<dict>
				<key>width</key>
				<integer>360</integer>
				<key>height</key>
				<integer>160</integer>
				<key>originalWidth</key>
				<integer>360</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>362</integer>
				<key>y</key>
				<integer>486</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>anim_ssz_001SZZ_A0021.png</key>
			<dict>
				<key>width</key>
				<integer>360</integer>
				<key>height</key>
				<integer>160</integer>
				<key>originalWidth</key>
				<integer>360</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>648</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>anim_ssz_001SZZ_A0022.png</key>
			<dict>
				<key>width</key>
				<integer>360</integer>
				<key>height</key>
				<integer>160</integer>
				<key>originalWidth</key>
				<integer>360</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>362</integer>
				<key>y</key>
				<integer>648</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>anim_ssz_001SZZ_A0023.png</key>
			<dict>
				<key>width</key>
				<integer>360</integer>
				<key>height</key>
				<integer>160</integer>
				<key>originalWidth</key>
				<integer>360</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>810</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>anim_ssz_001SZZ_A0024.png</key>
			<dict>
				<key>width</key>
				<integer>360</integer>
				<key>height</key>
				<integer>160</integer>
				<key>originalWidth</key>
				<integer>360</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>362</integer>
				<key>y</key>
				<integer>810</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>anim_ssz_0011.png</string>
			<key>realTextureFileName</key>
			<string>anim_ssz_0011.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>