<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Effect_ChangKuangLiouGuang_00000.png</key>
			<dict>
				<key>width</key>
				<integer>332</integer>
				<key>height</key>
				<integer>59</integer>
				<key>originalWidth</key>
				<integer>332</integer>
				<key>originalHeight</key>
				<integer>59</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Effect_ChangKuangLiouGuang_00001.png</key>
			<dict>
				<key>width</key>
				<integer>332</integer>
				<key>height</key>
				<integer>59</integer>
				<key>originalWidth</key>
				<integer>332</integer>
				<key>originalHeight</key>
				<integer>59</integer>
				<key>x</key>
				<integer>334</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Effect_ChangKuangLiouGuang_00002.png</key>
			<dict>
				<key>width</key>
				<integer>332</integer>
				<key>height</key>
				<integer>59</integer>
				<key>originalWidth</key>
				<integer>332</integer>
				<key>originalHeight</key>
				<integer>59</integer>
				<key>x</key>
				<integer>668</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Effect_ChangKuangLiouGuang_00003.png</key>
			<dict>
				<key>width</key>
				<integer>332</integer>
				<key>height</key>
				<integer>59</integer>
				<key>originalWidth</key>
				<integer>332</integer>
				<key>originalHeight</key>
				<integer>59</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>61</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Effect_ChangKuangLiouGuang_00004.png</key>
			<dict>
				<key>width</key>
				<integer>332</integer>
				<key>height</key>
				<integer>59</integer>
				<key>originalWidth</key>
				<integer>332</integer>
				<key>originalHeight</key>
				<integer>59</integer>
				<key>x</key>
				<integer>334</integer>
				<key>y</key>
				<integer>61</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Effect_ChangKuangLiouGuang_00005.png</key>
			<dict>
				<key>width</key>
				<integer>332</integer>
				<key>height</key>
				<integer>59</integer>
				<key>originalWidth</key>
				<integer>332</integer>
				<key>originalHeight</key>
				<integer>59</integer>
				<key>x</key>
				<integer>668</integer>
				<key>y</key>
				<integer>61</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Effect_ChangKuangLiouGuang_00006.png</key>
			<dict>
				<key>width</key>
				<integer>332</integer>
				<key>height</key>
				<integer>59</integer>
				<key>originalWidth</key>
				<integer>332</integer>
				<key>originalHeight</key>
				<integer>59</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>122</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Effect_ChangKuangLiouGuang_00007.png</key>
			<dict>
				<key>width</key>
				<integer>332</integer>
				<key>height</key>
				<integer>59</integer>
				<key>originalWidth</key>
				<integer>332</integer>
				<key>originalHeight</key>
				<integer>59</integer>
				<key>x</key>
				<integer>334</integer>
				<key>y</key>
				<integer>122</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Effect_ChangKuangLiouGuang_00008.png</key>
			<dict>
				<key>width</key>
				<integer>332</integer>
				<key>height</key>
				<integer>59</integer>
				<key>originalWidth</key>
				<integer>332</integer>
				<key>originalHeight</key>
				<integer>59</integer>
				<key>x</key>
				<integer>668</integer>
				<key>y</key>
				<integer>122</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Effect_ChangKuangLiouGuang_00009.png</key>
			<dict>
				<key>width</key>
				<integer>332</integer>
				<key>height</key>
				<integer>59</integer>
				<key>originalWidth</key>
				<integer>332</integer>
				<key>originalHeight</key>
				<integer>59</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>183</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Effect_ChangKuangLiouGuang_00010.png</key>
			<dict>
				<key>width</key>
				<integer>332</integer>
				<key>height</key>
				<integer>59</integer>
				<key>originalWidth</key>
				<integer>332</integer>
				<key>originalHeight</key>
				<integer>59</integer>
				<key>x</key>
				<integer>334</integer>
				<key>y</key>
				<integer>183</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Effect_ChangKuangLiouGuang_00011.png</key>
			<dict>
				<key>width</key>
				<integer>332</integer>
				<key>height</key>
				<integer>59</integer>
				<key>originalWidth</key>
				<integer>332</integer>
				<key>originalHeight</key>
				<integer>59</integer>
				<key>x</key>
				<integer>668</integer>
				<key>y</key>
				<integer>183</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Effect_ChangKuangLiouGuang_00012.png</key>
			<dict>
				<key>width</key>
				<integer>332</integer>
				<key>height</key>
				<integer>59</integer>
				<key>originalWidth</key>
				<integer>332</integer>
				<key>originalHeight</key>
				<integer>59</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>244</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Effect_ChangKuangLiouGuang_00013.png</key>
			<dict>
				<key>width</key>
				<integer>332</integer>
				<key>height</key>
				<integer>59</integer>
				<key>originalWidth</key>
				<integer>332</integer>
				<key>originalHeight</key>
				<integer>59</integer>
				<key>x</key>
				<integer>334</integer>
				<key>y</key>
				<integer>244</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Effect_ChangKuangLiouGuang_00014.png</key>
			<dict>
				<key>width</key>
				<integer>332</integer>
				<key>height</key>
				<integer>59</integer>
				<key>originalWidth</key>
				<integer>332</integer>
				<key>originalHeight</key>
				<integer>59</integer>
				<key>x</key>
				<integer>668</integer>
				<key>y</key>
				<integer>244</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Effect_ChangKuangLiouGuang_00015.png</key>
			<dict>
				<key>width</key>
				<integer>332</integer>
				<key>height</key>
				<integer>59</integer>
				<key>originalWidth</key>
				<integer>332</integer>
				<key>originalHeight</key>
				<integer>59</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>305</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Effect_ChangKuangLiouGuang_00016.png</key>
			<dict>
				<key>width</key>
				<integer>332</integer>
				<key>height</key>
				<integer>59</integer>
				<key>originalWidth</key>
				<integer>332</integer>
				<key>originalHeight</key>
				<integer>59</integer>
				<key>x</key>
				<integer>334</integer>
				<key>y</key>
				<integer>305</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>Effect_ChangKuangLiouGuang0.png</string>
			<key>realTextureFileName</key>
			<string>Effect_ChangKuangLiouGuang0.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>