<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>homeImage_air_Barracks.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,1},{92,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,105}}</string>
                <key>sourceSize</key>
                <string>{92,105}</string>
            </dict>
            <key>homeImage_air_Fire.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,1},{92,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,105}}</string>
                <key>sourceSize</key>
                <string>{92,105}</string>
            </dict>
            <key>homeImage_air_Food.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,1},{92,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,105}}</string>
                <key>sourceSize</key>
                <string>{92,105}</string>
            </dict>
            <key>homeImage_air_Free.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,1},{92,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,105}}</string>
                <key>sourceSize</key>
                <string>{92,105}</string>
            </dict>
            <key>homeImage_air_Gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,1},{92,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,105}}</string>
                <key>sourceSize</key>
                <string>{92,105}</string>
            </dict>
            <key>homeImage_air_Help.png</key>
            <dict>
                <key>frame</key>
                <string>{{1056,1},{92,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,105}}</string>
                <key>sourceSize</key>
                <string>{92,105}</string>
            </dict>
            <key>homeImage_air_HelpAll.png</key>
            <dict>
                <key>frame</key>
                <string>{{1162,1},{92,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,105}}</string>
                <key>sourceSize</key>
                <string>{92,105}</string>
            </dict>
            <key>homeImage_air_Hospital.png</key>
            <dict>
                <key>frame</key>
                <string>{{1268,1},{92,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,105}}</string>
                <key>sourceSize</key>
                <string>{92,105}</string>
            </dict>
            <key>homeImage_air_Iron.png</key>
            <dict>
                <key>frame</key>
                <string>{{1374,1},{92,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,105}}</string>
                <key>sourceSize</key>
                <string>{92,105}</string>
            </dict>
            <key>homeImage_air_Repair.png</key>
            <dict>
                <key>frame</key>
                <string>{{1480,1},{92,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,105}}</string>
                <key>sourceSize</key>
                <string>{92,105}</string>
            </dict>
            <key>homeImage_air_Stone.png</key>
            <dict>
                <key>frame</key>
                <string>{{1586,1},{92,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,105}}</string>
                <key>sourceSize</key>
                <string>{92,105}</string>
            </dict>
            <key>homeImage_air_Wood.png</key>
            <dict>
                <key>frame</key>
                <string>{{1692,1},{92,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,105}}</string>
                <key>sourceSize</key>
                <string>{92,105}</string>
            </dict>
            <key>homeImage_air_Workshop.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,91},{92,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,105}}</string>
                <key>sourceSize</key>
                <string>{92,105}</string>
            </dict>
            <key>homeImage_archer_pose_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,129},{53,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{53,55}}</string>
                <key>sourceSize</key>
                <string>{55,57}</string>
            </dict>
            <key>homeImage_archer_pose_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1448,94},{80,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,70}}</string>
                <key>sourceSize</key>
                <string>{80,70}</string>
            </dict>
            <key>homeImage_archer_pose_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,102},{106,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{106,83}}</string>
                <key>sourceSize</key>
                <string>{108,83}</string>
            </dict>
            <key>homeImage_army_leisure.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,94},{92,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,105}}</string>
                <key>sourceSize</key>
                <string>{92,105}</string>
            </dict>
            <key>homeImage_build_lv_show.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,102},{31,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,47}}</string>
                <key>sourceSize</key>
                <string>{31,47}</string>
            </dict>
            <key>homeImage_car_pose_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{139,127}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{139,127}}</string>
                <key>sourceSize</key>
                <string>{141,131}</string>
            </dict>
            <key>homeImage_car_pose_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{139,127}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{139,127}}</string>
                <key>sourceSize</key>
                <string>{141,131}</string>
            </dict>
            <key>homeImage_car_pose_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{139,127}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{139,127}}</string>
                <key>sourceSize</key>
                <string>{141,131}</string>
            </dict>
            <key>homeImage_cavalry_pose_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,1},{113,89}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{113,89}}</string>
                <key>sourceSize</key>
                <string>{123,91}</string>
            </dict>
            <key>homeImage_cavalry_pose_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,1},{113,89}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{113,89}}</string>
                <key>sourceSize</key>
                <string>{123,91}</string>
            </dict>
            <key>homeImage_cavalry_pose_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,1},{131,99}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{131,99}}</string>
                <key>sourceSize</key>
                <string>{143,101}</string>
            </dict>
            <key>homeImage_dueldrop.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,94},{92,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,105}}</string>
                <key>sourceSize</key>
                <string>{92,105}</string>
            </dict>
            <key>homeImage_equip.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,94},{92,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,105}}</string>
                <key>sourceSize</key>
                <string>{92,105}</string>
            </dict>
            <key>homeImage_general.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,94},{92,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,105}}</string>
                <key>sourceSize</key>
                <string>{92,105}</string>
            </dict>
            <key>homeImage_guide_finger.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,1},{100,138}}</string>
                <key>offset</key>
                <string>{38,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,134},{100,138}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>homeImage_harvest_Food.png</key>
            <dict>
                <key>frame</key>
                <string>{{1759,94},{29,35}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{29,35}}</string>
                <key>sourceSize</key>
                <string>{41,41}</string>
            </dict>
            <key>homeImage_harvest_Gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{1745,140},{27,27}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{27,27}}</string>
                <key>sourceSize</key>
                <string>{41,41}</string>
            </dict>
            <key>homeImage_harvest_Iron.png</key>
            <dict>
                <key>frame</key>
                <string>{{1713,140},{31,25}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{31,25}}</string>
                <key>sourceSize</key>
                <string>{41,41}</string>
            </dict>
            <key>homeImage_harvest_Stone.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,150},{31,31}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{31,31}}</string>
                <key>sourceSize</key>
                <string>{41,41}</string>
            </dict>
            <key>homeImage_harvest_Wood.png</key>
            <dict>
                <key>frame</key>
                <string>{{1773,130},{33,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,9},{33,23}}</string>
                <key>sourceSize</key>
                <string>{41,41}</string>
            </dict>
            <key>homeImage_hospital_Help.png</key>
            <dict>
                <key>frame</key>
                <string>{{1056,1},{92,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,105}}</string>
                <key>sourceSize</key>
                <string>{92,105}</string>
            </dict>
            <key>homeImage_huashen.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,94},{92,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,105}}</string>
                <key>sourceSize</key>
                <string>{92,105}</string>
            </dict>
            <key>homeImage_infantry_pose_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1366,94},{81,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{81,70}}</string>
                <key>sourceSize</key>
                <string>{85,70}</string>
            </dict>
            <key>homeImage_infantry_pose_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1366,94},{81,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{81,70}}</string>
                <key>sourceSize</key>
                <string>{85,70}</string>
            </dict>
            <key>homeImage_infantry_pose_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,101},{108,85}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{108,85}}</string>
                <key>sourceSize</key>
                <string>{118,85}</string>
            </dict>
            <key>homeImage_jiuguanstar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1048,94},{92,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,105}}</string>
                <key>sourceSize</key>
                <string>{92,105}</string>
            </dict>
            <key>homeImage_mill_Gain.png</key>
            <dict>
                <key>frame</key>
                <string>{{1154,94},{92,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,105}}</string>
                <key>sourceSize</key>
                <string>{92,105}</string>
            </dict>
            <key>homeImage_study_Help.png</key>
            <dict>
                <key>frame</key>
                <string>{{1056,1},{92,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,105}}</string>
                <key>sourceSize</key>
                <string>{92,105}</string>
            </dict>
            <key>homeImage_type_archer.png</key>
            <dict>
                <key>frame</key>
                <string>{{1529,94},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>homeImage_type_build.png</key>
            <dict>
                <key>frame</key>
                <string>{{1575,94},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>homeImage_type_cavalry.png</key>
            <dict>
                <key>frame</key>
                <string>{{1621,94},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>homeImage_type_cure.png</key>
            <dict>
                <key>frame</key>
                <string>{{1667,94},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>homeImage_type_infantry.png</key>
            <dict>
                <key>frame</key>
                <string>{{1713,94},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>homeImage_type_mill.png</key>
            <dict>
                <key>frame</key>
                <string>{{1529,140},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>homeImage_type_science.png</key>
            <dict>
                <key>frame</key>
                <string>{{1575,140},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>homeImage_type_thrower.png</key>
            <dict>
                <key>frame</key>
                <string>{{1621,140},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>homeImage_type_trap.png</key>
            <dict>
                <key>frame</key>
                <string>{{1667,140},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>homeImage_wanqiangbuff.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,129},{56,64}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,2},{56,64}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>homeImage_zhanxing.png</key>
            <dict>
                <key>frame</key>
                <string>{{1260,94},{92,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,105}}</string>
                <key>sourceSize</key>
                <string>{92,105}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>homeImage.png</string>
            <key>size</key>
            <string>{1798,187}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:af047462ecd7b9c34eac5bbe09bbf32d:80f28569fd337a6e02ff780031543d38:d5defc49927977bf0af26e54ffa1652f$</string>
            <key>textureFileName</key>
            <string>homeImage.png</string>
        </dict>
    </dict>
</plist>
