<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>battle_arrow_run_Zheng45_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,591},{124,80}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,97},{124,80}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>battle_arrow_run_Zheng45_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,672},{122,80}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,96},{122,80}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>battle_arrow_run_Zheng45_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,672},{124,80}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,96},{124,80}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>battle_arrow_run_Zheng45_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,591},{120,80}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,96},{120,80}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>battle_arrow_run_Zheng45_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,466},{124,80}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,96},{124,80}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>battle_arrow_run_Zheng45_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,753},{122,80}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,96},{122,80}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>battle_arrow_run_Zheng45_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,100},{124,80}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,96},{124,80}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>battle_arrow_run_Zheng45_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,672},{122,80}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,96},{122,80}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>battle_arrow_run_Zheng45_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,789},{124,80}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,96},{124,80}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>battle_arrow_run_Zheng45_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,753},{122,80}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,96},{122,80}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>battle_arrow_run_Zheng45_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,753},{124,78}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,98},{124,78}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>battle_arrow_run_Zheng45_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,753},{124,80}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,96},{124,80}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>battle_arrow_run_Zheng_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,878},{88,116}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,70},{88,116}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>battle_arrow_run_Zheng_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,158},{90,114}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,72},{90,114}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>battle_arrow_run_Zheng_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,876},{90,114}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,72},{90,114}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>battle_arrow_run_Zheng_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,914},{92,112}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,72},{92,112}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>battle_arrow_run_Zheng_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,158},{88,116}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,70},{88,116}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>battle_arrow_run_Zheng_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,672},{90,116}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,70},{90,116}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>battle_arrow_run_Zheng_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,753},{90,114}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,72},{90,114}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>battle_arrow_run_Zheng_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,914},{92,112}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,72},{92,112}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>battle_arrow_run_Zheng_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,356},{90,112}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,72},{90,112}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>battle_arrow_run_Zheng_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,868},{88,114}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,71},{88,114}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>battle_arrow_run_Zheng_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,316},{88,114}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,72},{88,114}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>battle_arrow_run_Zheng_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,316},{88,114}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,72},{88,114}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>battle_carriage_atk_Bei45_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,534},{102,74}}</string>
                <key>offset</key>
                <string>{-12,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,67},{102,74}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>battle_carriage_atk_Bei45_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,284},{102,80}}</string>
                <key>offset</key>
                <string>{-13,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,61},{102,80}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>battle_carriage_atk_Bei45_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,387},{102,80}}</string>
                <key>offset</key>
                <string>{-13,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,61},{102,80}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>battle_carriage_atk_Bei45_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,637},{102,78}}</string>
                <key>offset</key>
                <string>{-13,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,63},{102,78}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>battle_carriage_atk_Bei45_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,181},{102,76}}</string>
                <key>offset</key>
                <string>{-13,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,65},{102,76}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>battle_carriage_atk_Bei45_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,740},{102,74}}</string>
                <key>offset</key>
                <string>{-13,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,67},{102,74}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>battle_carriage_atk_Bei45_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,843},{102,74}}</string>
                <key>offset</key>
                <string>{-13,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,67},{102,74}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>battle_carriage_atk_Bei45_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,431},{102,74}}</string>
                <key>offset</key>
                <string>{-13,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,67},{102,74}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>battle_carriage_atk_Bei45_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,534},{102,74}}</string>
                <key>offset</key>
                <string>{-12,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,67},{102,74}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>battle_carriage_atk_Bei45_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,637},{102,74}}</string>
                <key>offset</key>
                <string>{-12,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,67},{102,74}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>battle_carriage_atk_Bei45_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,447},{104,74}}</string>
                <key>offset</key>
                <string>{-12,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,67},{104,74}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>battle_carriage_atk_Bei45_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,740},{102,78}}</string>
                <key>offset</key>
                <string>{-13,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,63},{102,78}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>battle_carriage_atk_Bei45_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,591},{102,80}}</string>
                <key>offset</key>
                <string>{-13,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,61},{102,80}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>battle_carriage_atk_Bei45_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,672},{102,80}}</string>
                <key>offset</key>
                <string>{-13,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,61},{102,80}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>battle_carriage_atk_Bei45_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,275},{102,80}}</string>
                <key>offset</key>
                <string>{-13,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,61},{102,80}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>battle_carriage_atk_Bei45_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,431},{102,80}}</string>
                <key>offset</key>
                <string>{-13,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,61},{102,80}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>battle_carriage_atk_Bei45_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,843},{102,80}}</string>
                <key>offset</key>
                <string>{-13,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,61},{102,80}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>battle_carriage_atk_Bei45_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,430},{102,80}}</string>
                <key>offset</key>
                <string>{-13,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,61},{102,80}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>battle_carriage_atk_Zheng45_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,430},{102,78}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,55},{102,78}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>battle_carriage_atk_Zheng45_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,717},{98,76}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,56},{98,76}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>battle_carriage_atk_Zheng45_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,711},{98,76}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,56},{98,76}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>battle_carriage_atk_Zheng45_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,816},{98,76}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,56},{98,76}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>battle_carriage_atk_Zheng45_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,810},{98,76}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,56},{98,76}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>battle_carriage_atk_Zheng45_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,533},{98,78}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,55},{98,78}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>battle_carriage_atk_Zheng45_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,612},{98,78}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,55},{98,78}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>battle_carriage_atk_Zheng45_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,490},{100,78}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,55},{100,78}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>battle_carriage_atk_Zheng45_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,511},{102,78}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,55},{102,78}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>battle_carriage_atk_Zheng45_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,614},{102,78}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,55},{102,78}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>battle_carriage_atk_Zheng45_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,552},{104,78}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,55},{104,78}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>battle_carriage_atk_Zheng45_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,490},{100,76}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,56},{100,76}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>battle_carriage_atk_Zheng45_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,490},{98,76}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,56},{98,76}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>battle_carriage_atk_Zheng45_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,612},{98,76}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,56},{98,76}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>battle_carriage_atk_Zheng45_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,711},{98,76}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,56},{98,76}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>battle_carriage_atk_Zheng45_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,810},{98,76}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,56},{98,76}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>battle_carriage_atk_Zheng45_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,915},{98,76}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,56},{98,76}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>battle_carriage_atk_Zheng45_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,909},{98,76}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,56},{98,76}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>battle_infantry_atk_Bei45_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,315},{122,80}}</string>
                <key>offset</key>
                <string>{2,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,151},{122,80}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>battle_infantry_atk_Bei45_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,1},{242,148}}</string>
                <key>offset</key>
                <string>{40,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,98},{242,148}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>battle_infantry_atk_Bei45_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,150},{122,82}}</string>
                <key>offset</key>
                <string>{43,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,132},{122,82}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>battle_infantry_atk_Bei45_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,233},{120,82}}</string>
                <key>offset</key>
                <string>{38,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,134},{120,82}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>battle_infantry_atk_Bei45_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,150},{118,82}}</string>
                <key>offset</key>
                <string>{32,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,136},{118,82}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>battle_infantry_atk_Bei45_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,878},{116,82}}</string>
                <key>offset</key>
                <string>{26,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,138},{116,82}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>battle_infantry_atk_Bei45_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,264},{118,82}}</string>
                <key>offset</key>
                <string>{21,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,140},{118,82}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>battle_infantry_atk_Bei45_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,314},{116,82}}</string>
                <key>offset</key>
                <string>{15,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,142},{116,82}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>battle_infantry_atk_Bei45_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,347},{116,82}}</string>
                <key>offset</key>
                <string>{9,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,145},{116,82}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>battle_infantry_atk_Bei45_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,181},{122,82}}</string>
                <key>offset</key>
                <string>{6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,147},{122,82}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>battle_infantry_atk_Bei45_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,789},{124,82}}</string>
                <key>offset</key>
                <string>{5,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,149},{124,82}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>battle_infantry_atk_Bei45_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,162},{122,80}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,151},{122,80}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>battle_infantry_atk_Bei45_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,233},{120,80}}</string>
                <key>offset</key>
                <string>{4,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,151},{120,80}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>battle_infantry_atk_Bei45_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,591},{128,80}}</string>
                <key>offset</key>
                <string>{2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,151},{128,80}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>battle_infantry_atk_Bei45_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,1},{164,98}}</string>
                <key>offset</key>
                <string>{13,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,143},{164,98}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>battle_infantry_atk_Bei45_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,466},{224,124}}</string>
                <key>offset</key>
                <string>{33,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,124},{224,124}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>battle_infantry_atk_Bei45_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,315},{252,150}}</string>
                <key>offset</key>
                <string>{41,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,103},{252,150}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>battle_infantry_atk_Bei45_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,162},{264,152}}</string>
                <key>offset</key>
                <string>{41,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,104},{264,152}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>battle_infantry_atk_Bei45_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{270,160}}</string>
                <key>offset</key>
                <string>{40,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,97},{270,160}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>battle_infantry_atk_Bei45_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,1},{254,156}}</string>
                <key>offset</key>
                <string>{33,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,98},{254,156}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>battle_9.png</string>
            <key>size</key>
            <string>{969,1007}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9a84ca253bf934dea0f0ab6c52b88a02:f572d3c62f0acecc2827c583b770b603:b586b986113c9aa83d7db34718a2ffac$</string>
            <key>textureFileName</key>
            <string>battle_9.png</string>
        </dict>
    </dict>
</plist>
