<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>battle_all_atk_Zheng_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,0},{155,191}}</string>
                <key>offset</key>
                <string>{2,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,79},{155,191}}</string>
                <key>sourceSize</key>
                <string>{427,375}</string>
            </dict>
            <key>battle_all_atk_Zheng_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{151,191}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{137,80},{151,191}}</string>
                <key>sourceSize</key>
                <string>{427,375}</string>
            </dict>
            <key>battle_all_atk_Zheng_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,0},{161,197}}</string>
                <key>offset</key>
                <string>{5,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,80},{161,197}}</string>
                <key>sourceSize</key>
                <string>{427,375}</string>
            </dict>
            <key>battle_all_atk_Zheng_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,157},{165,239}}</string>
                <key>offset</key>
                <string>{6,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{137,79},{165,239}}</string>
                <key>sourceSize</key>
                <string>{427,375}</string>
            </dict>
            <key>battle_all_atk_Zheng_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,314},{175,267}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,80},{175,267}}</string>
                <key>sourceSize</key>
                <string>{427,375}</string>
            </dict>
            <key>battle_all_atk_Zheng_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,322},{179,263}}</string>
                <key>offset</key>
                <string>{0,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,79},{179,263}}</string>
                <key>sourceSize</key>
                <string>{427,375}</string>
            </dict>
            <key>battle_all_atk_Zheng_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,326},{181,263}}</string>
                <key>offset</key>
                <string>{-3,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,79},{181,263}}</string>
                <key>sourceSize</key>
                <string>{427,375}</string>
            </dict>
            <key>battle_all_atk_Zheng_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,161},{165,293}}</string>
                <key>offset</key>
                <string>{-5,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,80},{165,293}}</string>
                <key>sourceSize</key>
                <string>{427,375}</string>
            </dict>
            <key>battle_all_atk_Zheng_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,0},{157,293}}</string>
                <key>offset</key>
                <string>{2,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{137,79},{157,293}}</string>
                <key>sourceSize</key>
                <string>{427,375}</string>
            </dict>
            <key>battle_all_atk_Zheng_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,155},{159,295}}</string>
                <key>offset</key>
                <string>{3,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{137,79},{159,295}}</string>
                <key>sourceSize</key>
                <string>{427,375}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>battle_20.png</string>
            <key>size</key>
            <string>{872,507}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2b155c562432e6dc96e8403a78204b81:4895a20bf6264b500a638f9e3fe345f8:81edf24441873df59ac0233a18ec5719$</string>
            <key>textureFileName</key>
            <string>battle_20.png</string>
        </dict>
    </dict>
</plist>
