<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>battle_all_atk_Bei_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{147,183}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,87},{147,183}}</string>
                <key>sourceSize</key>
                <string>{427,375}</string>
            </dict>
            <key>battle_all_atk_Bei_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,0},{149,187}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{137,83},{149,187}}</string>
                <key>sourceSize</key>
                <string>{427,375}</string>
            </dict>
            <key>battle_all_atk_Bei_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,0},{149,179}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,91},{149,179}}</string>
                <key>sourceSize</key>
                <string>{427,375}</string>
            </dict>
            <key>battle_all_atk_Bei_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,0},{167,219}}</string>
                <key>offset</key>
                <string>{7,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{137,55},{167,219}}</string>
                <key>sourceSize</key>
                <string>{427,375}</string>
            </dict>
            <key>battle_all_atk_Bei_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,167},{181,233}}</string>
                <key>offset</key>
                <string>{-1,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,46},{181,233}}</string>
                <key>sourceSize</key>
                <string>{427,375}</string>
            </dict>
            <key>battle_all_atk_Bei_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,652},{185,273}}</string>
                <key>offset</key>
                <string>{-2,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,9},{185,273}}</string>
                <key>sourceSize</key>
                <string>{427,375}</string>
            </dict>
            <key>battle_all_atk_Bei_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,603},{187,269}}</string>
                <key>offset</key>
                <string>{-6,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,1},{187,269}}</string>
                <key>sourceSize</key>
                <string>{427,375}</string>
            </dict>
            <key>battle_all_atk_Bei_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,348},{171,255}}</string>
                <key>offset</key>
                <string>{-6,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,15},{171,255}}</string>
                <key>sourceSize</key>
                <string>{427,375}</string>
            </dict>
            <key>battle_all_atk_Bei_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,479},{173,257}}</string>
                <key>offset</key>
                <string>{-4,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,13},{173,257}}</string>
                <key>sourceSize</key>
                <string>{427,375}</string>
            </dict>
            <key>battle_all_atk_Bei_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,0},{159,255}}</string>
                <key>offset</key>
                <string>{5,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,15},{159,255}}</string>
                <key>sourceSize</key>
                <string>{427,375}</string>
            </dict>
            <key>battle_all_run_Zheng45_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,149},{260,160}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,30},{260,160}}</string>
                <key>sourceSize</key>
                <string>{316,216}</string>
            </dict>
            <key>battle_all_run_Zheng45_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,149},{260,160}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,30},{260,160}}</string>
                <key>sourceSize</key>
                <string>{316,216}</string>
            </dict>
            <key>battle_all_run_Zheng45_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,639},{260,162}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,29},{260,162}}</string>
                <key>sourceSize</key>
                <string>{316,216}</string>
            </dict>
            <key>battle_all_run_Zheng45_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,159},{260,160}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,30},{260,160}}</string>
                <key>sourceSize</key>
                <string>{316,216}</string>
            </dict>
            <key>battle_all_run_Zheng45_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,309},{260,160}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,30},{260,160}}</string>
                <key>sourceSize</key>
                <string>{316,216}</string>
            </dict>
            <key>battle_all_run_Zheng45_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,309},{260,160}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,30},{260,160}}</string>
                <key>sourceSize</key>
                <string>{316,216}</string>
            </dict>
            <key>battle_all_run_Zheng45_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,469},{262,160}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,30},{262,160}}</string>
                <key>sourceSize</key>
                <string>{316,216}</string>
            </dict>
            <key>battle_all_run_Zheng45_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,319},{260,160}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,30},{260,160}}</string>
                <key>sourceSize</key>
                <string>{316,216}</string>
            </dict>
            <key>battle_all_run_Zheng45_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,479},{260,160}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,30},{260,160}}</string>
                <key>sourceSize</key>
                <string>{316,216}</string>
            </dict>
            <key>battle_all_run_Zheng45_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,629},{260,160}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,30},{260,160}}</string>
                <key>sourceSize</key>
                <string>{316,216}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>battle_18.png</string>
            <key>size</key>
            <string>{1023,872}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:707c044c743a9281a922fcb429b50384:acf63f43c50c3014f4ce5e3b4827c559:8229f5a678260fe08472b17fcd6cc124$</string>
            <key>textureFileName</key>
            <string>battle_18.png</string>
        </dict>
    </dict>
</plist>
