<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>battle_huangjin_atk_Bei45_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,554},{130,80}}</string>
                <key>offset</key>
                <string>{3,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,129},{130,80}}</string>
                <key>sourceSize</key>
                <string>{316,316}</string>
            </dict>
            <key>battle_huangjin_atk_Bei45_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,452},{222,132}}</string>
                <key>offset</key>
                <string>{29,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,85},{222,132}}</string>
                <key>sourceSize</key>
                <string>{316,316}</string>
            </dict>
            <key>battle_huangjin_atk_Bei45_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,556},{132,80}}</string>
                <key>offset</key>
                <string>{38,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,114},{132,80}}</string>
                <key>sourceSize</key>
                <string>{316,316}</string>
            </dict>
            <key>battle_huangjin_atk_Bei45_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,689},{130,80}}</string>
                <key>offset</key>
                <string>{34,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,116},{130,80}}</string>
                <key>sourceSize</key>
                <string>{316,316}</string>
            </dict>
            <key>battle_huangjin_atk_Bei45_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,336},{128,80}}</string>
                <key>offset</key>
                <string>{28,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,118},{128,80}}</string>
                <key>sourceSize</key>
                <string>{316,316}</string>
            </dict>
            <key>battle_huangjin_atk_Bei45_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,215},{126,80}}</string>
                <key>offset</key>
                <string>{24,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,120},{126,80}}</string>
                <key>sourceSize</key>
                <string>{316,316}</string>
            </dict>
            <key>battle_huangjin_atk_Bei45_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,454},{128,80}}</string>
                <key>offset</key>
                <string>{18,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,121},{128,80}}</string>
                <key>sourceSize</key>
                <string>{316,316}</string>
            </dict>
            <key>battle_huangjin_atk_Bei45_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,535},{128,80}}</string>
                <key>offset</key>
                <string>{14,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,123},{128,80}}</string>
                <key>sourceSize</key>
                <string>{316,316}</string>
            </dict>
            <key>battle_huangjin_atk_Bei45_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,418},{126,80}}</string>
                <key>offset</key>
                <string>{9,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,126},{126,80}}</string>
                <key>sourceSize</key>
                <string>{316,316}</string>
            </dict>
            <key>battle_huangjin_atk_Bei45_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,687},{130,80}}</string>
                <key>offset</key>
                <string>{6,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,128},{130,80}}</string>
                <key>sourceSize</key>
                <string>{316,316}</string>
            </dict>
            <key>battle_huangjin_atk_Bei45_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,685},{132,82}}</string>
                <key>offset</key>
                <string>{5,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,127},{132,82}}</string>
                <key>sourceSize</key>
                <string>{316,316}</string>
            </dict>
            <key>battle_huangjin_atk_Bei45_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,296},{130,80}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,129},{130,80}}</string>
                <key>sourceSize</key>
                <string>{316,316}</string>
            </dict>
            <key>battle_huangjin_atk_Bei45_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,689},{130,82}}</string>
                <key>offset</key>
                <string>{5,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,127},{130,82}}</string>
                <key>sourceSize</key>
                <string>{316,316}</string>
            </dict>
            <key>battle_huangjin_atk_Bei45_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,417},{136,80}}</string>
                <key>offset</key>
                <string>{3,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,129},{136,80}}</string>
                <key>sourceSize</key>
                <string>{316,316}</string>
            </dict>
            <key>battle_huangjin_atk_Bei45_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,1},{166,104}}</string>
                <key>offset</key>
                <string>{13,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,114},{166,104}}</string>
                <key>sourceSize</key>
                <string>{316,316}</string>
            </dict>
            <key>battle_huangjin_atk_Bei45_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,701},{222,126}}</string>
                <key>offset</key>
                <string>{30,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,98},{222,126}}</string>
                <key>sourceSize</key>
                <string>{316,316}</string>
            </dict>
            <key>battle_huangjin_atk_Bei45_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,1},{244,150}}</string>
                <key>offset</key>
                <string>{36,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,78},{244,150}}</string>
                <key>sourceSize</key>
                <string>{316,316}</string>
            </dict>
            <key>battle_huangjin_atk_Bei45_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,154},{250,152}}</string>
                <key>offset</key>
                <string>{33,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,79},{250,152}}</string>
                <key>sourceSize</key>
                <string>{316,316}</string>
            </dict>
            <key>battle_huangjin_atk_Bei45_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{252,152}}</string>
                <key>offset</key>
                <string>{32,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,80},{252,152}}</string>
                <key>sourceSize</key>
                <string>{316,316}</string>
            </dict>
            <key>battle_huangjin_atk_Bei45_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,307},{234,144}}</string>
                <key>offset</key>
                <string>{23,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,85},{234,144}}</string>
                <key>sourceSize</key>
                <string>{316,316}</string>
            </dict>
            <key>battle_huangjin_atk_Zheng45_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,552},{134,78}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,129},{134,78}}</string>
                <key>sourceSize</key>
                <string>{316,316}</string>
            </dict>
            <key>battle_huangjin_atk_Zheng45_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,114},{234,100}}</string>
                <key>offset</key>
                <string>{25,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,133},{234,100}}</string>
                <key>sourceSize</key>
                <string>{316,316}</string>
            </dict>
            <key>battle_huangjin_atk_Zheng45_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,946},{134,76}}</string>
                <key>offset</key>
                <string>{44,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,146},{134,76}}</string>
                <key>sourceSize</key>
                <string>{316,316}</string>
            </dict>
            <key>battle_huangjin_atk_Zheng45_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,106},{132,76}}</string>
                <key>offset</key>
                <string>{40,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,144},{132,76}}</string>
                <key>sourceSize</key>
                <string>{316,316}</string>
            </dict>
            <key>battle_huangjin_atk_Zheng45_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,183},{132,76}}</string>
                <key>offset</key>
                <string>{35,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,142},{132,76}}</string>
                <key>sourceSize</key>
                <string>{316,316}</string>
            </dict>
            <key>battle_huangjin_atk_Zheng45_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,215},{132,78}}</string>
                <key>offset</key>
                <string>{30,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,138},{132,78}}</string>
                <key>sourceSize</key>
                <string>{316,316}</string>
            </dict>
            <key>battle_huangjin_atk_Zheng45_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,377},{130,76}}</string>
                <key>offset</key>
                <string>{26,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,139},{130,76}}</string>
                <key>sourceSize</key>
                <string>{316,316}</string>
            </dict>
            <key>battle_huangjin_atk_Zheng45_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,260},{132,78}}</string>
                <key>offset</key>
                <string>{20,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,135},{132,78}}</string>
                <key>sourceSize</key>
                <string>{316,316}</string>
            </dict>
            <key>battle_huangjin_atk_Zheng45_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,535},{132,76}}</string>
                <key>offset</key>
                <string>{16,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,135},{132,76}}</string>
                <key>sourceSize</key>
                <string>{316,316}</string>
            </dict>
            <key>battle_huangjin_atk_Zheng45_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,339},{132,78}}</string>
                <key>offset</key>
                <string>{11,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,131},{132,78}}</string>
                <key>sourceSize</key>
                <string>{316,316}</string>
            </dict>
            <key>battle_huangjin_atk_Zheng45_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,417},{134,78}}</string>
                <key>offset</key>
                <string>{5,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,129},{134,78}}</string>
                <key>sourceSize</key>
                <string>{316,316}</string>
            </dict>
            <key>battle_huangjin_atk_Zheng45_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,417},{134,80}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,127},{134,80}}</string>
                <key>sourceSize</key>
                <string>{316,316}</string>
            </dict>
            <key>battle_huangjin_atk_Zheng45_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,417},{138,78}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,129},{138,78}}</string>
                <key>sourceSize</key>
                <string>{316,316}</string>
            </dict>
            <key>battle_huangjin_atk_Zheng45_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,552},{134,80}}</string>
                <key>offset</key>
                <string>{-3,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,127},{134,80}}</string>
                <key>sourceSize</key>
                <string>{316,316}</string>
            </dict>
            <key>battle_huangjin_atk_Zheng45_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,336},{142,80}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,128},{142,80}}</string>
                <key>sourceSize</key>
                <string>{316,316}</string>
            </dict>
            <key>battle_huangjin_atk_Zheng45_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,247},{168,88}}</string>
                <key>offset</key>
                <string>{12,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,128},{168,88}}</string>
                <key>sourceSize</key>
                <string>{316,316}</string>
            </dict>
            <key>battle_huangjin_atk_Zheng45_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,152},{218,94}}</string>
                <key>offset</key>
                <string>{31,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,137},{218,94}}</string>
                <key>sourceSize</key>
                <string>{316,316}</string>
            </dict>
            <key>battle_huangjin_atk_Zheng45_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,701},{244,106}}</string>
                <key>offset</key>
                <string>{36,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,134},{244,106}}</string>
                <key>sourceSize</key>
                <string>{316,316}</string>
            </dict>
            <key>battle_huangjin_atk_Zheng45_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,452},{248,110}}</string>
                <key>offset</key>
                <string>{34,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,132},{248,110}}</string>
                <key>sourceSize</key>
                <string>{316,316}</string>
            </dict>
            <key>battle_huangjin_atk_Zheng45_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,1},{250,112}}</string>
                <key>offset</key>
                <string>{33,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,131},{250,112}}</string>
                <key>sourceSize</key>
                <string>{316,316}</string>
            </dict>
            <key>battle_huangjin_run_Bei_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,818},{81,121}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,63},{81,121}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>battle_huangjin_run_Bei_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,499},{79,119}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,65},{79,119}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>battle_huangjin_run_Bei_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,579},{79,119}}</string>
                <key>offset</key>
                <string>{2,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,65},{79,119}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>battle_huangjin_run_Bei_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,294},{81,121}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,63},{81,121}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>battle_huangjin_run_Bei_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,820},{81,119}}</string>
                <key>offset</key>
                <string>{2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,65},{81,119}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>battle_huangjin_run_Bei_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,687},{79,121}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,63},{79,121}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>battle_huangjin_run_Bei_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,743},{79,121}}</string>
                <key>offset</key>
                <string>{2,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,63},{79,121}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>battle_huangjin_run_Bei_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,499},{81,121}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,63},{81,121}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>battle_huangjin_run_Bei_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,743},{79,121}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,63},{79,121}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>battle_huangjin_run_Bei_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,809},{79,121}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,63},{79,121}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>battle_huangjin_run_Bei_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,621},{81,121}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,63},{81,121}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>battle_huangjin_run_Bei_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,820},{81,119}}</string>
                <key>offset</key>
                <string>{2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,65},{81,119}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>battle_huangjin_run_Ce_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,938},{113,85}}</string>
                <key>offset</key>
                <string>{-7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,74},{113,85}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>battle_huangjin_run_Ce_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,940},{117,83}}</string>
                <key>offset</key>
                <string>{-8,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,76},{117,83}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>battle_huangjin_run_Ce_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,940},{117,83}}</string>
                <key>offset</key>
                <string>{-8,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,76},{117,83}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>battle_huangjin_run_Ce_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,668},{115,81}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,75},{115,81}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>battle_huangjin_run_Ce_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,931},{113,85}}</string>
                <key>offset</key>
                <string>{-7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,74},{113,85}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>battle_huangjin_run_Ce_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,823},{113,85}}</string>
                <key>offset</key>
                <string>{-7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,74},{113,85}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>battle_huangjin_run_Ce_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,940},{117,83}}</string>
                <key>offset</key>
                <string>{-8,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,76},{117,83}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>battle_huangjin_run_Ce_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,659},{117,83}}</string>
                <key>offset</key>
                <string>{-9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,73},{117,83}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>battle_huangjin_run_Ce_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,820},{117,83}}</string>
                <key>offset</key>
                <string>{-9,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,74},{117,83}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>battle_huangjin_run_Ce_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,823},{115,83}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,75},{115,83}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>battle_huangjin_run_Ce_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,865},{113,83}}</string>
                <key>offset</key>
                <string>{-7,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,76},{113,83}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>battle_huangjin_run_Ce_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,939},{113,83}}</string>
                <key>offset</key>
                <string>{-6,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,76},{113,83}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>battle_10.png</string>
            <key>size</key>
            <string>{927,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d3f81ef994c2c7ed20d65c95ed31ceaf:60ceeb7edc6ce94565670682486639f6:00e1fb636892cb037cad594019356d06$</string>
            <key>textureFileName</key>
            <string>battle_10.png</string>
        </dict>
    </dict>
</plist>
