<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>battle_kingdom_atk_Zheng45_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,627},{131,91}}</string>
                <key>offset</key>
                <string>{-6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,149},{131,91}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_kingdom_atk_Zheng45_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,277},{183,91}}</string>
                <key>offset</key>
                <string>{26,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,164},{183,91}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_kingdom_atk_Zheng45_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,185},{185,91}}</string>
                <key>offset</key>
                <string>{25,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,164},{185,91}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_kingdom_atk_Zheng45_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,1},{155,93}}</string>
                <key>offset</key>
                <string>{10,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,162},{155,93}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_kingdom_atk_Zheng45_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,386},{127,93}}</string>
                <key>offset</key>
                <string>{18,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,160},{127,93}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_kingdom_atk_Zheng45_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,480},{125,93}}</string>
                <key>offset</key>
                <string>{14,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,159},{125,93}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_kingdom_atk_Zheng45_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,558},{125,93}}</string>
                <key>offset</key>
                <string>{10,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,157},{125,93}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_kingdom_atk_Zheng45_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,809},{125,95}}</string>
                <key>offset</key>
                <string>{6,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,153},{125,95}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_kingdom_atk_Zheng45_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,564},{125,95}}</string>
                <key>offset</key>
                <string>{3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,151},{125,95}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_kingdom_atk_Zheng45_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,642},{125,95}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,149},{125,95}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_kingdom_atk_Zheng45_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,548},{129,93}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,149},{129,93}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_kingdom_atk_Zheng45_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,380},{133,91}}</string>
                <key>offset</key>
                <string>{-7,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,149},{133,91}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_kingdom_atk_Zheng45_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,466},{133,91}}</string>
                <key>offset</key>
                <string>{-6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,149},{133,91}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_kingdom_atk_Zheng45_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,472},{133,91}}</string>
                <key>offset</key>
                <string>{-7,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,149},{133,91}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_kingdom_atk_Zheng45_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,374},{137,91}}</string>
                <key>offset</key>
                <string>{-8,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,149},{137,91}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_kingdom_atk_Zheng45_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,91},{149,89}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,151},{149,89}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_kingdom_atk_Zheng45_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,369},{181,91}}</string>
                <key>offset</key>
                <string>{16,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,154},{181,91}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_kingdom_atk_Zheng45_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{195,95}}</string>
                <key>offset</key>
                <string>{26,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,157},{195,95}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_kingdom_atk_Zheng45_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,97},{193,87}}</string>
                <key>offset</key>
                <string>{31,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,160},{193,87}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_kingdom_atk_Zheng45_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,1},{189,89}}</string>
                <key>offset</key>
                <string>{35,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,162},{189,89}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_kingdom_atk_Zheng_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,1},{89,115}}</string>
                <key>offset</key>
                <string>{-5,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,138},{89,115}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_kingdom_atk_Zheng_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,461},{93,173}}</string>
                <key>offset</key>
                <string>{-6,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,141},{93,173}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_kingdom_atk_Zheng_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,635},{91,173}}</string>
                <key>offset</key>
                <string>{-6,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,141},{91,173}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_kingdom_atk_Zheng_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,547},{79,135}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,141},{79,135}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_kingdom_atk_Zheng_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,742},{81,115}}</string>
                <key>offset</key>
                <string>{-1,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,158},{81,115}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_kingdom_atk_Zheng_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,660},{89,117}}</string>
                <key>offset</key>
                <string>{-3,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,154},{89,117}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_kingdom_atk_Zheng_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,738},{85,117}}</string>
                <key>offset</key>
                <string>{-3,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,151},{85,117}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_kingdom_atk_Zheng_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,652},{89,121}}</string>
                <key>offset</key>
                <string>{-3,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,144},{89,121}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_kingdom_atk_Zheng_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,660},{85,121}}</string>
                <key>offset</key>
                <string>{-3,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,141},{85,121}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_kingdom_atk_Zheng_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,750},{79,121}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,138},{79,121}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_kingdom_atk_Zheng_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,830},{79,117}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,138},{79,117}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_kingdom_atk_Zheng_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,746},{87,115}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,138},{87,115}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_kingdom_atk_Zheng_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,574},{79,115}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,138},{79,115}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_kingdom_atk_Zheng_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,719},{89,115}}</string>
                <key>offset</key>
                <string>{-5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,137},{89,115}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_kingdom_atk_Zheng_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,574},{85,119}}</string>
                <key>offset</key>
                <string>{-3,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,137},{85,119}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_kingdom_atk_Zheng_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,192},{85,125}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,136},{85,125}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_kingdom_atk_Zheng_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,635},{83,147}}</string>
                <key>offset</key>
                <string>{-2,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,143},{83,147}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_kingdom_atk_Zheng_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,461},{91,157}}</string>
                <key>offset</key>
                <string>{-6,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,149},{91,157}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_kingdom_atk_Zheng_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,1},{93,167}}</string>
                <key>offset</key>
                <string>{-6,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,143},{93,167}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_kingdom_atk_Zheng_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,1},{91,173}}</string>
                <key>offset</key>
                <string>{-6,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,141},{91,173}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_kingdom_run_Bei45_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,95},{144,96}}</string>
                <key>offset</key>
                <string>{-14,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,84},{144,96}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_kingdom_run_Bei45_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,95},{144,96}}</string>
                <key>offset</key>
                <string>{-13,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,84},{144,96}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_kingdom_run_Bei45_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,93},{146,96}}</string>
                <key>offset</key>
                <string>{-14,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,84},{146,96}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_kingdom_run_Bei45_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,95},{144,96}}</string>
                <key>offset</key>
                <string>{-15,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,84},{144,96}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_kingdom_run_Bei45_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,783},{144,96}}</string>
                <key>offset</key>
                <string>{-15,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,84},{144,96}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_kingdom_run_Bei45_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,192},{142,96}}</string>
                <key>offset</key>
                <string>{-13,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,84},{142,96}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_kingdom_run_Bei45_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,192},{142,96}}</string>
                <key>offset</key>
                <string>{-13,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,84},{142,96}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_kingdom_run_Bei45_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,289},{140,96}}</string>
                <key>offset</key>
                <string>{-12,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,84},{140,96}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_kingdom_run_Bei45_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,318},{140,96}}</string>
                <key>offset</key>
                <string>{-13,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,84},{140,96}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_kingdom_run_Bei45_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,270},{142,96}}</string>
                <key>offset</key>
                <string>{-13,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,84},{142,96}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_kingdom_run_Bei_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,690},{88,112}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,64},{88,112}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_kingdom_run_Bei_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,779},{86,112}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,64},{86,112}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_kingdom_run_Bei_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,824},{88,110}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,66},{88,110}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_kingdom_run_Bei_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,661},{86,110}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,66},{86,110}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_kingdom_run_Bei_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,779},{86,110}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,66},{86,110}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_kingdom_run_Bei_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,824},{88,110}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,65},{88,110}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_kingdom_run_Bei_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,835},{90,110}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,65},{90,110}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_kingdom_run_Bei_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,824},{90,110}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,65},{90,110}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_kingdom_run_Bei_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,459},{88,112}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,64},{88,112}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_kingdom_run_Bei_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,548},{88,112}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,64},{88,112}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_kingdom_run_Ce_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,181},{144,88}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,85},{144,88}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_kingdom_run_Ce_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,190},{144,88}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,85},{144,88}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_kingdom_run_Ce_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,192},{144,90}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,83},{144,90}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_kingdom_run_Ce_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,279},{142,90}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,83},{142,90}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_kingdom_run_Ce_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,283},{142,90}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,83},{142,90}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_kingdom_run_Ce_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,289},{142,90}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,83},{142,90}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_kingdom_run_Ce_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,456},{140,90}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,83},{140,90}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_kingdom_run_Ce_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,459},{140,88}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,83},{140,88}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_kingdom_run_Ce_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,367},{142,88}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,85},{142,88}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_kingdom_run_Ce_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,370},{142,88}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,85},{142,88}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>battle_14.png</string>
            <key>size</key>
            <string>{1002,935}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e240bafceedb97f88410d4c76e2e9b49:d8abeb2aed9d8295fcb82cb2035e7b2e:cd66445179a18b324748928ccc8ba486$</string>
            <key>textureFileName</key>
            <string>battle_14.png</string>
        </dict>
    </dict>
</plist>
