<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>battle_huangjin_atk_Bei_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,727},{68,104}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,126},{68,104}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_huangjin_atk_Bei_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,252},{84,250}}</string>
                <key>offset</key>
                <string>{8,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,20},{84,250}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_huangjin_atk_Bei_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,853},{68,114}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,91},{68,114}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_huangjin_atk_Bei_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,851},{68,114}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,94},{68,114}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_huangjin_atk_Bei_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,1},{68,112}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,100},{68,112}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_huangjin_atk_Bei_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,384},{66,112}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{137,103},{66,112}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_huangjin_atk_Bei_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,104},{68,112}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,107},{68,112}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_huangjin_atk_Bei_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,114},{68,110}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,112},{68,110}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_huangjin_atk_Bei_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,225},{68,110}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,116},{68,110}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_huangjin_atk_Bei_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,294},{68,108}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,122},{68,108}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_huangjin_atk_Bei_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,608},{68,106}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,124},{68,106}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_huangjin_atk_Bei_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,796},{68,102}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,128},{68,102}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_huangjin_atk_Bei_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,510},{66,104}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{137,126},{66,104}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_huangjin_atk_Bei_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,853},{70,114}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,127},{70,114}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_huangjin_atk_Bei_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,764},{74,152}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,101},{74,152}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_huangjin_atk_Bei_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,1},{76,210}}</string>
                <key>offset</key>
                <string>{2,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,51},{76,210}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_huangjin_atk_Bei_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,248},{88,238}}</string>
                <key>offset</key>
                <string>{8,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,30},{88,238}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_huangjin_atk_Bei_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,1},{88,246}}</string>
                <key>offset</key>
                <string>{7,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,23},{88,246}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_huangjin_atk_Bei_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,1},{88,250}}</string>
                <key>offset</key>
                <string>{8,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,20},{88,250}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_huangjin_atk_Bei_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,513},{86,250}}</string>
                <key>offset</key>
                <string>{8,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,20},{86,250}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_huangjin_atk_Ce_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,1},{130,76}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,138},{130,76}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_huangjin_atk_Ce_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,258},{256,82}}</string>
                <key>offset</key>
                <string>{41,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,132},{256,82}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_huangjin_atk_Ce_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,150},{148,74}}</string>
                <key>offset</key>
                <string>{44,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,140},{148,74}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_huangjin_atk_Ce_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,706},{144,74}}</string>
                <key>offset</key>
                <string>{35,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,140},{144,74}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_huangjin_atk_Ce_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,299},{136,74}}</string>
                <key>offset</key>
                <string>{27,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,140},{136,74}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_huangjin_atk_Ce_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,295},{134,74}}</string>
                <key>offset</key>
                <string>{21,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,140},{134,74}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_huangjin_atk_Ce_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,295},{134,74}}</string>
                <key>offset</key>
                <string>{18,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,140},{134,74}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_huangjin_atk_Ce_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,309},{130,74}}</string>
                <key>offset</key>
                <string>{13,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,140},{130,74}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_huangjin_atk_Ce_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,78},{130,76}}</string>
                <key>offset</key>
                <string>{11,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,138},{130,76}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_huangjin_atk_Ce_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,155},{130,76}}</string>
                <key>offset</key>
                <string>{8,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,138},{130,76}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_huangjin_atk_Ce_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,577},{128,76}}</string>
                <key>offset</key>
                <string>{7,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,138},{128,76}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_huangjin_atk_Ce_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,577},{128,76}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,138},{128,76}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_huangjin_atk_Ce_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,232},{130,76}}</string>
                <key>offset</key>
                <string>{5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,138},{130,76}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_huangjin_atk_Ce_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,361},{132,80}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,139},{132,80}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_huangjin_atk_Ce_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,770},{180,80}}</string>
                <key>offset</key>
                <string>{21,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,140},{180,80}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_huangjin_atk_Ce_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,503},{240,80}}</string>
                <key>offset</key>
                <string>{44,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,140},{240,80}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_huangjin_atk_Ce_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,1},{252,80}}</string>
                <key>offset</key>
                <string>{43,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,140},{252,80}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_huangjin_atk_Ce_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,515},{254,90}}</string>
                <key>offset</key>
                <string>{42,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,130},{254,90}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_huangjin_atk_Ce_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,258},{254,88}}</string>
                <key>offset</key>
                <string>{42,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,130},{254,88}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_huangjin_atk_Ce_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{256,84}}</string>
                <key>offset</key>
                <string>{41,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,132},{256,84}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_huangjin_atk_Zheng_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,451},{68,100}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,128},{68,100}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_huangjin_atk_Zheng_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,1},{82,230}}</string>
                <key>offset</key>
                <string>{6,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,108},{82,230}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_huangjin_atk_Zheng_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,862},{68,106}}</string>
                <key>offset</key>
                <string>{-1,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,156},{68,106}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_huangjin_atk_Zheng_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,862},{68,106}}</string>
                <key>offset</key>
                <string>{-1,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,153},{68,106}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_huangjin_atk_Zheng_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,861},{68,106}}</string>
                <key>offset</key>
                <string>{-1,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,147},{68,106}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_huangjin_atk_Zheng_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,861},{68,106}}</string>
                <key>offset</key>
                <string>{-1,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,143},{68,106}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_huangjin_atk_Zheng_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,403},{68,106}}</string>
                <key>offset</key>
                <string>{-1,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,140},{68,106}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_huangjin_atk_Zheng_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,589},{68,106}}</string>
                <key>offset</key>
                <string>{-1,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,137},{68,106}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_huangjin_atk_Zheng_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,658},{68,106}}</string>
                <key>offset</key>
                <string>{-1,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,133},{68,106}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_huangjin_atk_Zheng_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,727},{68,106}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,129},{68,106}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_huangjin_atk_Zheng_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,1},{70,102}}</string>
                <key>offset</key>
                <string>{-2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,129},{70,102}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_huangjin_atk_Zheng_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,520},{68,100}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,128},{68,100}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_huangjin_atk_Zheng_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,865},{68,100}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,128},{68,100}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_huangjin_atk_Zheng_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,608},{70,106}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,128},{70,106}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_huangjin_atk_Zheng_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,589},{70,124}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,127},{70,124}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_huangjin_atk_Zheng_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,770},{72,186}}</string>
                <key>offset</key>
                <string>{0,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,118},{72,186}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_huangjin_atk_Zheng_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,744},{86,216}}</string>
                <key>offset</key>
                <string>{6,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,112},{86,216}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_huangjin_atk_Zheng_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,716},{86,226}}</string>
                <key>offset</key>
                <string>{6,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,109},{86,226}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_huangjin_atk_Zheng_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,487},{86,228}}</string>
                <key>offset</key>
                <string>{6,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,109},{86,228}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_huangjin_atk_Zheng_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,232},{84,226}}</string>
                <key>offset</key>
                <string>{6,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,110},{84,226}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_huangjin_run_Zheng45_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,1},{146,118}}</string>
                <key>offset</key>
                <string>{-6,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,72},{146,118}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_huangjin_run_Zheng45_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,442},{146,116}}</string>
                <key>offset</key>
                <string>{-6,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,73},{146,116}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_huangjin_run_Zheng45_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,714},{146,116}}</string>
                <key>offset</key>
                <string>{-6,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,73},{146,116}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_huangjin_run_Zheng45_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,715},{146,118}}</string>
                <key>offset</key>
                <string>{-6,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,71},{146,118}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_huangjin_run_Zheng45_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,148},{146,116}}</string>
                <key>offset</key>
                <string>{-6,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,73},{146,116}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_huangjin_run_Zheng45_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,589},{146,116}}</string>
                <key>offset</key>
                <string>{-6,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,73},{146,116}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_huangjin_run_Zheng45_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,436},{146,116}}</string>
                <key>offset</key>
                <string>{-6,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,73},{146,116}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_huangjin_run_Zheng45_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,459},{148,116}}</string>
                <key>offset</key>
                <string>{-7,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,73},{148,116}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_huangjin_run_Zheng45_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,212},{148,116}}</string>
                <key>offset</key>
                <string>{-7,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,73},{148,116}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_huangjin_run_Zheng45_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,1},{148,116}}</string>
                <key>offset</key>
                <string>{-8,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,73},{148,116}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_huangjin_run_Zheng45_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,706},{146,116}}</string>
                <key>offset</key>
                <string>{-6,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,73},{146,116}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_huangjin_run_Zheng45_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,430},{146,116}}</string>
                <key>offset</key>
                <string>{-6,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,73},{146,116}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>battle_11.png</string>
            <key>size</key>
            <string>{1021,969}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5fb84cc8e3a603ef15a55081507e94cd:28a7d241575c52c508a462ba79f1d2ac:5f2cd409dc64df15af4bf9b4d3350f6e$</string>
            <key>textureFileName</key>
            <string>battle_11.png</string>
        </dict>
    </dict>
</plist>
