<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>wg_shunquan_zhengche_txd.png</key>
			<dict>
				<key>width</key>
				<integer>118</integer>
				<key>height</key>
				<integer>12</integer>
				<key>originalWidth</key>
				<integer>118</integer>
				<key>originalHeight</key>
				<integer>12</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>wd_shunquan_zhengche_tou.png</key>
			<dict>
				<key>width</key>
				<integer>66</integer>
				<key>height</key>
				<integer>150</integer>
				<key>originalWidth</key>
				<integer>66</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>120</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>wd_shunquan_zhengche_jian1.png</key>
			<dict>
				<key>width</key>
				<integer>46</integer>
				<key>height</key>
				<integer>76</integer>
				<key>originalWidth</key>
				<integer>46</integer>
				<key>originalHeight</key>
				<integer>76</integer>
				<key>x</key>
				<integer>188</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>wd_shunquan_zhengche_xiuzi2.png</key>
			<dict>
				<key>width</key>
				<integer>103</integer>
				<key>height</key>
				<integer>96</integer>
				<key>originalWidth</key>
				<integer>103</integer>
				<key>originalHeight</key>
				<integer>96</integer>
				<key>x</key>
				<integer>236</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>wd_shunquan_zhengche_shou1.png</key>
			<dict>
				<key>width</key>
				<integer>40</integer>
				<key>height</key>
				<integer>87</integer>
				<key>originalWidth</key>
				<integer>40</integer>
				<key>originalHeight</key>
				<integer>87</integer>
				<key>x</key>
				<integer>341</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>wd_shunquan_zhengche_jian.png</key>
			<dict>
				<key>width</key>
				<integer>150</integer>
				<key>height</key>
				<integer>165</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>152</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>wd_shunquan_zhengche_xiong.png</key>
			<dict>
				<key>width</key>
				<integer>68</integer>
				<key>height</key>
				<integer>99</integer>
				<key>originalWidth</key>
				<integer>68</integer>
				<key>originalHeight</key>
				<integer>99</integer>
				<key>x</key>
				<integer>152</integer>
				<key>y</key>
				<integer>152</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>wd_shunquan_zhengche_qunzi1.png</key>
			<dict>
				<key>width</key>
				<integer>106</integer>
				<key>height</key>
				<integer>210</integer>
				<key>originalWidth</key>
				<integer>106</integer>
				<key>originalHeight</key>
				<integer>210</integer>
				<key>x</key>
				<integer>222</integer>
				<key>y</key>
				<integer>152</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>wd_shunquan_zhengche_jian2.png</key>
			<dict>
				<key>width</key>
				<integer>50</integer>
				<key>height</key>
				<integer>80</integer>
				<key>originalWidth</key>
				<integer>50</integer>
				<key>originalHeight</key>
				<integer>80</integer>
				<key>x</key>
				<integer>330</integer>
				<key>y</key>
				<integer>152</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>wd_shunquan_zhengche_qunzi2.png</key>
			<dict>
				<key>width</key>
				<integer>48</integer>
				<key>height</key>
				<integer>200</integer>
				<key>originalWidth</key>
				<integer>48</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>382</integer>
				<key>y</key>
				<integer>152</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>wd_shunquan_zhengche_dang.png</key>
			<dict>
				<key>width</key>
				<integer>30</integer>
				<key>height</key>
				<integer>175</integer>
				<key>originalWidth</key>
				<integer>30</integer>
				<key>originalHeight</key>
				<integer>175</integer>
				<key>x</key>
				<integer>432</integer>
				<key>y</key>
				<integer>152</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>wd_shunquan_zhengche_xiuzi1.png</key>
			<dict>
				<key>width</key>
				<integer>73</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>73</integer>
				<key>originalHeight</key>
				<integer>79</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>364</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>wd_shunquan_zhengche_shou2.png</key>
			<dict>
				<key>width</key>
				<integer>34</integer>
				<key>height</key>
				<integer>49</integer>
				<key>originalWidth</key>
				<integer>34</integer>
				<key>originalHeight</key>
				<integer>49</integer>
				<key>x</key>
				<integer>75</integer>
				<key>y</key>
				<integer>364</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>wd_shunquan_zhengche_jiao.png</key>
			<dict>
				<key>width</key>
				<integer>42</integer>
				<key>height</key>
				<integer>80</integer>
				<key>originalWidth</key>
				<integer>42</integer>
				<key>originalHeight</key>
				<integer>80</integer>
				<key>x</key>
				<integer>111</integer>
				<key>y</key>
				<integer>364</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>wd_shunquan_zhengche0.png</string>
			<key>realTextureFileName</key>
			<string>wd_shunquan_zhengche0.png</string>
			<key>size</key>
			<string>{512,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>