<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>battle_all_atk_Bei45_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,376},{233,167}}</string>
                <key>offset</key>
                <string>{-22,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,88},{233,167}}</string>
                <key>sourceSize</key>
                <string>{427,375}</string>
            </dict>
            <key>battle_all_atk_Bei45_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,794},{237,169}}</string>
                <key>offset</key>
                <string>{-19,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,86},{237,169}}</string>
                <key>sourceSize</key>
                <string>{427,375}</string>
            </dict>
            <key>battle_all_atk_Bei45_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,784},{221,159}}</string>
                <key>offset</key>
                <string>{-17,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,96},{221,159}}</string>
                <key>sourceSize</key>
                <string>{427,375}</string>
            </dict>
            <key>battle_all_atk_Bei45_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,835},{237,169}}</string>
                <key>offset</key>
                <string>{-9,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,92},{237,169}}</string>
                <key>sourceSize</key>
                <string>{427,375}</string>
            </dict>
            <key>battle_all_atk_Bei45_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,199},{267,181}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,83},{267,181}}</string>
                <key>sourceSize</key>
                <string>{427,375}</string>
            </dict>
            <key>battle_all_atk_Bei45_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,338},{311,201}}</string>
                <key>offset</key>
                <string>{27,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,54},{311,201}}</string>
                <key>sourceSize</key>
                <string>{427,375}</string>
            </dict>
            <key>battle_all_atk_Bei45_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,0},{311,199}}</string>
                <key>offset</key>
                <string>{27,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,56},{311,199}}</string>
                <key>sourceSize</key>
                <string>{427,375}</string>
            </dict>
            <key>battle_all_atk_Bei45_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{339,207}}</string>
                <key>offset</key>
                <string>{42,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,48},{339,207}}</string>
                <key>sourceSize</key>
                <string>{427,375}</string>
            </dict>
            <key>battle_all_atk_Bei45_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,0},{317,195}}</string>
                <key>offset</key>
                <string>{20,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,60},{317,195}}</string>
                <key>sourceSize</key>
                <string>{427,375}</string>
            </dict>
            <key>battle_all_atk_Bei45_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,339},{351,203}}</string>
                <key>offset</key>
                <string>{38,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,52},{351,203}}</string>
                <key>sourceSize</key>
                <string>{427,375}</string>
            </dict>
            <key>battle_all_atk_Ce_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,0},{197,147}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,104},{197,147}}</string>
                <key>sourceSize</key>
                <string>{427,375}</string>
            </dict>
            <key>battle_all_atk_Ce_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,542},{285,157}}</string>
                <key>offset</key>
                <string>{45,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,94},{285,157}}</string>
                <key>sourceSize</key>
                <string>{427,375}</string>
            </dict>
            <key>battle_all_atk_Ce_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,854},{199,145}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,107},{199,145}}</string>
                <key>sourceSize</key>
                <string>{427,375}</string>
            </dict>
            <key>battle_all_atk_Ce_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,466},{257,143}}</string>
                <key>offset</key>
                <string>{32,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,108},{257,143}}</string>
                <key>sourceSize</key>
                <string>{427,375}</string>
            </dict>
            <key>battle_all_atk_Ce_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,649},{285,145}}</string>
                <key>offset</key>
                <string>{45,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,106},{285,145}}</string>
                <key>sourceSize</key>
                <string>{427,375}</string>
            </dict>
            <key>battle_all_atk_Ce_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,542},{293,145}}</string>
                <key>offset</key>
                <string>{49,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,106},{293,145}}</string>
                <key>sourceSize</key>
                <string>{427,375}</string>
            </dict>
            <key>battle_all_atk_Ce_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,195},{285,143}}</string>
                <key>offset</key>
                <string>{46,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,108},{285,143}}</string>
                <key>sourceSize</key>
                <string>{427,375}</string>
            </dict>
            <key>battle_all_atk_Ce_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,609},{245,149}}</string>
                <key>offset</key>
                <string>{26,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,102},{245,149}}</string>
                <key>sourceSize</key>
                <string>{427,375}</string>
            </dict>
            <key>battle_all_atk_Ce_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,609},{233,175}}</string>
                <key>offset</key>
                <string>{20,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,76},{233,175}}</string>
                <key>sourceSize</key>
                <string>{427,375}</string>
            </dict>
            <key>battle_all_atk_Ce_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,199},{251,177}}</string>
                <key>offset</key>
                <string>{28,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,74},{251,177}}</string>
                <key>sourceSize</key>
                <string>{427,375}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>battle_19.png</string>
            <key>size</key>
            <string>{1000,1018}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2c88ab894a2466bdbced22706ef6ceb7:04a7323cb290887d0bedec3c889abf03:0a2d765fae16db17388a0f5b5aa5ecf6$</string>
            <key>textureFileName</key>
            <string>battle_19.png</string>
        </dict>
    </dict>
</plist>
