<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>battle_arrow_run_Bei45_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,88},{106,80}}</string>
                <key>offset</key>
                <string>{-5,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,93},{106,80}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_arrow_run_Bei45_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,274},{108,80}}</string>
                <key>offset</key>
                <string>{-5,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,93},{108,80}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_arrow_run_Bei45_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,466},{106,80}}</string>
                <key>offset</key>
                <string>{-5,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,93},{106,80}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_arrow_run_Bei45_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,573},{106,80}}</string>
                <key>offset</key>
                <string>{-5,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,93},{106,80}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_arrow_run_Bei45_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,680},{106,80}}</string>
                <key>offset</key>
                <string>{-5,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,93},{106,80}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_arrow_run_Bei45_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,787},{106,80}}</string>
                <key>offset</key>
                <string>{-5,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,93},{106,80}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_arrow_run_Bei45_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,894},{106,80}}</string>
                <key>offset</key>
                <string>{-5,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,93},{106,80}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_arrow_run_Bei45_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,355},{108,80}}</string>
                <key>offset</key>
                <string>{-6,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,93},{108,80}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_arrow_run_Bei45_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,436},{108,80}}</string>
                <key>offset</key>
                <string>{-6,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,93},{108,80}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_arrow_run_Bei45_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,181},{108,80}}</string>
                <key>offset</key>
                <string>{-5,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,93},{108,80}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_arrow_run_Bei45_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,88},{108,80}}</string>
                <key>offset</key>
                <string>{-5,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,93},{108,80}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_arrow_run_Bei45_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,88},{108,80}}</string>
                <key>offset</key>
                <string>{-5,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,93},{108,80}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_arrow_run_Bei_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,254},{84,100}}</string>
                <key>offset</key>
                <string>{2,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,90},{84,100}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_arrow_run_Bei_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,620},{82,100}}</string>
                <key>offset</key>
                <string>{2,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,90},{82,100}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_arrow_run_Bei_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,339},{84,100}}</string>
                <key>offset</key>
                <string>{1,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,90},{84,100}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_arrow_run_Bei_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,935},{86,100}}</string>
                <key>offset</key>
                <string>{1,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,90},{86,100}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_arrow_run_Bei_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,339},{84,100}}</string>
                <key>offset</key>
                <string>{2,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,90},{84,100}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_arrow_run_Bei_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,424},{82,100}}</string>
                <key>offset</key>
                <string>{2,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,90},{82,100}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_arrow_run_Bei_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,339},{84,100}}</string>
                <key>offset</key>
                <string>{1,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,90},{84,100}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_arrow_run_Bei_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,622},{86,100}}</string>
                <key>offset</key>
                <string>{1,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,90},{86,100}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_arrow_run_Bei_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,424},{84,100}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,90},{84,100}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_arrow_run_Bei_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,509},{82,100}}</string>
                <key>offset</key>
                <string>{2,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,90},{82,100}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_arrow_run_Bei_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,505},{84,100}}</string>
                <key>offset</key>
                <string>{2,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,90},{84,100}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_arrow_run_Bei_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,606},{84,100}}</string>
                <key>offset</key>
                <string>{2,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,90},{84,100}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_arrow_run_Ce_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,436},{96,80}}</string>
                <key>offset</key>
                <string>{-15,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,90},{96,80}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_arrow_run_Ce_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,436},{94,80}}</string>
                <key>offset</key>
                <string>{-15,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,89},{94,80}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_arrow_run_Ce_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,610},{94,80}}</string>
                <key>offset</key>
                <string>{-15,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,89},{94,80}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_arrow_run_Ce_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,691},{98,80}}</string>
                <key>offset</key>
                <string>{-15,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,90},{98,80}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_arrow_run_Ce_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,685},{96,80}}</string>
                <key>offset</key>
                <string>{-15,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,89},{96,80}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_arrow_run_Ce_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,847},{94,80}}</string>
                <key>offset</key>
                <string>{-14,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,89},{94,80}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_arrow_run_Ce_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,853},{94,80}}</string>
                <key>offset</key>
                <string>{-15,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,89},{94,80}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_arrow_run_Ce_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,766},{96,80}}</string>
                <key>offset</key>
                <string>{-16,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,90},{96,80}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_arrow_run_Ce_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,723},{98,80}}</string>
                <key>offset</key>
                <string>{-15,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,90},{98,80}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_arrow_run_Ce_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,822},{98,80}}</string>
                <key>offset</key>
                <string>{-15,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,90},{98,80}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_arrow_run_Ce_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,772},{96,80}}</string>
                <key>offset</key>
                <string>{-15,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,90},{96,80}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_arrow_run_Ce_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,877},{94,80}}</string>
                <key>offset</key>
                <string>{-15,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,89},{94,80}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_infantry_run_Bei45_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,187},{114,86}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,85},{114,86}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_infantry_run_Bei45_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,94},{114,86}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,85},{114,86}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_infantry_run_Bei45_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,1},{114,86}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,85},{114,86}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_infantry_run_Bei45_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,466},{114,86}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,85},{114,86}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_infantry_run_Bei45_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,373},{114,86}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,85},{114,86}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_infantry_run_Bei45_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,1},{114,86}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,85},{114,86}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_infantry_run_Bei45_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,553},{114,86}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,85},{114,86}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_infantry_run_Bei45_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,1},{114,86}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,85},{114,86}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_infantry_run_Bei45_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,640},{114,86}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,85},{114,86}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_infantry_run_Bei45_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,727},{114,86}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,85},{114,86}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_infantry_run_Bei45_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,814},{114,86}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,85},{114,86}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_infantry_run_Bei45_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,901},{114,86}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,85},{114,86}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_infantry_run_Bei_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,832},{86,102}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,76},{86,102}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_infantry_run_Bei_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,517},{84,104}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,74},{84,104}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_infantry_run_Bei_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,622},{84,104}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,74},{84,104}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_infantry_run_Bei_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,622},{86,104}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,74},{86,104}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_infantry_run_Bei_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,517},{88,104}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,74},{88,104}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_infantry_run_Bei_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,727},{84,104}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,74},{84,104}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_infantry_run_Bei_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,262},{84,104}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,74},{84,104}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_infantry_run_Bei_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,727},{86,104}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,74},{86,104}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_infantry_run_Bei_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,517},{84,104}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,74},{84,104}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_infantry_run_Bei_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,832},{84,102}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,76},{84,102}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_infantry_run_Bei_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,935},{86,102}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,76},{86,102}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_infantry_run_Bei_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,347},{88,102}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,76},{88,102}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_infantry_run_Ce_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,88},{94,88}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,81},{94,88}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_infantry_run_Ce_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,347},{96,88}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,81},{96,88}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_infantry_run_Ce_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,592},{94,88}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,81},{94,88}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_infantry_run_Ce_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,507},{96,88}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,79},{96,88}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_infantry_run_Ce_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,929},{92,90}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,79},{92,90}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_infantry_run_Ce_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,784},{92,88}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,81},{92,88}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_infantry_run_Ce_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,596},{96,88}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,81},{96,88}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_infantry_run_Ce_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,687},{96,86}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,81},{96,86}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_infantry_run_Ce_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,816},{96,86}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,81},{96,86}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_infantry_run_Ce_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,721},{94,88}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,80},{94,88}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_infantry_run_Ce_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,921},{92,88}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,81},{92,88}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_infantry_run_Ce_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,928},{92,88}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,81},{92,88}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_infantry_run_Zheng45_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,94},{120,92}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,78},{120,92}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_infantry_run_Zheng45_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,1},{120,92}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,77},{120,92}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_infantry_run_Zheng45_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,187},{120,92}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,77},{120,92}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_infantry_run_Zheng45_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,94},{120,92}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,77},{120,92}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_infantry_run_Zheng45_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,1},{120,92}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,77},{120,92}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_infantry_run_Zheng45_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,280},{120,92}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,77},{120,92}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_infantry_run_Zheng45_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,187},{120,92}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,77},{120,92}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_infantry_run_Zheng45_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,94},{120,92}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,77},{120,92}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_infantry_run_Zheng45_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,1},{120,92}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,77},{120,92}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_infantry_run_Zheng45_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{122,92}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,77},{122,92}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_infantry_run_Zheng45_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,280},{118,92}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,77},{118,92}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_infantry_run_Zheng45_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,373},{120,92}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,77},{120,92}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_infantry_run_Zheng_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,169},{82,102}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,71},{82,102}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_infantry_run_Zheng_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,723},{84,102}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,70},{84,102}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_infantry_run_Zheng_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,826},{84,102}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,70},{84,102}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_infantry_run_Zheng_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,169},{84,102}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,70},{84,102}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_infantry_run_Zheng_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,177},{80,102}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,71},{80,102}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_infantry_run_Zheng_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,169},{84,102}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,70},{84,102}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_infantry_run_Zheng_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,252},{84,102}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,70},{84,102}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_infantry_run_Zheng_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,254},{84,102}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,70},{84,102}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_infantry_run_Zheng_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,509},{84,100}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,72},{84,100}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_infantry_run_Zheng_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,258},{80,102}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,71},{80,102}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_infantry_run_Zheng_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,517},{82,102}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,71},{82,102}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_infantry_run_Zheng_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,424},{80,102}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,71},{80,102}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>battle_1.png</string>
            <key>size</key>
            <string>{907,1022}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cb652e4f51b7a977c9a98d92bc246a8d:4e437564dd33766821dc5d4afdc88532:14aec5bbcf648ac26f9c837d880b2006$</string>
            <key>textureFileName</key>
            <string>battle_1.png</string>
        </dict>
    </dict>
</plist>
