<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>battle_arrow_atk_Ce_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,764},{82,76}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{336,347},{82,76}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>battle_arrow_atk_Ce_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,706},{80,84}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{337,339},{80,84}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>battle_arrow_atk_Ce_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,379},{80,94}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{337,329},{80,94}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>battle_arrow_atk_Ce_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,365},{96,102}}</string>
                <key>offset</key>
                <string>{10,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{337,321},{96,102}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>battle_arrow_atk_Ce_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,824},{122,104}}</string>
                <key>offset</key>
                <string>{23,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{337,319},{122,104}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>battle_arrow_atk_Ce_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,270},{148,108}}</string>
                <key>offset</key>
                <string>{36,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{337,315},{148,108}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>battle_arrow_atk_Ce_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,323},{176,110}}</string>
                <key>offset</key>
                <string>{50,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{337,313},{176,110}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>battle_arrow_atk_Ce_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,1},{204,110}}</string>
                <key>offset</key>
                <string>{63,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{336,313},{204,110}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>battle_arrow_atk_Ce_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,252},{192,106}}</string>
                <key>offset</key>
                <string>{58,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{337,317},{192,106}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>battle_arrow_atk_Ce_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,1},{226,110}}</string>
                <key>offset</key>
                <string>{74,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{336,313},{226,110}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>battle_arrow_atk_Ce_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,380},{204,112}}</string>
                <key>offset</key>
                <string>{64,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{337,311},{204,112}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>battle_arrow_atk_Ce_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,706},{84,76}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{336,347},{84,76}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>battle_arrow_atk_Ce_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,617},{206,112}}</string>
                <key>offset</key>
                <string>{65,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{337,311},{206,112}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>battle_arrow_atk_Ce_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,709},{82,78}}</string>
                <key>offset</key>
                <string>{3,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{337,345},{82,78}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>battle_arrow_atk_Ce_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,791},{82,80}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{337,343},{82,80}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>battle_arrow_atk_Ce_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,792},{82,82}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{336,341},{82,82}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>battle_arrow_atk_Ce_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,709},{82,84}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{336,339},{82,84}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>battle_arrow_atk_Ce_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,792},{80,84}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{337,339},{80,84}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>battle_arrow_atk_Ce_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,468},{80,84}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{337,339},{80,84}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>battle_arrow_atk_Ce_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,629},{80,84}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{337,339},{80,84}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>battle_arrow_atk_Zheng45_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,764},{102,76}}</string>
                <key>offset</key>
                <string>{3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{327,348},{102,76}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>battle_arrow_atk_Zheng45_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,474},{106,78}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{323,346},{106,78}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>battle_arrow_atk_Zheng45_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,553},{106,78}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{323,346},{106,78}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>battle_arrow_atk_Zheng45_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,465},{132,78}}</string>
                <key>offset</key>
                <string>{13,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{322,346},{132,78}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>battle_arrow_atk_Zheng45_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,191},{164,78}}</string>
                <key>offset</key>
                <string>{29,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{322,346},{164,78}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>battle_arrow_atk_Zheng45_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,112},{190,78}}</string>
                <key>offset</key>
                <string>{43,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{323,346},{190,78}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>battle_arrow_atk_Zheng45_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,1},{216,80}}</string>
                <key>offset</key>
                <string>{57,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{324,345},{216,80}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>battle_arrow_atk_Zheng45_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,1},{242,110}}</string>
                <key>offset</key>
                <string>{71,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{325,345},{242,110}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>battle_arrow_atk_Zheng45_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,380},{236,114}}</string>
                <key>offset</key>
                <string>{71,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{328,348},{236,114}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>battle_arrow_atk_Zheng45_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{266,116}}</string>
                <key>offset</key>
                <string>{85,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{327,348},{266,116}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>battle_arrow_atk_Zheng45_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,251},{230,128}}</string>
                <key>offset</key>
                <string>{67,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{327,348},{230,128}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>battle_arrow_atk_Zheng45_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,365},{102,76}}</string>
                <key>offset</key>
                <string>{2,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{326,348},{102,76}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>battle_arrow_atk_Zheng45_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,118},{238,132}}</string>
                <key>offset</key>
                <string>{72,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{328,349},{238,132}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>battle_arrow_atk_Zheng45_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,803},{102,76}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{325,348},{102,76}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>battle_arrow_atk_Zheng45_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,632},{102,76}}</string>
                <key>offset</key>
                <string>{2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{326,348},{102,76}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>battle_arrow_atk_Zheng45_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,585},{106,76}}</string>
                <key>offset</key>
                <string>{2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{324,348},{106,76}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>battle_arrow_atk_Zheng45_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,618},{106,78}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{325,346},{106,78}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>battle_arrow_atk_Zheng45_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,218},{108,80}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{323,344},{108,80}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>battle_arrow_atk_Zheng45_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,841},{106,80}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{324,344},{106,80}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>battle_arrow_atk_Zheng45_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,706},{106,78}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{324,346},{106,78}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>battle_arrow_atk_Zheng_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,869},{68,76}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{343,346},{68,76}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>battle_arrow_atk_Zheng_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,697},{66,76}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{343,346},{66,76}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>battle_arrow_atk_Zheng_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,632},{66,76}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{343,347},{66,76}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>battle_arrow_atk_Zheng_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,618},{66,104}}</string>
                <key>offset</key>
                <string>{1,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{343,346},{66,104}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>battle_arrow_atk_Zheng_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,544},{66,132}}</string>
                <key>offset</key>
                <string>{1,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{343,347},{66,132}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>battle_arrow_atk_Zheng_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,359},{66,174}}</string>
                <key>offset</key>
                <string>{1,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{343,347},{66,174}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>battle_arrow_atk_Zheng_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,183},{68,218}}</string>
                <key>offset</key>
                <string>{1,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{342,346},{68,218}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>battle_arrow_atk_Zheng_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,112},{68,234}}</string>
                <key>offset</key>
                <string>{1,-88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{342,346},{68,234}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>battle_arrow_atk_Zheng_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,181},{70,230}}</string>
                <key>offset</key>
                <string>{0,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{340,346},{70,230}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>battle_arrow_atk_Zheng_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,112},{70,232}}</string>
                <key>offset</key>
                <string>{1,-87}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{341,346},{70,232}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>battle_arrow_atk_Zheng_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,252},{70,216}}</string>
                <key>offset</key>
                <string>{1,-79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{341,346},{70,216}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>battle_arrow_atk_Zheng_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,875},{68,76}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{342,346},{68,76}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>battle_arrow_atk_Zheng_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,877},{68,76}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{342,346},{68,76}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>battle_arrow_atk_Zheng_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,611},{70,76}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{340,346},{70,76}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>battle_arrow_atk_Zheng_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,872},{70,74}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{340,348},{70,74}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>battle_arrow_atk_Zheng_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,872},{70,74}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{340,348},{70,74}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>battle_arrow_atk_Zheng_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,872},{68,74}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{341,348},{68,74}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>battle_arrow_atk_Zheng_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,629},{66,76}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{343,346},{66,76}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>battle_arrow_atk_Zheng_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,714},{66,76}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{343,346},{66,76}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>battle_arrow_atk_Zheng_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,791},{66,76}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{343,346},{66,76}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>battle_cavalry_atk_Bei_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,841},{79,91}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,140},{79,91}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_cavalry_atk_Bei_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,426},{95,171}}</string>
                <key>offset</key>
                <string>{4,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,73},{95,171}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_cavalry_atk_Bei_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,530},{81,173}}</string>
                <key>offset</key>
                <string>{-2,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,71},{81,173}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_cavalry_atk_Bei_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,468},{79,89}}</string>
                <key>offset</key>
                <string>{-1,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,117},{79,89}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_cavalry_atk_Bei_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,191},{79,87}}</string>
                <key>offset</key>
                <string>{-1,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,122},{79,87}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_cavalry_atk_Bei_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,548},{79,89}}</string>
                <key>offset</key>
                <string>{-1,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,124},{79,89}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_cavalry_atk_Bei_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,789},{79,87}}</string>
                <key>offset</key>
                <string>{-1,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,129},{79,87}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_cavalry_atk_Bei_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,723},{79,91}}</string>
                <key>offset</key>
                <string>{-1,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,129},{79,91}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_cavalry_atk_Bei_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,612},{79,93}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,131},{79,93}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_cavalry_atk_Bei_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,709},{79,93}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,134},{79,93}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_cavalry_atk_Bei_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,785},{79,93}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,138},{79,93}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_cavalry_atk_Bei_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,549},{79,89}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,142},{79,89}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_cavalry_atk_Bei_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,865},{79,91}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,140},{79,91}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_cavalry_atk_Bei_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,791},{79,93}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,138},{79,93}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_cavalry_atk_Bei_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,662},{87,101}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,130},{87,101}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_cavalry_atk_Bei_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,379},{85,135}}</string>
                <key>offset</key>
                <string>{2,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,96},{85,135}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_cavalry_atk_Bei_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,271},{93,145}}</string>
                <key>offset</key>
                <string>{6,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,80},{93,145}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_cavalry_atk_Bei_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,612},{93,155}}</string>
                <key>offset</key>
                <string>{5,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,75},{93,155}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_cavalry_atk_Bei_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,522},{95,167}}</string>
                <key>offset</key>
                <string>{5,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,70},{95,167}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_cavalry_atk_Bei_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,434},{95,171}}</string>
                <key>offset</key>
                <string>{5,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,71},{95,171}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>battle_6.png</string>
            <key>size</key>
            <string>{1024,947}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:533801f6e1dbffe294510d132bb967c7:e34f0dc449263e164ad47bc2678a9de3:f68ca43ee688263bca582e782099c672$</string>
            <key>textureFileName</key>
            <string>battle_6.png</string>
        </dict>
    </dict>
</plist>
