<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>battle_all_atk_Zheng45_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,201},{259,161}}</string>
                <key>offset</key>
                <string>{-11,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,112},{259,161}}</string>
                <key>sourceSize</key>
                <string>{427,375}</string>
            </dict>
            <key>battle_all_atk_Zheng45_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,709},{259,161}}</string>
                <key>offset</key>
                <string>{-11,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,115},{259,161}}</string>
                <key>sourceSize</key>
                <string>{427,375}</string>
            </dict>
            <key>battle_all_atk_Zheng45_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,709},{259,161}}</string>
                <key>offset</key>
                <string>{-12,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,112},{259,161}}</string>
                <key>sourceSize</key>
                <string>{427,375}</string>
            </dict>
            <key>battle_all_atk_Zheng45_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,535},{295,173}}</string>
                <key>offset</key>
                <string>{5,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,112},{295,173}}</string>
                <key>sourceSize</key>
                <string>{427,375}</string>
            </dict>
            <key>battle_all_atk_Zheng45_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,357},{327,177}}</string>
                <key>offset</key>
                <string>{20,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,113},{327,177}}</string>
                <key>sourceSize</key>
                <string>{427,375}</string>
            </dict>
            <key>battle_all_atk_Zheng45_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{357,187}}</string>
                <key>offset</key>
                <string>{34,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,102},{357,187}}</string>
                <key>sourceSize</key>
                <string>{427,375}</string>
            </dict>
            <key>battle_all_atk_Zheng45_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,199},{345,181}}</string>
                <key>offset</key>
                <string>{28,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,112},{345,181}}</string>
                <key>sourceSize</key>
                <string>{427,375}</string>
            </dict>
            <key>battle_all_atk_Zheng45_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,1},{353,197}}</string>
                <key>offset</key>
                <string>{35,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,94},{353,197}}</string>
                <key>sourceSize</key>
                <string>{427,375}</string>
            </dict>
            <key>battle_all_atk_Zheng45_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,381},{307,177}}</string>
                <key>offset</key>
                <string>{14,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,108},{307,177}}</string>
                <key>sourceSize</key>
                <string>{427,375}</string>
            </dict>
            <key>battle_all_atk_Zheng45_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,189},{353,167}}</string>
                <key>offset</key>
                <string>{37,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,114},{353,167}}</string>
                <key>sourceSize</key>
                <string>{427,375}</string>
            </dict>
            <key>battle_kingdom_run_Zheng45_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,559},{154,100}}</string>
                <key>offset</key>
                <string>{-5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,77},{154,100}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_kingdom_run_Zheng45_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,564},{154,100}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,77},{154,100}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_kingdom_run_Zheng45_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,461},{154,102}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,76},{154,102}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_kingdom_run_Zheng45_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,660},{154,100}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,77},{154,100}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_kingdom_run_Zheng45_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,564},{154,100}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,77},{154,100}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_kingdom_run_Zheng45_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,761},{154,100}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,77},{154,100}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_kingdom_run_Zheng45_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,761},{154,100}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,77},{154,100}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_kingdom_run_Zheng45_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,761},{154,100}}</string>
                <key>offset</key>
                <string>{-5,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,77},{154,100}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_kingdom_run_Zheng45_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,760},{154,100}}</string>
                <key>offset</key>
                <string>{-5,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,77},{154,100}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_kingdom_run_Zheng45_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,915},{154,100}}</string>
                <key>offset</key>
                <string>{-5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,77},{154,100}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_kingdom_run_Zheng_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,559},{96,110}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,71},{96,110}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_kingdom_run_Zheng_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,665},{92,110}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,71},{92,110}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_kingdom_run_Zheng_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,916},{96,110}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,71},{96,110}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_kingdom_run_Zheng_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,665},{92,110}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,71},{92,110}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_kingdom_run_Zheng_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,665},{94,110}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,71},{94,110}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_kingdom_run_Zheng_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,916},{96,110}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,71},{96,110}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_kingdom_run_Zheng_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,102},{98,110}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,71},{98,110}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_kingdom_run_Zheng_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,1},{100,110}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,71},{100,110}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_kingdom_run_Zheng_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,916},{96,110}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,71},{96,110}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battle_kingdom_run_Zheng_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,776},{96,110}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,71},{96,110}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>battle_15.png</string>
            <key>size</key>
            <string>{864,1016}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ed9acc72450ade98ffcb346cb5828fea:bbd8b07375f50891c5f9e229c6c941e9:f5bfd331ae9824114aaef69a4725ec3a$</string>
            <key>textureFileName</key>
            <string>battle_15.png</string>
        </dict>
    </dict>
</plist>
