<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>battle_kingdom_atk_Bei45_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,427},{137,101}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,142},{137,101}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_kingdom_atk_Bei45_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,665},{211,135}}</string>
                <key>offset</key>
                <string>{24,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,116},{211,135}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_kingdom_atk_Bei45_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,401},{195,135}}</string>
                <key>offset</key>
                <string>{29,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,117},{195,135}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_kingdom_atk_Bei45_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,597},{165,121}}</string>
                <key>offset</key>
                <string>{14,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,129},{165,121}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_kingdom_atk_Bei45_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,597},{141,95}}</string>
                <key>offset</key>
                <string>{23,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,133},{141,95}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_kingdom_atk_Bei45_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,145},{141,95}}</string>
                <key>offset</key>
                <string>{18,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,135},{141,95}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_kingdom_atk_Bei45_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,739},{139,95}}</string>
                <key>offset</key>
                <string>{14,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,138},{139,95}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_kingdom_atk_Bei45_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,287},{139,95}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,140},{139,95}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_kingdom_atk_Bei45_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,1},{139,99}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,138},{139,99}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_kingdom_atk_Bei45_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,281},{137,101}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,138},{137,101}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_kingdom_atk_Bei45_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,141},{137,101}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,139},{137,101}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_kingdom_atk_Bei45_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,1},{137,101}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,142},{137,101}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_kingdom_atk_Bei45_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,139},{137,101}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,142},{137,101}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_kingdom_atk_Bei45_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,241},{137,95}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,148},{137,95}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_kingdom_atk_Bei45_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,1},{137,99}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,144},{137,99}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_kingdom_atk_Bei45_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,857},{145,103}}</string>
                <key>offset</key>
                <string>{14,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,140},{145,103}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_kingdom_atk_Bei45_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,1},{185,117}}</string>
                <key>offset</key>
                <string>{24,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,123},{185,117}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_kingdom_atk_Bei45_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,447},{217,121}}</string>
                <key>offset</key>
                <string>{33,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,122},{217,121}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_kingdom_atk_Bei45_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,225},{221,123}}</string>
                <key>offset</key>
                <string>{31,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,124},{221,123}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_kingdom_atk_Bei45_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{223,133}}</string>
                <key>offset</key>
                <string>{29,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,117},{223,133}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_kingdom_atk_Bei_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,475},{81,121}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,132},{81,121}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_kingdom_atk_Bei_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,225},{95,203}}</string>
                <key>offset</key>
                <string>{4,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,63},{95,203}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_kingdom_atk_Bei_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,447},{81,205}}</string>
                <key>offset</key>
                <string>{-2,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,61},{81,205}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_kingdom_atk_Bei_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,805},{81,121}}</string>
                <key>offset</key>
                <string>{-2,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,106},{81,121}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_kingdom_atk_Bei_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,627},{81,121}}</string>
                <key>offset</key>
                <string>{-2,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,110},{81,121}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_kingdom_atk_Bei_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,709},{81,121}}</string>
                <key>offset</key>
                <string>{-2,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,114},{81,121}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_kingdom_atk_Bei_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,791},{81,121}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,117},{81,121}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_kingdom_atk_Bei_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,545},{81,123}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,118},{81,123}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_kingdom_atk_Bei_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,337},{81,125}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,120},{81,125}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_kingdom_atk_Bei_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,879},{81,127}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,122},{81,127}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_kingdom_atk_Bei_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,419},{81,127}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,126},{81,127}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_kingdom_atk_Bei_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,873},{81,121}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,132},{81,121}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_kingdom_atk_Bei_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,681},{81,123}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,130},{81,123}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_kingdom_atk_Bei_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,463},{81,125}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,128},{81,125}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_kingdom_atk_Bei_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,829},{87,133}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,120},{87,133}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_kingdom_atk_Bei_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,777},{87,167}}</string>
                <key>offset</key>
                <string>{1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,86},{87,167}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_kingdom_atk_Bei_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,597},{95,179}}</string>
                <key>offset</key>
                <string>{5,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,68},{95,179}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_kingdom_atk_Bei_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,1},{95,189}}</string>
                <key>offset</key>
                <string>{5,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,63},{95,189}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_kingdom_atk_Bei_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,429},{95,199}}</string>
                <key>offset</key>
                <string>{5,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,60},{95,199}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_kingdom_atk_Bei_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,653},{95,203}}</string>
                <key>offset</key>
                <string>{4,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,61},{95,203}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_kingdom_atk_Ce_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,835},{127,91}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,149},{127,91}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_kingdom_atk_Ce_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,1},{199,89}}</string>
                <key>offset</key>
                <string>{58,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,151},{199,89}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_kingdom_atk_Ce_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,201},{199,87}}</string>
                <key>offset</key>
                <string>{59,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,153},{199,87}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_kingdom_atk_Ce_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,877},{169,85}}</string>
                <key>offset</key>
                <string>{42,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,155},{169,85}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_kingdom_atk_Ce_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,1},{143,83}}</string>
                <key>offset</key>
                <string>{46,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,157},{143,83}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_kingdom_atk_Ce_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,331},{143,81}}</string>
                <key>offset</key>
                <string>{39,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,159},{143,81}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_kingdom_atk_Ce_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,379},{145,87}}</string>
                <key>offset</key>
                <string>{33,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,153},{145,87}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_kingdom_atk_Ce_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,187},{143,91}}</string>
                <key>offset</key>
                <string>{24,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,149},{143,91}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_kingdom_atk_Ce_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,565},{137,91}}</string>
                <key>offset</key>
                <string>{15,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,149},{137,91}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_kingdom_atk_Ce_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,141},{139,91}}</string>
                <key>offset</key>
                <string>{8,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,149},{139,91}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_kingdom_atk_Ce_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,419},{131,91}}</string>
                <key>offset</key>
                <string>{5,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,149},{131,91}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_kingdom_atk_Ce_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,551},{129,91}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,149},{129,91}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_kingdom_atk_Ce_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,337},{125,91}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,149},{125,91}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_kingdom_atk_Ce_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,703},{131,87}}</string>
                <key>offset</key>
                <string>{-5,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,153},{131,87}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_kingdom_atk_Ce_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,1},{139,87}}</string>
                <key>offset</key>
                <string>{4,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,153},{139,87}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_kingdom_atk_Ce_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,763},{165,89}}</string>
                <key>offset</key>
                <string>{12,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,151},{165,89}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_kingdom_atk_Ce_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,191},{187,89}}</string>
                <key>offset</key>
                <string>{40,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,151},{187,89}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_kingdom_atk_Ce_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,199},{193,89}}</string>
                <key>offset</key>
                <string>{54,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,151},{193,89}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_kingdom_atk_Ce_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,1},{197,89}}</string>
                <key>offset</key>
                <string>{59,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,151},{197,89}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_kingdom_atk_Ce_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,629},{199,89}}</string>
                <key>offset</key>
                <string>{59,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,151},{199,89}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>battle_13.png</string>
            <key>size</key>
            <string>{1023,963}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:52bf6660d4b2037f4957b9f10a4fde7d:a9d6da847882058f8231df1cf0dc9f74:42b35e2d2bfb9a1f1a43dde398521abb$</string>
            <key>textureFileName</key>
            <string>battle_13.png</string>
        </dict>
    </dict>
</plist>
