<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>battle_infantry_atk_Bei_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,865},{70,76}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,140},{70,76}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_infantry_atk_Bei_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,221},{84,222}}</string>
                <key>offset</key>
                <string>{8,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,35},{84,222}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_infantry_atk_Bei_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,855},{68,86}}</string>
                <key>offset</key>
                <string>{1,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,105},{68,86}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_infantry_atk_Bei_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,942},{68,88}}</string>
                <key>offset</key>
                <string>{1,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,107},{68,88}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_infantry_atk_Bei_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,609},{68,86}}</string>
                <key>offset</key>
                <string>{1,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,113},{68,86}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_infantry_atk_Bei_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,626},{68,84}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,118},{68,84}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_infantry_atk_Bei_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,793},{68,84}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,121},{68,84}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_infantry_atk_Bei_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,862},{68,84}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,125},{68,84}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_infantry_atk_Bei_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,931},{68,84}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,129},{68,84}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_infantry_atk_Bei_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,667},{70,82}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,134},{70,82}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_infantry_atk_Bei_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,865},{70,78}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,138},{70,78}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_infantry_atk_Bei_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,696},{68,76}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,140},{68,76}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_infantry_atk_Bei_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,298},{70,76}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,140},{70,76}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_infantry_atk_Bei_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,682},{70,86}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,141},{70,86}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_infantry_atk_Bei_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,390},{74,124}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,115},{74,124}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_infantry_atk_Bei_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,416},{76,184}}</string>
                <key>offset</key>
                <string>{2,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,64},{76,184}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_infantry_atk_Bei_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,104},{88,210}}</string>
                <key>offset</key>
                <string>{8,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,44},{88,210}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_infantry_atk_Bei_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,193},{88,220}}</string>
                <key>offset</key>
                <string>{7,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,36},{88,220}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_infantry_atk_Bei_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,193},{88,222}}</string>
                <key>offset</key>
                <string>{8,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,35},{88,222}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_infantry_atk_Bei_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,171},{86,222}}</string>
                <key>offset</key>
                <string>{8,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,35},{86,222}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_infantry_atk_Ce_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,601},{98,76}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,138},{98,76}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_infantry_atk_Ce_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,699},{238,82}}</string>
                <key>offset</key>
                <string>{50,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,132},{238,82}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_infantry_atk_Ce_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,583},{114,74}}</string>
                <key>offset</key>
                <string>{49,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,140},{114,74}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_infantry_atk_Ce_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,678},{112,74}}</string>
                <key>offset</key>
                <string>{40,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,140},{112,74}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_infantry_atk_Ce_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,753},{110,76}}</string>
                <key>offset</key>
                <string>{31,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,138},{110,76}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_infantry_atk_Ce_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,830},{108,76}}</string>
                <key>offset</key>
                <string>{22,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,138},{108,76}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_infantry_atk_Ce_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,755},{102,76}}</string>
                <key>offset</key>
                <string>{16,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,138},{102,76}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_infantry_atk_Ce_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,678},{98,76}}</string>
                <key>offset</key>
                <string>{11,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,138},{98,76}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_infantry_atk_Ce_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,832},{96,76}}</string>
                <key>offset</key>
                <string>{8,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,138},{96,76}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_infantry_atk_Ce_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,909},{94,76}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,138},{94,76}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_infantry_atk_Ce_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,698},{94,76}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,138},{94,76}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_infantry_atk_Ce_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,696},{94,76}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,138},{94,76}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_infantry_atk_Ce_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,907},{96,76}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,138},{96,76}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_infantry_atk_Ce_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,938},{100,80}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,139},{100,80}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_infantry_atk_Ce_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,376},{146,82}}</string>
                <key>offset</key>
                <string>{21,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,138},{146,82}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_infantry_atk_Ce_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,460},{206,82}}</string>
                <key>offset</key>
                <string>{42,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,138},{206,82}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_infantry_atk_Ce_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,90},{236,80}}</string>
                <key>offset</key>
                <string>{51,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,140},{236,80}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_infantry_atk_Ce_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,221},{238,90}}</string>
                <key>offset</key>
                <string>{50,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,130},{238,90}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_infantry_atk_Ce_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,1},{238,88}}</string>
                <key>offset</key>
                <string>{50,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,130},{238,88}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_infantry_atk_Ce_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,460},{238,84}}</string>
                <key>offset</key>
                <string>{50,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,132},{238,84}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_infantry_atk_Zheng45_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,163},{122,76}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,142},{122,76}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_infantry_atk_Zheng45_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,221},{222,100}}</string>
                <key>offset</key>
                <string>{41,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,149},{222,100}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_infantry_atk_Zheng45_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,738},{126,74}}</string>
                <key>offset</key>
                <string>{44,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,160},{126,74}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_infantry_atk_Zheng45_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,738},{126,74}}</string>
                <key>offset</key>
                <string>{39,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,158},{126,74}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_infantry_atk_Zheng45_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,88},{124,74}}</string>
                <key>offset</key>
                <string>{34,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,156},{124,74}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_infantry_atk_Zheng45_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,240},{124,74}}</string>
                <key>offset</key>
                <string>{28,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,155},{124,74}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_infantry_atk_Zheng45_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,728},{126,74}}</string>
                <key>offset</key>
                <string>{23,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,152},{126,74}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_infantry_atk_Zheng45_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,936},{126,74}}</string>
                <key>offset</key>
                <string>{17,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,150},{126,74}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_infantry_atk_Zheng45_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,171},{126,74}}</string>
                <key>offset</key>
                <string>{11,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,148},{126,74}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_infantry_atk_Zheng45_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,315},{124,74}}</string>
                <key>offset</key>
                <string>{6,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,146},{124,74}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_infantry_atk_Zheng45_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,542},{120,74}}</string>
                <key>offset</key>
                <string>{4,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,144},{120,74}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_infantry_atk_Zheng45_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,465},{122,76}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,142},{122,76}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_infantry_atk_Zheng45_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,559},{122,76}}</string>
                <key>offset</key>
                <string>{3,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,142},{122,76}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_infantry_atk_Zheng45_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,617},{114,78}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,140},{114,78}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_infantry_atk_Zheng45_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,649},{130,78}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,141},{130,78}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_infantry_atk_Zheng45_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,416},{166,90}}</string>
                <key>offset</key>
                <string>{7,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,141},{166,90}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_infantry_atk_Zheng45_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,193},{220,92}}</string>
                <key>offset</key>
                <string>{27,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,152},{220,92}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_infantry_atk_Zheng45_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,1},{240,102}}</string>
                <key>offset</key>
                <string>{37,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,151},{240,102}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_infantry_atk_Zheng45_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{246,108}}</string>
                <key>offset</key>
                <string>{40,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,148},{246,108}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_infantry_atk_Zheng45_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,110},{234,110}}</string>
                <key>offset</key>
                <string>{47,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,146},{234,110}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_infantry_atk_Zheng_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,766},{70,78}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,138},{70,78}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_infantry_atk_Zheng_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,444},{82,204}}</string>
                <key>offset</key>
                <string>{6,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,122},{82,204}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_infantry_atk_Zheng_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,769},{68,84}}</string>
                <key>offset</key>
                <string>{0,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,167},{68,84}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_infantry_atk_Zheng_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,773},{68,84}}</string>
                <key>offset</key>
                <string>{0,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,163},{68,84}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_infantry_atk_Zheng_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,695},{70,84}}</string>
                <key>offset</key>
                <string>{-1,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,158},{70,84}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_infantry_atk_Zheng_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,773},{70,84}}</string>
                <key>offset</key>
                <string>{-1,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,154},{70,84}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_infantry_atk_Zheng_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,842},{70,84}}</string>
                <key>offset</key>
                <string>{-1,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,150},{70,84}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_infantry_atk_Zheng_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,844},{70,84}}</string>
                <key>offset</key>
                <string>{-1,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,147},{70,84}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_infantry_atk_Zheng_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,862},{70,84}}</string>
                <key>offset</key>
                <string>{-1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,143},{70,84}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_infantry_atk_Zheng_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,947},{70,84}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,140},{70,84}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_infantry_atk_Zheng_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,90},{70,80}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,140},{70,80}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_infantry_atk_Zheng_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,837},{70,78}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,138},{70,78}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_infantry_atk_Zheng_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,913},{70,78}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,138},{70,78}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_infantry_atk_Zheng_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,908},{70,84}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,139},{70,84}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_infantry_atk_Zheng_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,523},{70,102}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,138},{70,102}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_infantry_atk_Zheng_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,394},{72,164}}</string>
                <key>offset</key>
                <string>{0,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,131},{72,164}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_infantry_atk_Zheng_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,414},{86,194}}</string>
                <key>offset</key>
                <string>{6,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,124},{86,194}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_infantry_atk_Zheng_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,1},{86,200}}</string>
                <key>offset</key>
                <string>{6,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,123},{86,200}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_infantry_atk_Zheng_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,171},{86,204}}</string>
                <key>offset</key>
                <string>{6,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,121},{86,204}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>battle_infantry_atk_Zheng_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,444},{84,204}}</string>
                <key>offset</key>
                <string>{6,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,122},{84,204}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>battle_8.png</string>
            <key>size</key>
            <string>{929,1020}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:505fef1846a65adf2dea6783b5b09644:b59366a12c220f4c1a8db46a37d3a88b:bc947dbaa2eb2d41b3348d33c04ff58c$</string>
            <key>textureFileName</key>
            <string>battle_8.png</string>
        </dict>
    </dict>
</plist>
