<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>battle_huangjin_run_Bei45_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,108},{148,104}}</string>
                <key>offset</key>
                <string>{-5,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,86},{148,104}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>battle_huangjin_run_Bei45_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,1},{148,104}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,86},{148,104}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>battle_huangjin_run_Bei45_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,213},{148,104}}</string>
                <key>offset</key>
                <string>{-5,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,86},{148,104}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>battle_huangjin_run_Bei45_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{148,106}}</string>
                <key>offset</key>
                <string>{-4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,84},{148,106}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>battle_huangjin_run_Bei45_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,106},{148,104}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,86},{148,104}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>battle_huangjin_run_Bei45_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,1},{148,104}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,86},{148,104}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>battle_huangjin_run_Bei45_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,318},{148,104}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,86},{148,104}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>battle_huangjin_run_Bei45_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,211},{148,104}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,86},{148,104}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>battle_huangjin_run_Bei45_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,106},{148,104}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,86},{148,104}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>battle_huangjin_run_Bei45_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,1},{148,104}}</string>
                <key>offset</key>
                <string>{-5,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,86},{148,104}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>battle_huangjin_run_Bei45_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,316},{148,104}}</string>
                <key>offset</key>
                <string>{-5,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,86},{148,104}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>battle_huangjin_run_Bei45_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,211},{148,104}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,86},{148,104}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>battle_huangjin_run_Zheng_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,241},{86,132}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,62},{86,132}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>battle_huangjin_run_Zheng_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,421},{88,134}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,60},{88,134}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>battle_huangjin_run_Zheng_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,106},{90,134}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,60},{90,134}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>battle_huangjin_run_Zheng_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,421},{88,134}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,60},{88,134}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>battle_huangjin_run_Zheng_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,423},{86,134}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,60},{86,134}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>battle_huangjin_run_Zheng_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,1},{88,134}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,60},{88,134}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>battle_huangjin_run_Zheng_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,316},{90,134}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,60},{90,134}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>battle_huangjin_run_Zheng_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,417},{88,132}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,62},{88,132}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>battle_huangjin_run_Zheng_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,328},{88,134}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,60},{88,134}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>battle_huangjin_run_Zheng_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,136},{86,134}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,60},{86,134}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>battle_huangjin_run_Zheng_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,223},{86,134}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,60},{86,134}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>battle_huangjin_run_Zheng_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,358},{86,134}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,60},{86,134}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>battle_12.png</string>
            <key>size</key>
            <string>{711,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1942e21e1847d497d33071b9c611c559:fe628d1aec7293497e80f18e5dc528f6:9791c8919c154bb447d8971cdbd2025d$</string>
            <key>textureFileName</key>
            <string>battle_12.png</string>
        </dict>
    </dict>
</plist>
