<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>battle_all_run_Bei45_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{254,162}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,28},{254,162}}</string>
                <key>sourceSize</key>
                <string>{316,216}</string>
            </dict>
            <key>battle_all_run_Bei45_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,1},{252,164}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,26},{252,164}}</string>
                <key>sourceSize</key>
                <string>{316,216}</string>
            </dict>
            <key>battle_all_run_Bei45_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,657},{250,162}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,28},{250,162}}</string>
                <key>sourceSize</key>
                <string>{316,216}</string>
            </dict>
            <key>battle_all_run_Bei45_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,329},{252,162}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,28},{252,162}}</string>
                <key>sourceSize</key>
                <string>{316,216}</string>
            </dict>
            <key>battle_all_run_Bei45_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,331},{252,162}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,28},{252,162}}</string>
                <key>sourceSize</key>
                <string>{316,216}</string>
            </dict>
            <key>battle_all_run_Bei45_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,492},{250,164}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,26},{250,164}}</string>
                <key>sourceSize</key>
                <string>{316,216}</string>
            </dict>
            <key>battle_all_run_Bei45_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,494},{250,164}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,26},{250,164}}</string>
                <key>sourceSize</key>
                <string>{316,216}</string>
            </dict>
            <key>battle_all_run_Bei45_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,164},{252,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,26},{252,164}}</string>
                <key>sourceSize</key>
                <string>{316,216}</string>
            </dict>
            <key>battle_all_run_Bei45_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,166},{252,164}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,26},{252,164}}</string>
                <key>sourceSize</key>
                <string>{316,216}</string>
            </dict>
            <key>battle_all_run_Bei45_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,595},{248,164}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,26},{248,164}}</string>
                <key>sourceSize</key>
                <string>{316,216}</string>
            </dict>
            <key>battle_all_run_Bei_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,297},{148,182}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,18},{148,182}}</string>
                <key>sourceSize</key>
                <string>{316,216}</string>
            </dict>
            <key>battle_all_run_Bei_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,820},{148,180}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,20},{148,180}}</string>
                <key>sourceSize</key>
                <string>{316,216}</string>
            </dict>
            <key>battle_all_run_Bei_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,808},{146,182}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,18},{146,182}}</string>
                <key>sourceSize</key>
                <string>{316,216}</string>
            </dict>
            <key>battle_all_run_Bei_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,150},{146,184}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,16},{146,184}}</string>
                <key>sourceSize</key>
                <string>{316,216}</string>
            </dict>
            <key>battle_all_run_Bei_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,820},{146,180}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,17},{146,180}}</string>
                <key>sourceSize</key>
                <string>{316,216}</string>
            </dict>
            <key>battle_all_run_Bei_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,760},{146,180}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,17},{146,180}}</string>
                <key>sourceSize</key>
                <string>{316,216}</string>
            </dict>
            <key>battle_all_run_Bei_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,760},{146,182}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,17},{146,182}}</string>
                <key>sourceSize</key>
                <string>{316,216}</string>
            </dict>
            <key>battle_all_run_Bei_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,1},{148,184}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,16},{148,184}}</string>
                <key>sourceSize</key>
                <string>{316,216}</string>
            </dict>
            <key>battle_all_run_Bei_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,446},{148,182}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,18},{148,182}}</string>
                <key>sourceSize</key>
                <string>{316,216}</string>
            </dict>
            <key>battle_all_run_Bei_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,659},{148,182}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,18},{148,182}}</string>
                <key>sourceSize</key>
                <string>{316,216}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>battle_16.png</string>
            <key>size</key>
            <string>{752,1001}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5321cd75e3045a00a55faa7afe851de4:60e3f01c92d85c0eef91de2457bc4db8:f3f06bccc7b17f47d4c287c3b149ba82$</string>
            <key>textureFileName</key>
            <string>battle_16.png</string>
        </dict>
    </dict>
</plist>
