<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>battle_cavalry_atk_Bei45_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,411},{107,87}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,150},{107,87}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_cavalry_atk_Bei45_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,875},{179,121}}</string>
                <key>offset</key>
                <string>{22,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,124},{179,121}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_cavalry_atk_Bei45_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,873},{165,121}}</string>
                <key>offset</key>
                <string>{29,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,125},{165,121}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_cavalry_atk_Bei45_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,845},{135,107}}</string>
                <key>offset</key>
                <string>{13,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,137},{135,107}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_cavalry_atk_Bei45_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,239},{111,83}}</string>
                <key>offset</key>
                <string>{21,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,140},{111,83}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_cavalry_atk_Bei45_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,77},{109,79}}</string>
                <key>offset</key>
                <string>{18,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,145},{109,79}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_cavalry_atk_Bei45_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,77},{109,79}}</string>
                <key>offset</key>
                <string>{13,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,147},{109,79}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_cavalry_atk_Bei45_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,77},{107,79}}</string>
                <key>offset</key>
                <string>{8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,149},{107,79}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_cavalry_atk_Bei45_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,241},{107,83}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,147},{107,83}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_cavalry_atk_Bei45_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,319},{107,85}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,147},{107,85}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_cavalry_atk_Bei45_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,411},{107,87}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,148},{107,87}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_cavalry_atk_Bei45_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,489},{105,87}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,150},{105,87}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_cavalry_atk_Bei45_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,489},{107,87}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,150},{107,87}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_cavalry_atk_Bei45_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,159},{107,81}}</string>
                <key>offset</key>
                <string>{-3,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,156},{107,81}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_cavalry_atk_Bei45_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,323},{107,85}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,152},{107,85}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_cavalry_atk_Bei45_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,577},{115,89}}</string>
                <key>offset</key>
                <string>{12,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,148},{115,89}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_cavalry_atk_Bei45_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,769},{155,103}}</string>
                <key>offset</key>
                <string>{23,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,131},{155,103}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_cavalry_atk_Bei45_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,769},{187,105}}</string>
                <key>offset</key>
                <string>{32,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,132},{187,105}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_cavalry_atk_Bei45_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,855},{191,109}}</string>
                <key>offset</key>
                <string>{30,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,132},{191,109}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_cavalry_atk_Bei45_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,859},{191,119}}</string>
                <key>offset</key>
                <string>{28,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,124},{191,119}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_cavalry_atk_Ce_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,413},{87,91}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,146},{87,91}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_cavalry_atk_Ce_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,495},{161,87}}</string>
                <key>offset</key>
                <string>{54,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,150},{161,87}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_cavalry_atk_Ce_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,499},{161,87}}</string>
                <key>offset</key>
                <string>{55,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,150},{161,87}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_cavalry_atk_Ce_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,325},{129,85}}</string>
                <key>offset</key>
                <string>{38,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,152},{129,85}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_cavalry_atk_Ce_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,241},{105,83}}</string>
                <key>offset</key>
                <string>{42,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,154},{105,83}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_cavalry_atk_Ce_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,235},{105,81}}</string>
                <key>offset</key>
                <string>{35,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,156},{105,81}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_cavalry_atk_Ce_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,489},{105,87}}</string>
                <key>offset</key>
                <string>{30,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,150},{105,87}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_cavalry_atk_Ce_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,669},{101,91}}</string>
                <key>offset</key>
                <string>{21,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,146},{101,91}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_cavalry_atk_Ce_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,671},{99,91}}</string>
                <key>offset</key>
                <string>{11,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,146},{99,91}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_cavalry_atk_Ce_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,675},{99,91}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,146},{99,91}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_cavalry_atk_Ce_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,675},{93,91}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,146},{93,91}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_cavalry_atk_Ce_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,579},{89,91}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,146},{89,91}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_cavalry_atk_Ce_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,325},{85,91}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,146},{85,91}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_cavalry_atk_Ce_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,491},{105,87}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,150},{105,87}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_cavalry_atk_Ce_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,501},{119,87}}</string>
                <key>offset</key>
                <string>{9,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,150},{119,87}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_cavalry_atk_Ce_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,577},{165,87}}</string>
                <key>offset</key>
                <string>{28,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,150},{165,87}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_cavalry_atk_Ce_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,583},{165,87}}</string>
                <key>offset</key>
                <string>{45,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,150},{165,87}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_cavalry_atk_Ce_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,587},{161,87}}</string>
                <key>offset</key>
                <string>{54,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,150},{161,87}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_cavalry_atk_Ce_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,589},{157,87}}</string>
                <key>offset</key>
                <string>{56,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,150},{157,87}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_cavalry_atk_Ce_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,665},{159,87}}</string>
                <key>offset</key>
                <string>{54,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,150},{159,87}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_cavalry_atk_Zheng45_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,77},{103,79}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,150},{103,79}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_cavalry_atk_Zheng45_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,1},{165,77}}</string>
                <key>offset</key>
                <string>{35,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,165},{165,77}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_cavalry_atk_Zheng45_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{169,75}}</string>
                <key>offset</key>
                <string>{33,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,165},{169,75}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_cavalry_atk_Zheng45_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,1},{135,75}}</string>
                <key>offset</key>
                <string>{17,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,163},{135,75}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_cavalry_atk_Zheng45_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,1},{109,75}}</string>
                <key>offset</key>
                <string>{26,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,162},{109,75}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_cavalry_atk_Zheng45_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,1},{107,75}}</string>
                <key>offset</key>
                <string>{22,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,160},{107,75}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_cavalry_atk_Zheng45_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,1},{105,75}}</string>
                <key>offset</key>
                <string>{17,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,158},{105,75}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_cavalry_atk_Zheng45_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,1},{105,77}}</string>
                <key>offset</key>
                <string>{13,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,154},{105,77}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_cavalry_atk_Zheng45_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,77},{105,77}}</string>
                <key>offset</key>
                <string>{9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,152},{105,77}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_cavalry_atk_Zheng45_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,79},{105,79}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,150},{105,79}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_cavalry_atk_Zheng45_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,79},{105,79}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,150},{105,79}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_cavalry_atk_Zheng45_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,155},{105,79}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,150},{105,79}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_cavalry_atk_Zheng45_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,157},{103,79}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,150},{103,79}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_cavalry_atk_Zheng45_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,237},{105,81}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,149},{105,81}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_cavalry_atk_Zheng45_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,677},{107,91}}</string>
                <key>offset</key>
                <string>{-5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,149},{107,91}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_cavalry_atk_Zheng45_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,403},{117,85}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,151},{117,85}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_cavalry_atk_Zheng45_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,403},{141,85}}</string>
                <key>offset</key>
                <string>{12,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,154},{141,85}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_cavalry_atk_Zheng45_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,409},{153,85}}</string>
                <key>offset</key>
                <string>{22,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,158},{153,85}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_cavalry_atk_Zheng45_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,237},{153,81}}</string>
                <key>offset</key>
                <string>{29,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,162},{153,81}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_cavalry_atk_Zheng45_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,157},{153,79}}</string>
                <key>offset</key>
                <string>{34,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,164},{153,79}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_cavalry_atk_Zheng_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,317},{89,83}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,148},{89,83}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_cavalry_atk_Zheng_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,677},{91,137}}</string>
                <key>offset</key>
                <string>{-6,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,152},{91,137}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_cavalry_atk_Zheng_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,753},{91,139}}</string>
                <key>offset</key>
                <string>{-6,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,152},{91,139}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_cavalry_atk_Zheng_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,157},{79,103}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,151},{79,103}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_cavalry_atk_Zheng_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,77},{79,81}}</string>
                <key>offset</key>
                <string>{0,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,170},{79,81}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_cavalry_atk_Zheng_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,319},{89,83}}</string>
                <key>offset</key>
                <string>{-3,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,166},{89,83}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_cavalry_atk_Zheng_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,319},{85,83}}</string>
                <key>offset</key>
                <string>{-3,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,163},{85,83}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_cavalry_atk_Zheng_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,667},{89,89}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,154},{89,89}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_cavalry_atk_Zheng_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,401},{85,89}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,151},{85,89}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_cavalry_atk_Zheng_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,157},{79,89}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,148},{79,89}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_cavalry_atk_Zheng_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,159},{79,85}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,149},{79,85}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_cavalry_atk_Zheng_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,237},{87,81}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,150},{87,81}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_cavalry_atk_Zheng_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,159},{79,83}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,148},{79,83}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_cavalry_atk_Zheng_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,237},{89,81}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,149},{89,81}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_cavalry_atk_Zheng_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,325},{85,87}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,148},{85,87}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_cavalry_atk_Zheng_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,405},{85,91}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,148},{85,91}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_cavalry_atk_Zheng_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,319},{83,113}}</string>
                <key>offset</key>
                <string>{-2,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,154},{83,113}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_cavalry_atk_Zheng_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,761},{91,125}}</string>
                <key>offset</key>
                <string>{-6,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,159},{91,125}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_cavalry_atk_Zheng_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,763},{91,135}}</string>
                <key>offset</key>
                <string>{-6,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,154},{91,135}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>battle_cavalry_atk_Zheng_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,767},{91,137}}</string>
                <key>offset</key>
                <string>{-6,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,153},{91,137}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>battle_7.png</string>
            <key>size</key>
            <string>{905,997}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0eb7aa1c6f9d8339a118e3e138248beb:6fb2bd99318ccebd10e3dc6f4f00aeee:5fa9c3b8e6f253cb4119899f619202ea$</string>
            <key>textureFileName</key>
            <string>battle_7.png</string>
        </dict>
    </dict>
</plist>
