<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>anim_cg_CHE_8.png</key>
			<dict>
				<key>width</key>
				<integer>145</integer>
				<key>height</key>
				<integer>145</integer>
				<key>originalWidth</key>
				<integer>145</integer>
				<key>originalHeight</key>
				<integer>145</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>anim_cg_CHE_9.png</key>
			<dict>
				<key>width</key>
				<integer>145</integer>
				<key>height</key>
				<integer>145</integer>
				<key>originalWidth</key>
				<integer>145</integer>
				<key>originalHeight</key>
				<integer>145</integer>
				<key>x</key>
				<integer>147</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>anim_cg_CHE_10.png</key>
			<dict>
				<key>width</key>
				<integer>145</integer>
				<key>height</key>
				<integer>145</integer>
				<key>originalWidth</key>
				<integer>145</integer>
				<key>originalHeight</key>
				<integer>145</integer>
				<key>x</key>
				<integer>294</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>anim_cg_CHE_11.png</key>
			<dict>
				<key>width</key>
				<integer>145</integer>
				<key>height</key>
				<integer>145</integer>
				<key>originalWidth</key>
				<integer>145</integer>
				<key>originalHeight</key>
				<integer>145</integer>
				<key>x</key>
				<integer>441</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>anim_cg_CHE_12.png</key>
			<dict>
				<key>width</key>
				<integer>145</integer>
				<key>height</key>
				<integer>145</integer>
				<key>originalWidth</key>
				<integer>145</integer>
				<key>originalHeight</key>
				<integer>145</integer>
				<key>x</key>
				<integer>588</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>anim_cg_CHE_13.png</key>
			<dict>
				<key>width</key>
				<integer>145</integer>
				<key>height</key>
				<integer>145</integer>
				<key>originalWidth</key>
				<integer>145</integer>
				<key>originalHeight</key>
				<integer>145</integer>
				<key>x</key>
				<integer>735</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>anim_cg_CHE_14.png</key>
			<dict>
				<key>width</key>
				<integer>145</integer>
				<key>height</key>
				<integer>145</integer>
				<key>originalWidth</key>
				<integer>145</integer>
				<key>originalHeight</key>
				<integer>145</integer>
				<key>x</key>
				<integer>882</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>anim_cg_CHE_15.png</key>
			<dict>
				<key>width</key>
				<integer>145</integer>
				<key>height</key>
				<integer>145</integer>
				<key>originalWidth</key>
				<integer>145</integer>
				<key>originalHeight</key>
				<integer>145</integer>
				<key>x</key>
				<integer>1029</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>anim_cg_CHE_16.png</key>
			<dict>
				<key>width</key>
				<integer>145</integer>
				<key>height</key>
				<integer>145</integer>
				<key>originalWidth</key>
				<integer>145</integer>
				<key>originalHeight</key>
				<integer>145</integer>
				<key>x</key>
				<integer>1176</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>anim_cg_CHE_17.png</key>
			<dict>
				<key>width</key>
				<integer>145</integer>
				<key>height</key>
				<integer>145</integer>
				<key>originalWidth</key>
				<integer>145</integer>
				<key>originalHeight</key>
				<integer>145</integer>
				<key>x</key>
				<integer>1323</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>anim_cg_CHE_18.png</key>
			<dict>
				<key>width</key>
				<integer>145</integer>
				<key>height</key>
				<integer>145</integer>
				<key>originalWidth</key>
				<integer>145</integer>
				<key>originalHeight</key>
				<integer>145</integer>
				<key>x</key>
				<integer>1470</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>anim_cg_pcm.png</key>
			<dict>
				<key>width</key>
				<integer>308</integer>
				<key>height</key>
				<integer>253</integer>
				<key>originalWidth</key>
				<integer>308</integer>
				<key>originalHeight</key>
				<integer>253</integer>
				<key>x</key>
				<integer>1617</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>anim_cg_WJ1.png</key>
			<dict>
				<key>width</key>
				<integer>89</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>89</integer>
				<key>originalHeight</key>
				<integer>79</integer>
				<key>x</key>
				<integer>1927</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>anim_cg_WJ2.png</key>
			<dict>
				<key>width</key>
				<integer>89</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>89</integer>
				<key>originalHeight</key>
				<integer>79</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>255</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>anim_cg_WJ3.png</key>
			<dict>
				<key>width</key>
				<integer>89</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>89</integer>
				<key>originalHeight</key>
				<integer>79</integer>
				<key>x</key>
				<integer>91</integer>
				<key>y</key>
				<integer>255</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>anim_cg_WJ4.png</key>
			<dict>
				<key>width</key>
				<integer>89</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>89</integer>
				<key>originalHeight</key>
				<integer>79</integer>
				<key>x</key>
				<integer>182</integer>
				<key>y</key>
				<integer>255</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>anim_cg_WJ5.png</key>
			<dict>
				<key>width</key>
				<integer>89</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>89</integer>
				<key>originalHeight</key>
				<integer>79</integer>
				<key>x</key>
				<integer>273</integer>
				<key>y</key>
				<integer>255</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>anim_cg_WJ6.png</key>
			<dict>
				<key>width</key>
				<integer>89</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>89</integer>
				<key>originalHeight</key>
				<integer>79</integer>
				<key>x</key>
				<integer>364</integer>
				<key>y</key>
				<integer>255</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>anim_cg_WJ7.png</key>
			<dict>
				<key>width</key>
				<integer>89</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>89</integer>
				<key>originalHeight</key>
				<integer>79</integer>
				<key>x</key>
				<integer>455</integer>
				<key>y</key>
				<integer>255</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>anim_cg_WJ8.png</key>
			<dict>
				<key>width</key>
				<integer>89</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>89</integer>
				<key>originalHeight</key>
				<integer>79</integer>
				<key>x</key>
				<integer>546</integer>
				<key>y</key>
				<integer>255</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>anim_cg_WJ9.png</key>
			<dict>
				<key>width</key>
				<integer>89</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>89</integer>
				<key>originalHeight</key>
				<integer>79</integer>
				<key>x</key>
				<integer>637</integer>
				<key>y</key>
				<integer>255</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>anim_cg_WJ10.png</key>
			<dict>
				<key>width</key>
				<integer>89</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>89</integer>
				<key>originalHeight</key>
				<integer>79</integer>
				<key>x</key>
				<integer>728</integer>
				<key>y</key>
				<integer>255</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>anim_cg_WJ11.png</key>
			<dict>
				<key>width</key>
				<integer>89</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>89</integer>
				<key>originalHeight</key>
				<integer>79</integer>
				<key>x</key>
				<integer>819</integer>
				<key>y</key>
				<integer>255</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>anim_cg_WJ12.png</key>
			<dict>
				<key>width</key>
				<integer>89</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>89</integer>
				<key>originalHeight</key>
				<integer>79</integer>
				<key>x</key>
				<integer>910</integer>
				<key>y</key>
				<integer>255</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>anim_cg_WJ13.png</key>
			<dict>
				<key>width</key>
				<integer>89</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>89</integer>
				<key>originalHeight</key>
				<integer>79</integer>
				<key>x</key>
				<integer>1001</integer>
				<key>y</key>
				<integer>255</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>anim_cg_WJ14.png</key>
			<dict>
				<key>width</key>
				<integer>89</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>89</integer>
				<key>originalHeight</key>
				<integer>79</integer>
				<key>x</key>
				<integer>1092</integer>
				<key>y</key>
				<integer>255</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>anim_cg_SB2.png</key>
			<dict>
				<key>width</key>
				<integer>550</integer>
				<key>height</key>
				<integer>350</integer>
				<key>originalWidth</key>
				<integer>550</integer>
				<key>originalHeight</key>
				<integer>350</integer>
				<key>x</key>
				<integer>1183</integer>
				<key>y</key>
				<integer>255</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>anim_cg_SB3.png</key>
			<dict>
				<key>width</key>
				<integer>550</integer>
				<key>height</key>
				<integer>350</integer>
				<key>originalWidth</key>
				<integer>550</integer>
				<key>originalHeight</key>
				<integer>350</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>607</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>anim_cg_SB4.png</key>
			<dict>
				<key>width</key>
				<integer>550</integer>
				<key>height</key>
				<integer>350</integer>
				<key>originalWidth</key>
				<integer>550</integer>
				<key>originalHeight</key>
				<integer>350</integer>
				<key>x</key>
				<integer>552</integer>
				<key>y</key>
				<integer>607</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>anim_cg_SB5.png</key>
			<dict>
				<key>width</key>
				<integer>550</integer>
				<key>height</key>
				<integer>350</integer>
				<key>originalWidth</key>
				<integer>550</integer>
				<key>originalHeight</key>
				<integer>350</integer>
				<key>x</key>
				<integer>1104</integer>
				<key>y</key>
				<integer>607</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>anim_cg_SB6.png</key>
			<dict>
				<key>width</key>
				<integer>550</integer>
				<key>height</key>
				<integer>350</integer>
				<key>originalWidth</key>
				<integer>550</integer>
				<key>originalHeight</key>
				<integer>350</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>959</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>anim_cg_SB7.png</key>
			<dict>
				<key>width</key>
				<integer>550</integer>
				<key>height</key>
				<integer>350</integer>
				<key>originalWidth</key>
				<integer>550</integer>
				<key>originalHeight</key>
				<integer>350</integer>
				<key>x</key>
				<integer>552</integer>
				<key>y</key>
				<integer>959</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>anim_cg_SB8.png</key>
			<dict>
				<key>width</key>
				<integer>550</integer>
				<key>height</key>
				<integer>350</integer>
				<key>originalWidth</key>
				<integer>550</integer>
				<key>originalHeight</key>
				<integer>350</integer>
				<key>x</key>
				<integer>1104</integer>
				<key>y</key>
				<integer>959</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>anim_cg_SB9.png</key>
			<dict>
				<key>width</key>
				<integer>550</integer>
				<key>height</key>
				<integer>350</integer>
				<key>originalWidth</key>
				<integer>550</integer>
				<key>originalHeight</key>
				<integer>350</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1311</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>anim_cg_SB10.png</key>
			<dict>
				<key>width</key>
				<integer>550</integer>
				<key>height</key>
				<integer>350</integer>
				<key>originalWidth</key>
				<integer>550</integer>
				<key>originalHeight</key>
				<integer>350</integer>
				<key>x</key>
				<integer>552</integer>
				<key>y</key>
				<integer>1311</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>anim_cg_SB11.png</key>
			<dict>
				<key>width</key>
				<integer>550</integer>
				<key>height</key>
				<integer>350</integer>
				<key>originalWidth</key>
				<integer>550</integer>
				<key>originalHeight</key>
				<integer>350</integer>
				<key>x</key>
				<integer>1104</integer>
				<key>y</key>
				<integer>1311</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>anim_cg_SB12.png</key>
			<dict>
				<key>width</key>
				<integer>550</integer>
				<key>height</key>
				<integer>350</integer>
				<key>originalWidth</key>
				<integer>550</integer>
				<key>originalHeight</key>
				<integer>350</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1663</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>anim_cg_SB13.png</key>
			<dict>
				<key>width</key>
				<integer>550</integer>
				<key>height</key>
				<integer>350</integer>
				<key>originalWidth</key>
				<integer>550</integer>
				<key>originalHeight</key>
				<integer>350</integer>
				<key>x</key>
				<integer>552</integer>
				<key>y</key>
				<integer>1663</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>anim_cg_SB14.png</key>
			<dict>
				<key>width</key>
				<integer>550</integer>
				<key>height</key>
				<integer>350</integer>
				<key>originalWidth</key>
				<integer>550</integer>
				<key>originalHeight</key>
				<integer>350</integer>
				<key>x</key>
				<integer>1104</integer>
				<key>y</key>
				<integer>1663</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>anim_cg1.png</string>
			<key>realTextureFileName</key>
			<string>anim_cg1.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>