<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lhs_w_m_e_o_baimayicong_atk_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,106},{102,124}}</string>
                <key>offset</key>
                <string>{1,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,107},{102,124}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_baimayicong_atk_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,221},{112,142}}</string>
                <key>offset</key>
                <string>{4,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,89},{112,142}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_baimayicong_atk_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,106},{114,142}}</string>
                <key>offset</key>
                <string>{4,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,89},{114,142}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_baimayicong_atk_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,231},{114,128}}</string>
                <key>offset</key>
                <string>{7,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,103},{114,128}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_baimayicong_atk_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,354},{116,116}}</string>
                <key>offset</key>
                <string>{9,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,115},{116,116}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_baimayicong_atk_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,471},{120,106}}</string>
                <key>offset</key>
                <string>{11,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,125},{120,106}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_baimayicong_atk_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,104},{118,110}}</string>
                <key>offset</key>
                <string>{10,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,121},{118,110}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_baimayicong_atk_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,420},{112,116}}</string>
                <key>offset</key>
                <string>{6,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,115},{112,116}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_baimayicong_atk_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,420},{100,120}}</string>
                <key>offset</key>
                <string>{-1,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,111},{100,120}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_baimayicong_atk_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,334},{102,124}}</string>
                <key>offset</key>
                <string>{1,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,107},{102,124}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_baimayicong_atk_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,360},{104,122}}</string>
                <key>offset</key>
                <string>{2,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,109},{104,122}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_baimayicong_atk_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,142},{100,134}}</string>
                <key>offset</key>
                <string>{-4,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,97},{100,134}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_baimayicong_atk_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,1},{102,140}}</string>
                <key>offset</key>
                <string>{-5,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,91},{102,140}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_baimayicong_atk_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,277},{100,142}}</string>
                <key>offset</key>
                <string>{-4,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,89},{100,142}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_baimayicong_atk_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,223},{98,140}}</string>
                <key>offset</key>
                <string>{-3,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,91},{98,140}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_baimayicong_atk_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,241},{98,140}}</string>
                <key>offset</key>
                <string>{-3,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,91},{98,140}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_baimayicong_atk_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,277},{112,142}}</string>
                <key>offset</key>
                <string>{4,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,89},{112,142}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_baimayicong_atk_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,211},{112,142}}</string>
                <key>offset</key>
                <string>{4,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,89},{112,142}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_baimayicong_death_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,441},{102,128}}</string>
                <key>offset</key>
                <string>{1,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,103},{102,128}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_baimayicong_death_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,142},{166,134}}</string>
                <key>offset</key>
                <string>{-31,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,97},{166,134}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_baimayicong_death_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{176,140}}</string>
                <key>offset</key>
                <string>{-36,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,99},{176,140}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_baimayicong_death_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,1},{180,104}}</string>
                <key>offset</key>
                <string>{-38,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,135},{180,104}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_baimayicong_death_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,589},{180,104}}</string>
                <key>offset</key>
                <string>{-38,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,135},{180,104}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_baimayicong_death_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,1},{180,104}}</string>
                <key>offset</key>
                <string>{-38,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,135},{180,104}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_baimayicong_death_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,1},{180,104}}</string>
                <key>offset</key>
                <string>{-38,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,135},{180,104}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_baimayicong_death_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,589},{180,104}}</string>
                <key>offset</key>
                <string>{-38,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,135},{180,104}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_baimayicong_death_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,106},{180,104}}</string>
                <key>offset</key>
                <string>{-38,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,135},{180,104}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_baimayicong_death_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,106},{180,104}}</string>
                <key>offset</key>
                <string>{-38,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,135},{180,104}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_baimayicong_death_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,106},{180,104}}</string>
                <key>offset</key>
                <string>{-38,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,135},{180,104}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_baimayicong_death_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,441},{102,130}}</string>
                <key>offset</key>
                <string>{-1,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,101},{102,130}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_baimayicong_death_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,106},{180,104}}</string>
                <key>offset</key>
                <string>{-38,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,135},{180,104}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_baimayicong_death_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,340},{100,134}}</string>
                <key>offset</key>
                <string>{-2,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,97},{100,134}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_baimayicong_death_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,770},{108,150}}</string>
                <key>offset</key>
                <string>{-5,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,81},{108,150}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_baimayicong_death_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,277},{142,154}}</string>
                <key>offset</key>
                <string>{-21,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,77},{142,154}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_baimayicong_death_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,106},{146,134}}</string>
                <key>offset</key>
                <string>{-22,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,97},{146,134}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_baimayicong_death_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,770},{150,134}}</string>
                <key>offset</key>
                <string>{-24,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,97},{150,134}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_baimayicong_death_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,432},{156,134}}</string>
                <key>offset</key>
                <string>{-26,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,97},{156,134}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_baimayicong_death_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,1},{160,134}}</string>
                <key>offset</key>
                <string>{-28,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,97},{160,134}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_baimayicong_standby_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,483},{102,124}}</string>
                <key>offset</key>
                <string>{1,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,107},{102,124}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_baimayicong_standby_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,586},{102,124}}</string>
                <key>offset</key>
                <string>{1,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,107},{102,124}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_baimayicong_standby_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,437},{104,124}}</string>
                <key>offset</key>
                <string>{0,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,107},{104,124}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_baimayicong_standby_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,364},{104,124}}</string>
                <key>offset</key>
                <string>{0,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,107},{104,124}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_baimayicong_standby_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,489},{104,124}}</string>
                <key>offset</key>
                <string>{0,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,107},{104,124}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_baimayicong_standby_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,562},{104,124}}</string>
                <key>offset</key>
                <string>{0,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,107},{104,124}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_baimayicong_standby_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,614},{104,124}}</string>
                <key>offset</key>
                <string>{0,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,107},{104,124}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_baimayicong_standby_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,687},{104,124}}</string>
                <key>offset</key>
                <string>{0,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,107},{104,124}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_baimayicong_standby_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,689},{104,124}}</string>
                <key>offset</key>
                <string>{0,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,107},{104,124}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_baimayicong_standby_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,739},{104,124}}</string>
                <key>offset</key>
                <string>{0,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,107},{104,124}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_baimayicong_standby_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,794},{104,124}}</string>
                <key>offset</key>
                <string>{0,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,107},{104,124}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_baimayicong_standby_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,570},{102,124}}</string>
                <key>offset</key>
                <string>{1,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,107},{102,124}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_baimayicong_standby_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,578},{104,124}}</string>
                <key>offset</key>
                <string>{0,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,107},{104,124}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_baimayicong_standby_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,578},{104,124}}</string>
                <key>offset</key>
                <string>{0,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,107},{104,124}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_baimayicong_standby_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,703},{104,124}}</string>
                <key>offset</key>
                <string>{0,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,107},{104,124}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_baimayicong_standby_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,828},{104,124}}</string>
                <key>offset</key>
                <string>{0,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,107},{104,124}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_baimayicong_standby_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,483},{102,124}}</string>
                <key>offset</key>
                <string>{1,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,107},{102,124}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_baimayicong_standby_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,572},{102,124}}</string>
                <key>offset</key>
                <string>{1,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,107},{102,124}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_baimayicong_standby_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,695},{102,124}}</string>
                <key>offset</key>
                <string>{1,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,107},{102,124}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_baimayicong_standby_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,703},{104,124}}</string>
                <key>offset</key>
                <string>{1,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,107},{104,124}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_baimayicong_standby_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,828},{104,124}}</string>
                <key>offset</key>
                <string>{1,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,107},{104,124}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_baimayicong_standby_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,697},{104,124}}</string>
                <key>offset</key>
                <string>{1,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,107},{104,124}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_baimayicong_standby_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,822},{104,124}}</string>
                <key>offset</key>
                <string>{1,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,107},{104,124}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_baimayicong_standby_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,820},{104,124}}</string>
                <key>offset</key>
                <string>{1,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,107},{104,124}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>map_build_3.png</string>
            <key>size</key>
            <string>{1024,933}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b22ada39740d9c56f75c137cbde5768f:78bb31f6e4d0a19f6dde195dab29282a:5150b6726b9d68054e2602f926754ba5$</string>
            <key>textureFileName</key>
            <string>map_build_3.png</string>
        </dict>
    </dict>
</plist>
