<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lhs_w_m_e_o_hubaoqi_atk_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,2},{106,126}}</string>
                <key>offset</key>
                <string>{4,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,105},{106,126}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_hubaoqi_atk_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,600},{116,144}}</string>
                <key>offset</key>
                <string>{9,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,87},{116,144}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_hubaoqi_atk_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,746},{118,144}}</string>
                <key>offset</key>
                <string>{9,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,87},{118,144}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_hubaoqi_atk_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,260},{120,130}}</string>
                <key>offset</key>
                <string>{11,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,101},{120,130}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_hubaoqi_atk_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,140},{122,118}}</string>
                <key>offset</key>
                <string>{13,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,113},{122,118}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_hubaoqi_atk_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,892},{126,108}}</string>
                <key>offset</key>
                <string>{15,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,123},{126,108}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_hubaoqi_atk_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,392},{124,112}}</string>
                <key>offset</key>
                <string>{14,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,119},{124,112}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_hubaoqi_atk_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,498},{118,116}}</string>
                <key>offset</key>
                <string>{10,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,115},{118,116}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_hubaoqi_atk_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,392},{104,120}}</string>
                <key>offset</key>
                <string>{3,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,111},{104,120}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_hubaoqi_atk_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,496},{106,126}}</string>
                <key>offset</key>
                <string>{4,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,105},{106,126}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_hubaoqi_atk_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,616},{108,126}}</string>
                <key>offset</key>
                <string>{5,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,105},{108,126}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_hubaoqi_atk_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,432},{98,134}}</string>
                <key>offset</key>
                <string>{0,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,97},{98,134}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_hubaoqi_atk_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,246},{98,140}}</string>
                <key>offset</key>
                <string>{-3,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,91},{98,140}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_hubaoqi_atk_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,214},{98,144}}</string>
                <key>offset</key>
                <string>{-3,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,87},{98,144}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_hubaoqi_atk_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,246},{96,142}}</string>
                <key>offset</key>
                <string>{-2,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,89},{96,142}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_hubaoqi_atk_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,246},{100,140}}</string>
                <key>offset</key>
                <string>{0,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,91},{100,140}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_hubaoqi_atk_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,314},{116,144}}</string>
                <key>offset</key>
                <string>{9,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,87},{116,144}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_hubaoqi_atk_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,246},{116,144}}</string>
                <key>offset</key>
                <string>{9,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,87},{116,144}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_hubaoqi_death_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,388},{106,130}}</string>
                <key>offset</key>
                <string>{4,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,101},{106,130}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_hubaoqi_death_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{170,136}}</string>
                <key>offset</key>
                <string>{-28,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,95},{170,136}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_hubaoqi_death_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{182,142}}</string>
                <key>offset</key>
                <string>{-34,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,97},{182,142}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_hubaoqi_death_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{186,104}}</string>
                <key>offset</key>
                <string>{-35,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,135},{186,104}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_hubaoqi_death_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,600},{186,104}}</string>
                <key>offset</key>
                <string>{-35,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,135},{186,104}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_hubaoqi_death_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,2},{186,104}}</string>
                <key>offset</key>
                <string>{-35,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,135},{186,104}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_hubaoqi_death_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,788},{186,104}}</string>
                <key>offset</key>
                <string>{-35,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,135},{186,104}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_hubaoqi_death_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,2},{186,104}}</string>
                <key>offset</key>
                <string>{-35,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,135},{186,104}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_hubaoqi_death_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,108},{186,104}}</string>
                <key>offset</key>
                <string>{-35,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,135},{186,104}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_hubaoqi_death_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,108},{186,104}}</string>
                <key>offset</key>
                <string>{-35,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,135},{186,104}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_hubaoqi_death_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,108},{186,104}}</string>
                <key>offset</key>
                <string>{-35,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,135},{186,104}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_hubaoqi_death_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,390},{104,130}}</string>
                <key>offset</key>
                <string>{3,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,101},{104,130}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_hubaoqi_death_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,108},{186,104}}</string>
                <key>offset</key>
                <string>{-35,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,135},{186,104}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_hubaoqi_death_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,244},{102,136}}</string>
                <key>offset</key>
                <string>{2,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,95},{102,136}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_hubaoqi_death_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,130},{112,152}}</string>
                <key>offset</key>
                <string>{-2,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,79},{112,152}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_hubaoqi_death_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{148,154}}</string>
                <key>offset</key>
                <string>{-19,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,77},{148,154}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_hubaoqi_death_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,108},{150,136}}</string>
                <key>offset</key>
                <string>{-20,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,95},{150,136}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_hubaoqi_death_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,108},{154,136}}</string>
                <key>offset</key>
                <string>{-21,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,95},{154,136}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_hubaoqi_death_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,440},{158,136}}</string>
                <key>offset</key>
                <string>{-22,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,95},{158,136}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_hubaoqi_death_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{162,136}}</string>
                <key>offset</key>
                <string>{-24,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,95},{162,136}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_hubaoqi_standby_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,744},{106,126}}</string>
                <key>offset</key>
                <string>{4,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,105},{106,126}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_hubaoqi_standby_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,532},{106,126}}</string>
                <key>offset</key>
                <string>{4,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,105},{106,126}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_hubaoqi_standby_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,640},{106,126}}</string>
                <key>offset</key>
                <string>{4,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,105},{106,126}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_hubaoqi_standby_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,768},{106,126}}</string>
                <key>offset</key>
                <string>{4,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,105},{106,126}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_hubaoqi_standby_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,640},{106,126}}</string>
                <key>offset</key>
                <string>{4,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,105},{106,126}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_hubaoqi_standby_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,506},{106,128}}</string>
                <key>offset</key>
                <string>{4,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,103},{106,128}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_hubaoqi_standby_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,496},{106,128}}</string>
                <key>offset</key>
                <string>{4,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,103},{106,128}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_hubaoqi_standby_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,768},{106,126}}</string>
                <key>offset</key>
                <string>{4,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,105},{106,126}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_hubaoqi_standby_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,614},{106,126}}</string>
                <key>offset</key>
                <string>{4,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,105},{106,126}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_hubaoqi_standby_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,742},{106,126}}</string>
                <key>offset</key>
                <string>{4,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,105},{106,126}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_hubaoqi_standby_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,604},{106,126}}</string>
                <key>offset</key>
                <string>{4,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,105},{106,126}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_hubaoqi_standby_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,732},{106,126}}</string>
                <key>offset</key>
                <string>{4,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,105},{106,126}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_hubaoqi_standby_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,604},{106,126}}</string>
                <key>offset</key>
                <string>{4,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,105},{106,126}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_hubaoqi_standby_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,732},{106,126}}</string>
                <key>offset</key>
                <string>{4,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,105},{106,126}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_hubaoqi_standby_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,860},{106,126}}</string>
                <key>offset</key>
                <string>{4,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,105},{106,126}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_hubaoqi_standby_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,870},{106,126}}</string>
                <key>offset</key>
                <string>{4,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,105},{106,126}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_hubaoqi_standby_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,744},{106,126}}</string>
                <key>offset</key>
                <string>{4,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,105},{106,126}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_hubaoqi_standby_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,860},{106,126}}</string>
                <key>offset</key>
                <string>{4,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,105},{106,126}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_hubaoqi_standby_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,896},{106,126}}</string>
                <key>offset</key>
                <string>{4,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,105},{106,126}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_hubaoqi_standby_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,896},{106,126}}</string>
                <key>offset</key>
                <string>{4,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,105},{106,126}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_hubaoqi_standby_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,390},{106,126}}</string>
                <key>offset</key>
                <string>{5,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,105},{106,126}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_hubaoqi_standby_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,518},{106,126}}</string>
                <key>offset</key>
                <string>{5,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,105},{106,126}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_hubaoqi_standby_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,626},{106,126}}</string>
                <key>offset</key>
                <string>{5,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,105},{106,126}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_hubaoqi_standby_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,754},{106,126}}</string>
                <key>offset</key>
                <string>{5,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,105},{106,126}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>map_build_6.png</string>
            <key>size</key>
            <string>{1023,1008}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:889da9de405ad953ca3301a40a36a49a:2e66691ec41fa2666666023ca4dfc9a7:224e91856cb445af69e6224d3e593bdf$</string>
            <key>textureFileName</key>
            <string>map_build_6.png</string>
        </dict>
    </dict>
</plist>
