<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lhs_w_m_e_o_chihou_atk_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,348},{102,122}}</string>
                <key>offset</key>
                <string>{1,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,109},{102,122}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_chihou_atk_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{98,140}}</string>
                <key>offset</key>
                <string>{-3,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,91},{98,140}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_chihou_atk_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,244},{98,140}}</string>
                <key>offset</key>
                <string>{-3,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,91},{98,140}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_chihou_atk_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,104},{96,126}}</string>
                <key>offset</key>
                <string>{-2,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,105},{96,126}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_chihou_atk_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,874},{94,116}}</string>
                <key>offset</key>
                <string>{-1,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,115},{94,116}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_chihou_atk_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,864},{94,106}}</string>
                <key>offset</key>
                <string>{-1,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,125},{94,106}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_chihou_atk_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,874},{94,110}}</string>
                <key>offset</key>
                <string>{-1,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,121},{94,110}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_chihou_atk_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,232},{96,114}}</string>
                <key>offset</key>
                <string>{-2,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,117},{96,114}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_chihou_atk_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,856},{98,118}}</string>
                <key>offset</key>
                <string>{-1,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,113},{98,118}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_chihou_atk_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,446},{102,122}}</string>
                <key>offset</key>
                <string>{1,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,109},{102,122}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_chihou_atk_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,874},{102,120}}</string>
                <key>offset</key>
                <string>{2,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,111},{102,120}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_chihou_atk_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,472},{98,132}}</string>
                <key>offset</key>
                <string>{-3,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,99},{98,132}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_chihou_atk_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,452},{98,138}}</string>
                <key>offset</key>
                <string>{-3,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,93},{98,138}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_chihou_atk_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,344},{98,142}}</string>
                <key>offset</key>
                <string>{-3,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,89},{98,142}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_chihou_atk_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,344},{98,140}}</string>
                <key>offset</key>
                <string>{-3,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,91},{98,140}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_chihou_atk_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,444},{98,138}}</string>
                <key>offset</key>
                <string>{-3,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,93},{98,138}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_chihou_atk_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,380},{98,140}}</string>
                <key>offset</key>
                <string>{-3,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,91},{98,140}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_chihou_atk_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,444},{98,140}}</string>
                <key>offset</key>
                <string>{-3,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,91},{98,140}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_chihou_death_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,544},{102,122}}</string>
                <key>offset</key>
                <string>{1,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,109},{102,122}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_chihou_death_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{164,132}}</string>
                <key>offset</key>
                <string>{-25,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,99},{164,132}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_chihou_death_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,104},{164,130}}</string>
                <key>offset</key>
                <string>{-26,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,101},{164,130}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_chihou_death_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,104},{162,94}}</string>
                <key>offset</key>
                <string>{-29,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,137},{162,94}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_chihou_death_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{172,100}}</string>
                <key>offset</key>
                <string>{-34,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,137},{172,100}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_chihou_death_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{172,100}}</string>
                <key>offset</key>
                <string>{-34,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,137},{172,100}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_chihou_death_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{172,100}}</string>
                <key>offset</key>
                <string>{-34,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,137},{172,100}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_chihou_death_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,2},{172,100}}</string>
                <key>offset</key>
                <string>{-34,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,137},{172,100}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_chihou_death_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,2},{172,100}}</string>
                <key>offset</key>
                <string>{-34,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,137},{172,100}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_chihou_death_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,2},{172,100}}</string>
                <key>offset</key>
                <string>{-34,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,137},{172,100}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_chihou_death_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,2},{172,100}}</string>
                <key>offset</key>
                <string>{-34,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,137},{172,100}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_chihou_death_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,544},{100,122}}</string>
                <key>offset</key>
                <string>{-1,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,109},{100,122}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_chihou_death_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,2},{172,100}}</string>
                <key>offset</key>
                <string>{-34,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,137},{172,100}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_chihou_death_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,200},{98,158}}</string>
                <key>offset</key>
                <string>{-2,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,73},{98,158}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_chihou_death_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,236},{106,156}}</string>
                <key>offset</key>
                <string>{-5,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,75},{106,156}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_chihou_death_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,104},{138,150}}</string>
                <key>offset</key>
                <string>{-20,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,81},{138,150}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_chihou_death_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,300},{144,146}}</string>
                <key>offset</key>
                <string>{-22,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,85},{144,146}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_chihou_death_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,238},{148,140}}</string>
                <key>offset</key>
                <string>{-23,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,91},{148,140}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_chihou_death_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{154,132}}</string>
                <key>offset</key>
                <string>{-25,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,99},{154,132}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_chihou_death_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,104},{160,132}}</string>
                <key>offset</key>
                <string>{-26,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,99},{160,132}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_chihou_standby_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,572},{102,122}}</string>
                <key>offset</key>
                <string>{1,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,109},{102,122}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_chihou_standby_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,480},{102,122}}</string>
                <key>offset</key>
                <string>{1,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,109},{102,122}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_chihou_standby_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,550},{102,122}}</string>
                <key>offset</key>
                <string>{1,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,109},{102,122}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_chihou_standby_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,648},{102,122}}</string>
                <key>offset</key>
                <string>{0,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,109},{102,122}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_chihou_standby_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,676},{102,122}}</string>
                <key>offset</key>
                <string>{0,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,109},{102,122}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_chihou_standby_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,544},{102,122}}</string>
                <key>offset</key>
                <string>{0,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,109},{102,122}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_chihou_standby_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,584},{102,122}}</string>
                <key>offset</key>
                <string>{0,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,109},{102,122}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_chihou_standby_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,654},{102,122}}</string>
                <key>offset</key>
                <string>{0,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,109},{102,122}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_chihou_standby_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,752},{102,122}}</string>
                <key>offset</key>
                <string>{0,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,109},{102,122}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_chihou_standby_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,780},{102,122}}</string>
                <key>offset</key>
                <string>{0,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,109},{102,122}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_chihou_standby_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,884},{102,122}}</string>
                <key>offset</key>
                <string>{0,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,109},{102,122}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_chihou_standby_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,884},{102,122}}</string>
                <key>offset</key>
                <string>{1,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,109},{102,122}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_chihou_standby_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,648},{102,122}}</string>
                <key>offset</key>
                <string>{0,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,109},{102,122}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_chihou_standby_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,688},{102,122}}</string>
                <key>offset</key>
                <string>{0,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,109},{102,122}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_chihou_standby_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,772},{100,122}}</string>
                <key>offset</key>
                <string>{1,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,109},{100,122}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_chihou_standby_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,758},{102,122}}</string>
                <key>offset</key>
                <string>{0,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,109},{102,122}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_chihou_standby_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,572},{102,122}}</string>
                <key>offset</key>
                <string>{1,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,109},{102,122}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_chihou_standby_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,862},{102,122}}</string>
                <key>offset</key>
                <string>{1,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,109},{102,122}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_chihou_standby_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,862},{102,122}}</string>
                <key>offset</key>
                <string>{1,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,109},{102,122}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_chihou_standby_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,552},{102,122}}</string>
                <key>offset</key>
                <string>{1,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,109},{102,122}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_chihou_standby_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,656},{102,122}}</string>
                <key>offset</key>
                <string>{1,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,109},{102,122}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_chihou_standby_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,668},{102,122}}</string>
                <key>offset</key>
                <string>{1,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,109},{102,122}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_chihou_standby_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,752},{102,122}}</string>
                <key>offset</key>
                <string>{1,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,109},{102,122}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_chihou_standby_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,760},{102,122}}</string>
                <key>offset</key>
                <string>{1,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,109},{102,122}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>map_build_4.png</string>
            <key>size</key>
            <string>{910,1012}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7c70678364ef1f98cf2cc2a3927d85e3:d0dfdf363ca8d67a3668848dff1d2c19:9981df980af6d356aefd094f9932c2ba$</string>
            <key>textureFileName</key>
            <string>map_build_4.png</string>
        </dict>
    </dict>
</plist>
