<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Effect_YanHuaTwo_00000.png</key>
			<dict>
				<key>width</key>
				<integer>220</integer>
				<key>height</key>
				<integer>220</integer>
				<key>originalWidth</key>
				<integer>220</integer>
				<key>originalHeight</key>
				<integer>220</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Effect_YanHuaTwo_00001.png</key>
			<dict>
				<key>width</key>
				<integer>220</integer>
				<key>height</key>
				<integer>220</integer>
				<key>originalWidth</key>
				<integer>220</integer>
				<key>originalHeight</key>
				<integer>220</integer>
				<key>x</key>
				<integer>222</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Effect_YanHuaTwo_00002.png</key>
			<dict>
				<key>width</key>
				<integer>220</integer>
				<key>height</key>
				<integer>220</integer>
				<key>originalWidth</key>
				<integer>220</integer>
				<key>originalHeight</key>
				<integer>220</integer>
				<key>x</key>
				<integer>444</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Effect_YanHuaTwo_00003.png</key>
			<dict>
				<key>width</key>
				<integer>220</integer>
				<key>height</key>
				<integer>220</integer>
				<key>originalWidth</key>
				<integer>220</integer>
				<key>originalHeight</key>
				<integer>220</integer>
				<key>x</key>
				<integer>666</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Effect_YanHuaTwo_00004.png</key>
			<dict>
				<key>width</key>
				<integer>220</integer>
				<key>height</key>
				<integer>220</integer>
				<key>originalWidth</key>
				<integer>220</integer>
				<key>originalHeight</key>
				<integer>220</integer>
				<key>x</key>
				<integer>888</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Effect_YanHuaTwo_00005.png</key>
			<dict>
				<key>width</key>
				<integer>220</integer>
				<key>height</key>
				<integer>220</integer>
				<key>originalWidth</key>
				<integer>220</integer>
				<key>originalHeight</key>
				<integer>220</integer>
				<key>x</key>
				<integer>1110</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Effect_YanHuaTwo_00006.png</key>
			<dict>
				<key>width</key>
				<integer>220</integer>
				<key>height</key>
				<integer>220</integer>
				<key>originalWidth</key>
				<integer>220</integer>
				<key>originalHeight</key>
				<integer>220</integer>
				<key>x</key>
				<integer>1332</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Effect_YanHuaTwo_00007.png</key>
			<dict>
				<key>width</key>
				<integer>220</integer>
				<key>height</key>
				<integer>220</integer>
				<key>originalWidth</key>
				<integer>220</integer>
				<key>originalHeight</key>
				<integer>220</integer>
				<key>x</key>
				<integer>1554</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Effect_YanHuaTwo_00008.png</key>
			<dict>
				<key>width</key>
				<integer>220</integer>
				<key>height</key>
				<integer>220</integer>
				<key>originalWidth</key>
				<integer>220</integer>
				<key>originalHeight</key>
				<integer>220</integer>
				<key>x</key>
				<integer>1776</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Effect_YanHuaTwo_00009.png</key>
			<dict>
				<key>width</key>
				<integer>220</integer>
				<key>height</key>
				<integer>220</integer>
				<key>originalWidth</key>
				<integer>220</integer>
				<key>originalHeight</key>
				<integer>220</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>222</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Effect_YanHuaTwo_00010.png</key>
			<dict>
				<key>width</key>
				<integer>220</integer>
				<key>height</key>
				<integer>220</integer>
				<key>originalWidth</key>
				<integer>220</integer>
				<key>originalHeight</key>
				<integer>220</integer>
				<key>x</key>
				<integer>222</integer>
				<key>y</key>
				<integer>222</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Effect_YanHuaTwo_00011.png</key>
			<dict>
				<key>width</key>
				<integer>220</integer>
				<key>height</key>
				<integer>220</integer>
				<key>originalWidth</key>
				<integer>220</integer>
				<key>originalHeight</key>
				<integer>220</integer>
				<key>x</key>
				<integer>444</integer>
				<key>y</key>
				<integer>222</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Effect_YanHuaOne_00000.png</key>
			<dict>
				<key>width</key>
				<integer>220</integer>
				<key>height</key>
				<integer>220</integer>
				<key>originalWidth</key>
				<integer>220</integer>
				<key>originalHeight</key>
				<integer>220</integer>
				<key>x</key>
				<integer>666</integer>
				<key>y</key>
				<integer>222</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Effect_YanHuaOne_00001.png</key>
			<dict>
				<key>width</key>
				<integer>220</integer>
				<key>height</key>
				<integer>220</integer>
				<key>originalWidth</key>
				<integer>220</integer>
				<key>originalHeight</key>
				<integer>220</integer>
				<key>x</key>
				<integer>888</integer>
				<key>y</key>
				<integer>222</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Effect_YanHuaOne_00002.png</key>
			<dict>
				<key>width</key>
				<integer>220</integer>
				<key>height</key>
				<integer>220</integer>
				<key>originalWidth</key>
				<integer>220</integer>
				<key>originalHeight</key>
				<integer>220</integer>
				<key>x</key>
				<integer>1110</integer>
				<key>y</key>
				<integer>222</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Effect_YanHuaOne_00003.png</key>
			<dict>
				<key>width</key>
				<integer>220</integer>
				<key>height</key>
				<integer>220</integer>
				<key>originalWidth</key>
				<integer>220</integer>
				<key>originalHeight</key>
				<integer>220</integer>
				<key>x</key>
				<integer>1332</integer>
				<key>y</key>
				<integer>222</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Effect_YanHuaOne_00004.png</key>
			<dict>
				<key>width</key>
				<integer>220</integer>
				<key>height</key>
				<integer>220</integer>
				<key>originalWidth</key>
				<integer>220</integer>
				<key>originalHeight</key>
				<integer>220</integer>
				<key>x</key>
				<integer>1554</integer>
				<key>y</key>
				<integer>222</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Effect_YanHuaOne_00005.png</key>
			<dict>
				<key>width</key>
				<integer>220</integer>
				<key>height</key>
				<integer>220</integer>
				<key>originalWidth</key>
				<integer>220</integer>
				<key>originalHeight</key>
				<integer>220</integer>
				<key>x</key>
				<integer>1776</integer>
				<key>y</key>
				<integer>222</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Effect_YanHuaOne_00006.png</key>
			<dict>
				<key>width</key>
				<integer>220</integer>
				<key>height</key>
				<integer>220</integer>
				<key>originalWidth</key>
				<integer>220</integer>
				<key>originalHeight</key>
				<integer>220</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>444</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Effect_YanHuaOne_00007.png</key>
			<dict>
				<key>width</key>
				<integer>220</integer>
				<key>height</key>
				<integer>220</integer>
				<key>originalWidth</key>
				<integer>220</integer>
				<key>originalHeight</key>
				<integer>220</integer>
				<key>x</key>
				<integer>222</integer>
				<key>y</key>
				<integer>444</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Effect_YanHuaOne_00008.png</key>
			<dict>
				<key>width</key>
				<integer>220</integer>
				<key>height</key>
				<integer>220</integer>
				<key>originalWidth</key>
				<integer>220</integer>
				<key>originalHeight</key>
				<integer>220</integer>
				<key>x</key>
				<integer>444</integer>
				<key>y</key>
				<integer>444</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Effect_YanHuaOne_00009.png</key>
			<dict>
				<key>width</key>
				<integer>220</integer>
				<key>height</key>
				<integer>220</integer>
				<key>originalWidth</key>
				<integer>220</integer>
				<key>originalHeight</key>
				<integer>220</integer>
				<key>x</key>
				<integer>666</integer>
				<key>y</key>
				<integer>444</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Effect_YanHuaOne_00010.png</key>
			<dict>
				<key>width</key>
				<integer>220</integer>
				<key>height</key>
				<integer>220</integer>
				<key>originalWidth</key>
				<integer>220</integer>
				<key>originalHeight</key>
				<integer>220</integer>
				<key>x</key>
				<integer>888</integer>
				<key>y</key>
				<integer>444</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Effect_YanHuaOne_00011.png</key>
			<dict>
				<key>width</key>
				<integer>220</integer>
				<key>height</key>
				<integer>220</integer>
				<key>originalWidth</key>
				<integer>220</integer>
				<key>originalHeight</key>
				<integer>220</integer>
				<key>x</key>
				<integer>1110</integer>
				<key>y</key>
				<integer>444</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Effect_YanHuaOne_00012.png</key>
			<dict>
				<key>width</key>
				<integer>220</integer>
				<key>height</key>
				<integer>220</integer>
				<key>originalWidth</key>
				<integer>220</integer>
				<key>originalHeight</key>
				<integer>220</integer>
				<key>x</key>
				<integer>1332</integer>
				<key>y</key>
				<integer>444</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Effect_YanHuaOne_00013.png</key>
			<dict>
				<key>width</key>
				<integer>220</integer>
				<key>height</key>
				<integer>220</integer>
				<key>originalWidth</key>
				<integer>220</integer>
				<key>originalHeight</key>
				<integer>220</integer>
				<key>x</key>
				<integer>1554</integer>
				<key>y</key>
				<integer>444</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Effect_YanHuaOne_00014.png</key>
			<dict>
				<key>width</key>
				<integer>220</integer>
				<key>height</key>
				<integer>220</integer>
				<key>originalWidth</key>
				<integer>220</integer>
				<key>originalHeight</key>
				<integer>220</integer>
				<key>x</key>
				<integer>1776</integer>
				<key>y</key>
				<integer>444</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Effect_YanHuaOne_00015.png</key>
			<dict>
				<key>width</key>
				<integer>220</integer>
				<key>height</key>
				<integer>220</integer>
				<key>originalWidth</key>
				<integer>220</integer>
				<key>originalHeight</key>
				<integer>220</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>666</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>Effect_YanHua0.png</string>
			<key>realTextureFileName</key>
			<string>Effect_YanHua0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>