<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lhs_w_m_e_o_longquabtieji_atk_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,662},{102,124}}</string>
                <key>offset</key>
                <string>{1,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,107},{102,124}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_longquabtieji_atk_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,352},{114,140}}</string>
                <key>offset</key>
                <string>{4,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,91},{114,140}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_longquabtieji_atk_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,160},{114,140}}</string>
                <key>offset</key>
                <string>{5,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,91},{114,140}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_longquabtieji_atk_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,820},{114,126}}</string>
                <key>offset</key>
                <string>{8,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,105},{114,126}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_longquabtieji_atk_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,2},{116,114}}</string>
                <key>offset</key>
                <string>{10,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,117},{116,114}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_longquabtieji_atk_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,846},{120,104}}</string>
                <key>offset</key>
                <string>{12,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,127},{120,104}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_longquabtieji_atk_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,626},{118,108}}</string>
                <key>offset</key>
                <string>{11,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,123},{118,108}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_longquabtieji_atk_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,854},{112,112}}</string>
                <key>offset</key>
                <string>{7,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,119},{112,112}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_longquabtieji_atk_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,736},{100,116}}</string>
                <key>offset</key>
                <string>{0,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,115},{100,116}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_longquabtieji_atk_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,788},{102,124}}</string>
                <key>offset</key>
                <string>{1,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,107},{102,124}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_longquabtieji_atk_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,838},{104,122}}</string>
                <key>offset</key>
                <string>{2,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,109},{104,122}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_longquabtieji_atk_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,686},{98,132}}</string>
                <key>offset</key>
                <string>{-3,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,99},{98,132}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_longquabtieji_atk_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,144},{100,136}}</string>
                <key>offset</key>
                <string>{-4,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,95},{100,136}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_longquabtieji_atk_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,444},{100,140}}</string>
                <key>offset</key>
                <string>{-4,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,91},{100,140}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_longquabtieji_atk_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,546},{98,138}}</string>
                <key>offset</key>
                <string>{-3,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,93},{98,138}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_longquabtieji_atk_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,2},{98,136}}</string>
                <key>offset</key>
                <string>{-3,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,95},{98,136}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_longquabtieji_atk_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,2},{114,140}}</string>
                <key>offset</key>
                <string>{4,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,91},{114,140}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_longquabtieji_atk_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,302},{114,140}}</string>
                <key>offset</key>
                <string>{4,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,91},{114,140}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_longquabtieji_death_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,680},{102,126}}</string>
                <key>offset</key>
                <string>{1,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,105},{102,126}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_longquabtieji_death_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,184},{166,132}}</string>
                <key>offset</key>
                <string>{-31,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,99},{166,132}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_longquabtieji_death_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,366},{178,136}}</string>
                <key>offset</key>
                <string>{-37,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,101},{178,136}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_longquabtieji_death_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{180,102}}</string>
                <key>offset</key>
                <string>{-38,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,136},{180,102}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_longquabtieji_death_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{180,100}}</string>
                <key>offset</key>
                <string>{-38,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,137},{180,100}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_longquabtieji_death_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{180,100}}</string>
                <key>offset</key>
                <string>{-38,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,137},{180,100}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_longquabtieji_death_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,548},{180,100}}</string>
                <key>offset</key>
                <string>{-38,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,137},{180,100}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_longquabtieji_death_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,730},{180,100}}</string>
                <key>offset</key>
                <string>{-38,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,137},{180,100}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_longquabtieji_death_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,184},{180,100}}</string>
                <key>offset</key>
                <string>{-38,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,137},{180,100}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_longquabtieji_death_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,184},{180,100}}</string>
                <key>offset</key>
                <string>{-38,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,137},{180,100}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_longquabtieji_death_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{180,100}}</string>
                <key>offset</key>
                <string>{-38,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,137},{180,100}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_longquabtieji_death_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,282},{100,126}}</string>
                <key>offset</key>
                <string>{0,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,105},{100,126}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_longquabtieji_death_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{180,100}}</string>
                <key>offset</key>
                <string>{-38,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,137},{180,100}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_longquabtieji_death_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,546},{98,132}}</string>
                <key>offset</key>
                <string>{-1,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,99},{98,132}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_longquabtieji_death_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,854},{110,148}}</string>
                <key>offset</key>
                <string>{-6,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,83},{110,148}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_longquabtieji_death_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,702},{140,150}}</string>
                <key>offset</key>
                <string>{-21,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,81},{140,150}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_longquabtieji_death_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,698},{146,132}}</string>
                <key>offset</key>
                <string>{-23,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,99},{146,132}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_longquabtieji_death_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,546},{150,132}}</string>
                <key>offset</key>
                <string>{-24,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,99},{150,132}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_longquabtieji_death_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,546},{154,132}}</string>
                <key>offset</key>
                <string>{-25,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,99},{154,132}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_longquabtieji_death_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{156,132}}</string>
                <key>offset</key>
                <string>{-26,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,99},{156,132}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_longquabtieji_standby_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,2},{102,124}}</string>
                <key>offset</key>
                <string>{1,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,107},{102,124}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_longquabtieji_standby_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,128},{102,124}}</string>
                <key>offset</key>
                <string>{1,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,107},{102,124}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_longquabtieji_standby_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,254},{102,124}}</string>
                <key>offset</key>
                <string>{1,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,107},{102,124}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_longquabtieji_standby_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,380},{102,124}}</string>
                <key>offset</key>
                <string>{1,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,107},{102,124}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_longquabtieji_standby_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,506},{102,124}}</string>
                <key>offset</key>
                <string>{1,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,107},{102,124}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_longquabtieji_standby_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,632},{102,124}}</string>
                <key>offset</key>
                <string>{1,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,107},{102,124}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_longquabtieji_standby_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,410},{104,124}}</string>
                <key>offset</key>
                <string>{0,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,107},{104,124}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_longquabtieji_standby_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,758},{102,124}}</string>
                <key>offset</key>
                <string>{1,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,107},{102,124}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_longquabtieji_standby_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,2},{102,124}}</string>
                <key>offset</key>
                <string>{1,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,107},{102,124}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_longquabtieji_standby_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,536},{104,124}}</string>
                <key>offset</key>
                <string>{0,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,107},{104,124}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_longquabtieji_standby_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,118},{102,124}}</string>
                <key>offset</key>
                <string>{1,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,107},{102,124}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_longquabtieji_standby_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,244},{102,124}}</string>
                <key>offset</key>
                <string>{1,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,107},{102,124}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_longquabtieji_standby_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,118},{102,124}}</string>
                <key>offset</key>
                <string>{1,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,107},{102,124}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_longquabtieji_standby_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,370},{102,124}}</string>
                <key>offset</key>
                <string>{1,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,107},{102,124}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_longquabtieji_standby_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,244},{102,124}}</string>
                <key>offset</key>
                <string>{1,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,107},{102,124}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_longquabtieji_standby_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,106},{102,124}}</string>
                <key>offset</key>
                <string>{1,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,107},{102,124}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_longquabtieji_standby_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,2},{102,124}}</string>
                <key>offset</key>
                <string>{1,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,107},{102,124}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_longquabtieji_standby_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,210},{102,124}}</string>
                <key>offset</key>
                <string>{1,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,107},{102,124}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_longquabtieji_standby_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,314},{102,124}}</string>
                <key>offset</key>
                <string>{1,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,107},{102,124}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_longquabtieji_standby_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,496},{102,124}}</string>
                <key>offset</key>
                <string>{1,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,107},{102,124}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_longquabtieji_standby_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,418},{102,124}}</string>
                <key>offset</key>
                <string>{1,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,107},{102,124}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_longquabtieji_standby_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,522},{102,124}}</string>
                <key>offset</key>
                <string>{1,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,107},{102,124}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_longquabtieji_standby_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,626},{102,124}}</string>
                <key>offset</key>
                <string>{1,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,107},{102,124}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lhs_w_m_e_o_longquabtieji_standby_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,838},{102,124}}</string>
                <key>offset</key>
                <string>{1,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,107},{102,124}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>map_build_7.png</string>
            <key>size</key>
            <string>{1016,968}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a6d3fbcd77bd8316ff5c8469ef6bab8a:be93222d65e0ef6143da8fe69ece3dc2:e663b84087c676714fcbc2e57a56766a$</string>
            <key>textureFileName</key>
            <string>map_build_7.png</string>
        </dict>
    </dict>
</plist>
