<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>worldmap_image_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,260},{184,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{184,55}}</string>
                <key>sourceSize</key>
                <string>{186,57}</string>
            </dict>
            <key>worldmap_image_flag_enemy.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,1216},{64,92}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{64,92}}</string>
                <key>sourceSize</key>
                <string>{66,96}</string>
            </dict>
            <key>worldmap_image_flag_enemy1.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,1216},{64,92}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{64,92}}</string>
                <key>sourceSize</key>
                <string>{66,96}</string>
            </dict>
            <key>worldmap_image_flag_friend.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,1118},{64,96}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{64,96}}</string>
                <key>sourceSize</key>
                <string>{66,96}</string>
            </dict>
            <key>worldmap_image_flag_friend1.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,1118},{64,96}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{64,96}}</string>
                <key>sourceSize</key>
                <string>{66,96}</string>
            </dict>
            <key>worldmap_image_flag_self.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,1310},{64,92}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{64,92}}</string>
                <key>sourceSize</key>
                <string>{66,96}</string>
            </dict>
            <key>worldmap_image_flag_self1.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,1310},{64,92}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{64,92}}</string>
                <key>sourceSize</key>
                <string>{66,96}</string>
            </dict>
            <key>worldmap_image_guildwar_cn_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,1439},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>worldmap_image_guildwar_cn_mid.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,1501},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>worldmap_image_guildwar_cn_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,1563},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>worldmap_image_guildwar_gcc_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,1625},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>worldmap_image_guildwar_gcc_mid.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,1687},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>worldmap_image_guildwar_gcc_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,1749},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>worldmap_image_guildwar_no_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,1811},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>worldmap_image_guildwar_tsc_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,1028},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>worldmap_image_guildwar_tsc_mid.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,1090},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>worldmap_image_guildwar_tsc_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,1152},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>worldmap_image_guildwar_xiufu_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,1214},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>worldmap_image_guildwar_xiufu_mid.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,1376},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>worldmap_image_guildwar_xiufu_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,1439},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>worldmap_image_guildwar_yt_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,1501},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>worldmap_image_guildwar_yt_mid.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,1563},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>worldmap_image_guildwar_yt_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,1625},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>worldmap_image_head_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,618},{78,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,4}}</string>
                <key>sourceSize</key>
                <string>{78,4}</string>
            </dict>
            <key>worldmap_image_home_lv.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,1036},{95,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,80}}</string>
                <key>sourceSize</key>
                <string>{95,80}</string>
            </dict>
            <key>worldmap_image_home_lv1.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,1036},{95,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,80}}</string>
                <key>sourceSize</key>
                <string>{95,80}</string>
            </dict>
            <key>worldmap_image_home_lv2.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,1036},{95,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,80}}</string>
                <key>sourceSize</key>
                <string>{95,80}</string>
            </dict>
            <key>worldmap_image_input_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1132},{248,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{248,124}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>worldmap_image_loading.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,1376},{63,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,61}}</string>
                <key>sourceSize</key>
                <string>{63,61}</string>
            </dict>
            <key>worldmap_image_lvDesk.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,1747},{56,50}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,28},{56,50}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>worldmap_image_lvDesk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,1687},{58,58}}</string>
                <key>offset</key>
                <string>{-9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,18},{58,58}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>worldmap_image_lvDesk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,962},{64,64}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,19},{64,64}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>worldmap_image_mass.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,1845},{42,42}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{42,42}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>worldmap_image_monsterlv.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,1276},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>worldmap_image_queue_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,1799},{42,44}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{42,44}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>worldmap_image_queue_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,1889},{42,44}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{42,44}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>worldmap_image_queue_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,1935},{42,44}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{42,44}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>worldmap_image_queue_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,1981},{42,44}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{42,44}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>worldmap_image_queue_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,1889},{42,44}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{42,44}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>worldmap_image_queue_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,1935},{42,44}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{42,44}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>worldmap_image_queue_other.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,1845},{42,42}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{42,42}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>worldmap_image_queue_spy.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,1324},{40,46}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{40,46}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>worldmap_image_r_1_B.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,2},{256,86}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,42},{256,86}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>worldmap_image_r_1_L.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1382},{170,128}}</string>
                <key>offset</key>
                <string>{-43,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,128}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>worldmap_image_r_1_LB.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,618},{170,84}}</string>
                <key>offset</key>
                <string>{-43,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,44},{170,84}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>worldmap_image_r_1_LT.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,260},{170,86}}</string>
                <key>offset</key>
                <string>{-43,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,86}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>worldmap_image_r_1_R.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1554},{170,128}}</string>
                <key>offset</key>
                <string>{43,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,0},{170,128}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>worldmap_image_r_1_RB.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,790},{170,84}}</string>
                <key>offset</key>
                <string>{43,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,44},{170,84}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>worldmap_image_r_1_RT.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,348},{170,86}}</string>
                <key>offset</key>
                <string>{43,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,0},{170,86}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>worldmap_image_r_1_T.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{256,86}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,86}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>worldmap_image_r_2_B.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,616},{256,86}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,42},{256,86}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>worldmap_image_r_2_L.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1726},{170,128}}</string>
                <key>offset</key>
                <string>{-43,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,128}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>worldmap_image_r_2_LB.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,520},{170,86}}</string>
                <key>offset</key>
                <string>{-43,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,42},{170,86}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>worldmap_image_r_2_LT.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,692},{170,86}}</string>
                <key>offset</key>
                <string>{-43,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,86}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>worldmap_image_r_2_R.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1898},{170,128}}</string>
                <key>offset</key>
                <string>{43,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,0},{170,128}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>worldmap_image_r_2_RB.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,864},{170,86}}</string>
                <key>offset</key>
                <string>{43,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,42},{170,86}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>worldmap_image_r_2_RT.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,446},{170,86}}</string>
                <key>offset</key>
                <string>{43,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,0},{170,86}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>worldmap_image_r_2_T.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,874},{256,86}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,86}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>worldmap_image_title_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{354,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{354,37}}</string>
                <key>sourceSize</key>
                <string>{354,37}</string>
            </dict>
            <key>worldmap_image_touch_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,2},{256,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,128}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>worldmap_image.png</string>
            <key>size</key>
            <string>{270,2028}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f50372b87c39b7aded70d696d1ccbf27:2f113b6555bc5b78ee0aa574faf059e5:191122c161a4ac4fc84dadb60e0bbe54$</string>
            <key>textureFileName</key>
            <string>worldmap_image.png</string>
        </dict>
    </dict>
</plist>
