<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>city_soldier_move_Bei45_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{70,68}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,92},{70,68}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>city_soldier_move_Bei45_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{68,70}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,90},{68,70}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>city_soldier_move_Bei45_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,74},{66,68}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,92},{66,68}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>city_soldier_move_Bei45_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,144},{66,68}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,92},{66,68}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>city_soldier_move_Bei45_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{68,68}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,92},{68,68}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>city_soldier_move_Bei45_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{68,70}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,90},{68,70}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>city_soldier_move_Bei45_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,2},{68,68}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,92},{68,68}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>city_soldier_move_Bei45_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{68,70}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,90},{68,70}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>city_soldier_move_Bei45_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,72},{66,68}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,92},{66,68}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>city_soldier_move_Bei45_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,2},{66,68}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,92},{66,68}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>city_soldier_move_Bei45_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{68,68}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,92},{68,68}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>city_soldier_move_Bei45_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,74},{70,68}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,92},{70,68}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>city_soldier_move_Bei45_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{70,70}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,90},{70,70}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>city_soldier_move_Bei45_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,144},{68,70}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,90},{68,70}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>city_soldier_move_Zheng45_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,144},{64,66}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,94},{64,66}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>city_soldier_move_Zheng45_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,2},{64,68}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,93},{64,68}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>city_soldier_move_Zheng45_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,142},{64,66}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,94},{64,66}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>city_soldier_move_Zheng45_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,142},{64,66}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,94},{64,66}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>city_soldier_move_Zheng45_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,72},{66,66}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,94},{66,66}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>city_soldier_move_Zheng45_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,140},{64,66}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,94},{64,66}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>city_soldier_move_Zheng45_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,2},{66,66}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,94},{66,66}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>city_soldier_move_Zheng45_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,138},{64,66}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,94},{64,66}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>city_soldier_move_Zheng45_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,72},{64,68}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,93},{64,68}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>city_soldier_move_Zheng45_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,2},{64,68}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,92},{64,68}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>city_soldier_move_Zheng45_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,72},{64,68}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,92},{64,68}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>city_soldier_move_Zheng45_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,70},{66,66}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,94},{66,66}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>city_soldier_move_Zheng45_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,138},{64,66}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,94},{64,66}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>city_soldier_move_Zheng45_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,138},{64,66}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,94},{64,66}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>city_soldier_move_Zheng45_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,68},{64,68}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,92},{64,68}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>city_soldier_sit_Bei45_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,72},{66,68}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,92},{66,68}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>city_soldier_sit_Zheng45_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,138},{64,66}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,94},{64,66}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>city_move.png</string>
            <key>size</key>
            <string>{738,217}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bebc2a8ddfd11dbd4e2154acd9e4a07d:f6feff5a57129fe6d09baa0b661cb6c2:3735d093acc541e1e0d2baaeb54a4342$</string>
            <key>textureFileName</key>
            <string>city_move.png</string>
        </dict>
    </dict>
</plist>
